Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

Update fenix.toml (#489)
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

Update fakespot-in-suggest.toml (#536)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps to latest (#519)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

Clarify source naming; update link to generated SQL (#483)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/multi_product.toml
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_ios.toml
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  opmon/all-browsers-dau.toml
  opmon/desktop-dau.toml
Due: validate-opmon, validate-metrics, validate-looker, build-docs, base-revision="main"

Metrics for wallpaper and weather experiments (#468)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Added new fields as per Ads team feedback (#510)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create july-moments-page-fakespot.toml (#566)
  jetstream/july-moments-page-fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use bigquery-etl dryrun function for dryruns (#502)
  .circleci/validation-config.yml
  .script/requirements.txt
  .script/validate.py
Due: build-docs, base-revision="main"

feat: add aggregation_units to metric and datasource (#553)
  lib/metric-config-parser/metric_config_parser/__init__.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Compute exposure metrics for Yelp (#475)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update weather-suggestions-simplified.toml (#476)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Enable linear-model based mean inferences (#491)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Test for generating correct sql for data source with null client_id column (#484)
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_query_with_null_client_id.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
Due: build-docs, base-revision="main"

Redo Generated Looker explore for PPA measurements (#490)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

fix desktop toml defs (#525)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add highlights to pdf outcome (#508)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Add additional metrics to july experiments (#540)
  jetstream/fx-view-discoverability-early-day-users.toml
  jetstream/fx-view-discoverability-existing-users.toml
  jetstream/recommend-add-ons-staff-pick-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

add pdf handle metrics to toml (#520)
  jetstream/highlighting-in-pdfs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Weather simplified (#474)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-3616 Update Metric-Hub DAU and KPI metrics (#561)
  definitions/firefox_desktop.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

fixes #469, excludes toolbar-badge and toast_notification as part of other_ping_volume
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Adds missing _ping for both ping types in ping volume metrics
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Fixes toolbar-badge metric using dash rather than undescore
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Exclude 'toast_notification' and 'toolbar_badge' as part of other_ping_volume (#567)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Add `tagged_search_count` to preenrollment metrics (#568)
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create us-review-checker-v2-holdback-experiment.toml
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update us-review-checker-v2-holdback-experiment.toml
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create us-review-checker-v2-holdback-experiment.toml (#569)
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update us-review-checker-v2-holdback-experiment.toml (#570)
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add support for randomization_unit and analysis_unit in experiment config
  .gitignore
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Update july-moments-page-fakespot.toml
  jetstream/july-moments-page-fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update july-moments-page-fakespot.toml (#571)
  jetstream/july-moments-page-fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

more comprehensive tests for analysis units
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, base-revision="main"

remove unused import
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, base-revision="main"
