Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

bug 1838698 - Add alerts to Firefox Desktop Messaging System opmon dash
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1838698 - Add alerts to Firefox Desktop Messaging System opmon dash (#138)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

Update limited-font-visibility-for-fingerprinters.toml
  jetstream/limited-font-visibility-for-fingerprinters.toml
Due: validate-jetstream, build-docs

Update limited-font-visibility-for-fingerprinters.toml (#139)
  jetstream/limited-font-visibility-for-fingerprinters.toml
Due: validate-jetstream, build-docs

Add a Population Ratio Metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Stringify list
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add ad click rate to Suggest Outcomes
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

Update CI dependencies
  .script/requirements.txt
Due: build-docs

Update CI dependencies (#141)
  .script/requirements.txt
Due: build-docs

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

Fix metrics validation for depends_on metrics
  .script/validate.py
Due: build-docs

Fix metrics validation for depends_on metrics (#142)
  .script/validate.py
Due: build-docs

Add a Population Ratio Metric (#140)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, validate-metrics, build-docs

bug 1838698 - Add friendly names and descriptions to all metrics in the Messaging System config
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1838698 - Add friendly names and descriptions to all metrics in the Messaging System config (#143)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

Remove log_space from deciles stats
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Remove log_space from deciles stats (#145)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Update urlbar searches
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

Update urlbar searches (#146)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

add fenix fxa metric
  definitions/fenix.toml
Due: validate-metrics, build-docs

Add config for nav suggestion experiment
  jetstream/navigational-suggestions.toml
Due: validate-jetstream, build-docs

Add config for nav suggestion experiment (#148)
  jetstream/navigational-suggestions.toml
Due: validate-jetstream, build-docs

Update navigational-suggestions.toml
  jetstream/navigational-suggestions.toml
Due: validate-jetstream, build-docs

Update navigational-suggestions.toml (#149)
  jetstream/navigational-suggestions.toml
Due: validate-jetstream, build-docs

Add sponsored tiles metrics
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs

Update experiment column type
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add sponsored tiles metrics (#150)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs

rename metric and change sql
  definitions/fenix.toml
Due: validate-metrics, build-docs

add fenix fxa metric (#147)
  definitions/fenix.toml
Due: validate-metrics, build-docs

point to correct fxa metric
  jetstream/release-android-onboarding-redesign.toml
Due: validate-jetstream, build-docs

add config for release-android-onboarding-redesign
  jetstream/release-android-onboarding-redesign.toml
Due: validate-jetstream, build-docs

fix typo
  jetstream/release-android-onboarding-redesign.toml
Due: validate-jetstream, build-docs

fix comma
  jetstream/release-android-onboarding-redesign.toml
Due: validate-jetstream, build-docs

Release android onboarding redesign (#151)
  jetstream/release-android-onboarding-redesign.toml
Due: validate-jetstream, build-docs

Update networking.toml
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Update networking.toml (#152)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Optimize networking outcome
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Optimize networking outcome (#153)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs
