Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Add SSL metrics (#81)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update focus_ios.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Fix main datasource `
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Fix main datasource ` (#83)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Create android-pre-permission-prompt-experiment-release.toml
  jetstream/android-pre-permission-prompt-experiment-release.toml
Due: validate-jetstream, build-docs

Update android-pre-permission-prompt-experiment-release.toml
  jetstream/android-pre-permission-prompt-experiment-release.toml
Due: validate-jetstream, build-docs

Create android-pre-permission-prompt-experiment-release.toml (#84)
  jetstream/android-pre-permission-prompt-experiment-release.toml
Due: validate-jetstream, build-docs

Update definitions/focus_ios.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Rs650 add focus i os search offset to metrics hub (#82)
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add toml file for import-bookmarks-copy experiment
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

Fix missing closing quote
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

add toml file for import-bookmarks-copy experiment (#85)
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

add mobile DAU definitions
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add links to DTMO
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add `data_sources.baseline_v2` for mobile products
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

point mobile DAU metrics to `baseline_v2` tables
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Add experiment config for dynamic wikipedia
  jetstream/dynamic-wikipedia-suggestions.toml
Due: validate-jetstream, build-docs

Update README.md
  README.md
Due: build-docs

Refactor how overrides are displayed in docs
  .script/templates/data_sources.md
  .script/templates/dimensions.md
  .script/templates/metrics.md
  .script/templates/outcome.md
  .script/templates/segment_data_sources.md
  .script/templates/segments.md
Due: build-docs

Refactor how overrides are displayed in docs (#89)
  .script/templates/data_sources.md
  .script/templates/dimensions.md
  .script/templates/metrics.md
  .script/templates/outcome.md
  .script/templates/segment_data_sources.md
  .script/templates/segments.md
Due: build-docs

Convert `owner` to list of strings
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

convert owner to a list of strings
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add mobile DAU definitions (#86)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add `submission_date_column` and `client_id_column`
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Add config for Awesomebar result menu experiment
  jetstream/awesome-bar-result-menu.toml
Due: validate-jetstream, build-docs

Add files via upload
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-2.toml
Due: validate-jetstream, build-docs

Add files via upload (#92)
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-2.toml
Due: validate-jetstream, build-docs

Add files via upload
  jetstream/firefox-accounts-toolbar-button-default-visibility-2.toml
Due: validate-jetstream, build-docs

Add files via upload (#93)
  jetstream/firefox-accounts-toolbar-button-default-visibility-2.toml
Due: validate-jetstream, build-docs

Add files via upload
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

update Exp dates based on actual release
  jetstream/fx-release-android-re-engagement-notifications-ab-experiment-v112.toml
  jetstream/ios-notification-opt-in-prompt.toml
Due: validate-jetstream, build-docs

Update dates for first run mobile notification experiments (#95)
  jetstream/fx-release-android-re-engagement-notifications-ab-experiment-v112.toml
  jetstream/ios-notification-opt-in-prompt.toml
Due: validate-jetstream, build-docs

add `submission_date_column` and `client_id_column` (#90)
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

First draft
  jetstream/dns-ohttp-dooh.toml
  jetstream/import-infrequent-eco2204-en.toml
Due: validate-jetstream, build-docs

Remove 4th metric
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

missing parenthesis
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

comment out metrics that are coming from outcome
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

use the correct column
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
