Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

test(NOT FOR MERGE): defaults-only scaffolding for Legacy<->Glean comparison
  jetstream/48hr-os-notification-for-churned-resurrected-users.toml
  jetstream/churn-risk-os-notification.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/defaults_and_os_integration.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix(firefox_desktop): make Glean guardrail twins runnable (data-source schema)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update draft-nova-train-hop-and-widgets-experiment.toml
  jetstream/draft-nova-train-hop-and-widgets-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update draft-nova-train-hop-and-widgets-experiment.toml (#1503)
  jetstream/draft-nova-train-hop-and-widgets-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update draft-nova-train-hop-and-widgets-experiment.toml (#1504)
  jetstream/draft-nova-train-hop-and-widgets-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add ad_metrics_native_reporting data source and native metrics (DENG-11013)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

FIX bug: CUPED adjustment mis-keyed
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Test scaffolding (NOT FOR MERGE): trim defaults to six DAU metrics + neutralize 48hr config
  jetstream/48hr-os-notification-for-churned-resurrected-users.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add ad_metrics_native_reporting data source and native metrics (#1505)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add Jetstream config for pip-world-cup-feature-callout
  jetstream/pip-world-cup-feature-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

Neutralize set-to-default-guidance-notification for DAU-metrics test branch
  jetstream/outcomes/firefox_desktop/defaults_and_os_integration.toml
  jetstream/set-to-default-guidance-notification.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for all-users-day-5-reengagement-push (#1422)
  jetstream/all-users-day-5-reengagement-push.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sections-in-germany.toml
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sections-in-germany.toml (#1512)
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for pip-world-cup-feature-callout (#1511)
  jetstream/pip-world-cup-feature-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

test(dau-metrics): neutralize split-view config to six-metric defaults
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

test(dau-metrics): neutralize churn-risk-os-notification to six-metric defaults
  jetstream/churn-risk-os-notification.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix typo in metric descriptions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add Jetstream config for all-users-day-5-reengagement-push (#1422) (#1514)
  jetstream/all-users-day-5-reengagement-push.toml
Due: validate-jetstream, build-docs, base-revision="main"

test(dau-metrics): add CUPED-on/off twins of both DAU metrics
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

test(dau-metrics): make twin select_expressions textually distinct (+ 0)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Revert "test(dau-metrics): make twin select_expressions textually distinct (+ 0)"
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Revert "test(dau-metrics): add CUPED-on/off twins of both DAU metrics"
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Don't set `skip_default_metrics = true` for `all-users-day-5-reengagement-push`.
  jetstream/all-users-day-5-reengagement-push.toml
Due: validate-jetstream, build-docs, base-revision="main"

Don't set `skip_default_metrics = true` for `all-users-day-5-reengage… (#1515)
  jetstream/all-users-day-5-reengagement-push.toml
Due: validate-jetstream, build-docs, base-revision="main"

Prune days_of_use + qcdou from Legacy<->Glean comparison set
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

update to linear model mean and move pocket_newtab outcomes to newtab_do_no_harm
  jetstream/10-shortcuts-per-row.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Defer search-family + unenroll pairs (raw events_stream/serp_events scans too costly)
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

update to linear model mean and move pocket_newtab outcomes to newtab… (#1516)
  jetstream/10-shortcuts-per-row.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Add new "DAU per 1,000 clients" metric for Desktop (#1501)
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps (#1521)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

false end dates for widget financial meeting
  jetstream/hnt-wattle-wcw-cm-de-experiment-june-8.toml
  jetstream/hnt-wattle-wcw-cm-us-experiment-june-8.toml
Due: validate-jetstream, build-docs, base-revision="main"

false end dates for widget financial meeting (#1522)
  jetstream/hnt-wattle-wcw-cm-de-experiment-june-8.toml
  jetstream/hnt-wattle-wcw-cm-us-experiment-june-8.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(metric-config-parser): allow outcomes to declare per-period metric lists
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Add Jetstream config for world-cup-taskbar-tabs-spotlight
  jetstream/world-cup-taskbar-tabs-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for world-cup-start-of-tournament-privacy-campaign
  jetstream/world-cup-start-of-tournament-privacy-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for world-cup-taskbar-tabs-spotlight (#1523)
  jetstream/world-cup-taskbar-tabs-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
