Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

edit jetstream files that depend on device migration metrics
  jetstream/first-run-easy-as-one-click-ver-1.toml
  jetstream/onboarding-welcome-video-experiment.toml
Due: validate-jetstream, build-docs

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update jetstream/definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs

add device migration metrics (#28)
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
  jetstream/first-run-easy-as-one-click-ver-1.toml
  jetstream/onboarding-welcome-video-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs

Create first-run-easy-set-up-fx108.toml
  jetstream/first-run-easy-set-up-fx108.toml
Due: validate-jetstream, build-docs

android-reengagment-notifications
  jetstream/android-reengagment-notifications-release.toml
Due: validate-jetstream, build-docs

Add Jetstream config for parallel marking experiment
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Rerun only experiments changed in PR
  .circleci/validation-config.yml
  jetstream/outcomes/firefox_ios/default_browser.toml
  jetstream/rally-first-prompt-for-users-without-an-enrolled-study-2nd-stage-rollout.toml
  jetstream/rally-first-prompt-for-users-without-an-enrolled-study.toml
Due: validate-jetstream, build-docs

Analyis for Firefox update notification experiments.
  jetstream/mr2022-backgroundtaskmessage-notification-release-1pct.toml
  jetstream/mr2022-backgroundtaskmessage-notification-release-2pct-with-holdback.toml
Due: validate-jetstream, build-docs

Add Jetstream config for parallel marking experiment (#31)
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Add metric definitions for settings
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

update topsites names
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

update sponsored stories naming
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add custom enrollment query
  jetstream/abouthome-startup-cache-3.toml
Due: validate-jetstream, build-docs

Remove unnecessary metrics from parallel marking jetstream config
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Remove unnecessary metrics from parallel marking jetstream config (#38)
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

fix: typo in sql
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: remove sponsored_topsites_enabled
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

feat: add newtab engagement metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: add newtab engagement to outcome
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs

Update jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs

add mobile new profile activation metric definitions for Fenix and Fx iOS
  definitions/fenix.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

fix new_profile_activation data source
  definitions/fenix.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Adjust segments to include os for parallel marking experiment
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Adjust segments to include os for parallel marking experiment (#40)
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Rerun only experiments changed in PR (#35)
  .circleci/validation-config.yml
  jetstream/outcomes/firefox_ios/default_browser.toml
  jetstream/rally-first-prompt-for-users-without-an-enrolled-study-2nd-stage-rollout.toml
  jetstream/rally-first-prompt-for-users-without-an-enrolled-study.toml
Due: validate-jetstream, build-docs

Remove extra metrics to help coax job through
  jetstream/abouthome-startup-cache-3.toml
Due: validate-jetstream, build-docs

fix: rename topsites as tiles
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Removed metrics from `crash_hour` data source
  jetstream/abouthome-startup-cache-3.toml
Due: validate-jetstream, build-docs

Removed metrics from analysis periods
  jetstream/abouthome-startup-cache-3.toml
Due: validate-jetstream, build-docs

Rerun a fox doodle experiment
  jetstream/doodle-pin-to-taskbar-casual-eco2207-en.toml
Due: validate-jetstream, build-docs

Switch cpu_count to cpu_cores in parallel marking experiment
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Switch cpu_count to cpu_cores in parallel marking experiment (#43)
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
Due: validate-jetstream, build-docs

Update doodle-pin-to-taskbar-casual-eco2207-en.toml
  jetstream/doodle-pin-to-taskbar-casual-eco2207-en.toml
Due: validate-jetstream, build-docs
