Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/metric-config-parser/metric_config_parser/featmon.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

WIP: add holdback config for testing
  jetstream/long-term-holdback-2025h1-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Addressing feedback from Mike W.
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Increase drop_highest values in metrics configuration
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Apply suggestions from code review
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adjust drop_highest values for metrics
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create taskbar-tabs-discovery-expanded-impressions-pin-cta.toml (#1401)
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update metrics statistics to use linear model mean
  jetstream/churn-risk-os-notification.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove end_date from experiment settings
  jetstream/optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments for week-1-privacy-focused-nudges-for-resurrected-users (#1403)
  jetstream/week-1-privacy-focused-nudges-for-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create churn-risk-os-notification.toml (#1402)
  jetstream/churn-risk-os-notification.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml (#1404)
  jetstream/optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments, retained_dau, and VPN feature metrics for vpn-mvp-beta-holdback
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments and VPN feature metrics for vpn-mvp-beta-holdback (#1405)
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring (#1396)
  featmon/README.md
  featmon/example_config.toml.example
  featmon/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/featmon.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat(featmon): bump version to 2026.4.3 for from_github_repo addition
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat(featmon): add from_github_repo to FeatmonSpec
  lib/metric-config-parser/metric_config_parser/featmon.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(featmon): integrate featmon configs into ConfigCollection instead of standalone from_github_repo
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/featmon.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Enable segments and extend enrollment_period for vpn-mvp-beta-holdback
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Enable segments and extend enrollment_period for vpn-mvp-beta-holdback (#1407)
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

config for different exp
  jetstream/showing-3rd-sponsored-tile-on-the-newtab-page-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  .script/validate.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/mcp-server/metric_hub_mcp/featmon.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/tests/test_server.py
Due: build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

Update hnt-wattle-three-widgets-in-non-content-market-english-only.toml
  jetstream/hnt-wattle-three-widgets-in-non-content-market-english-only.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update hnt-wattle-three-widgets-in-non-content-market-english-only.toml (#1409)
  jetstream/hnt-wattle-three-widgets-in-non-content-market-english-only.toml
Due: validate-jetstream, build-docs, base-revision="main"

Read from local repo (#1406)
  .script/validate.py
  lib/mcp-server/metric_hub_mcp/featmon.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/tests/test_server.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/featmon.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat(nimbus): add default support for experiment segmentation by several countries
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Add Jetstream config for optimize-multi-actiontail-fox-modals-for-existing-users-v2
  jetstream/optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): add default support for experiment segmentation by several countries (#1408)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Add Jetstream config for optimized-set-to-default-infobar
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Explicitly list is_default_browser to surface in Experimenter UI
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Re-list is_default_browser and retained for Experimenter UI visibility
  jetstream/optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add used_pbm segment to vpn-mvp-beta-holdback
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add used_pbm segment to vpn-mvp-beta-holdback (#1413)
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): add 3dr metric for fenix and ios
  definitions/fenix.toml
  definitions/firefox_ios.toml
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

chore: update rerun-skip message for consistency with README
  .github/workflows/rerun-skip-comment.yml
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
