Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update 1-callout-contextual-chatbot-suggestion.toml
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

undo test
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

test direct oidc
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

testing
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

use dryrun sa for auth
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

undo test change
  jetstream/1-click-pin-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Un-remove outliers for experiment results (#1063)
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: add auth to jetstream validation workflow (#1062)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

fix: rerun-jetstream workflow GHA
  .github/workflows/rerun-jetstream.yml
  jetstream/disable-glean-database-write-time-metric.toml
Due: validate-jetstream, build-docs, base-revision="main"

job permissions
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

temp: update triggers for testing
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

remove reports from ad metrics daily
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

Update client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
  jetstream/client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update client-side-relevance-ranking-for-enhanced-firefox-suggest-pha… (#1071)
  jetstream/client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

comment out kubectl in script
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

use bash instead of sh
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

safe directory for git
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

remove need for git log cmd
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

setup gcloud and test it
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

skip delete pod for now
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

print commit message for testing
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

print event name for testing
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

update metric hub admarketplace to use ads.adm instead
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

update admarketplace metrics to use ads.adm instead (#1072)
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

custom configs for traffic-impact-studies
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove reports from ad metrics daily (#1070)
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

create new outcome for tiles incrementality tests
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

noop instead
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] custom configs for traffic-impact-studies (#1073)
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Removed dismissal metrics since the used newtab_visits datasource.
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove dismissal metrics which used newtab_visits table
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Removed dismissal metrics since the used newtab_visits datasource. (#1076)
  jetstream/traffic-impact-study-1.toml
  jetstream/traffic-impact-study-2.toml
  jetstream/traffic-impact-study-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

friendly name edit
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create desktop-address-autofill-india-release-holdback-copy.toml
  jetstream/desktop-address-autofill-india-release-holdback-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create desktop-address-autofill-australia-release-holdback.toml
  jetstream/desktop-address-autofill-australia-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Ccautofill (#1077)
  jetstream/desktop-address-autofill-australia-release-holdback.toml
  jetstream/desktop-address-autofill-india-release-holdback-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

create new outcome for tiles incrementality tests (#1074)
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
  jetstream/expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
  jetstream/expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
