Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Use legacy client_id in newtab_interactions (#212)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update end date for iOS default browser experiment (#265)
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

Firefox ios health dashboard
  definitions/firefox_ios.toml
  opmon/firefox-ios-dirty-startup.toml
  opmon/firefox-ios-health.toml
Due: validate-opmon, validate-metrics, build-docs

Fx ios health monitor (#266)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs

Add config for MDN experiment
  jetstream/firefox-mdn-web-docs-suggestion-experiment.toml
Due: validate-jetstream, build-docs

Add config for MDN experiment (#267)
  jetstream/firefox-mdn-web-docs-suggestion-experiment.toml
Due: validate-jetstream, build-docs

DENG-1881 OKR 2.6 Performance Review Dashboard Kenya
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

change channel to release
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

empty line at the end
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

fx ios name change
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs

Replace activity stream metrics with newtab
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs

fix for scalar subquery produced more than one element (#263)
  jetstream/bookmarks-toolbar-default-on.toml
Due: validate-jetstream, build-docs

add end date in line with original duration
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

add end date in line with original duration (#270)
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

Replace activity stream metrics with newtab (#269)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs

add addons picker nuo experiment
  jetstream/addon-recommendations-in-nuo.toml
Due: validate-jetstream, build-docs

add addons picker nuo experiment (#271)
  jetstream/addon-recommendations-in-nuo.toml
Due: validate-jetstream, build-docs

Fix missing metric for MDN
  jetstream/firefox-mdn-web-docs-suggestion-experiment.toml
Due: validate-jetstream, build-docs

Fix missing metric for MDN (#273)
  jetstream/firefox-mdn-web-docs-suggestion-experiment.toml
Due: validate-jetstream, build-docs

all metrics
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

metric groups
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

DENG-1881 OKR 2.6 Performance Review Dashboard Kenya (#268)
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

limiting to 1% sample
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

Fix- Deng 1881 okr 2.6 performance review dashboard kenya (#274)
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

Use NULL client_id_columns for desktop DAU
  opmon/desktop-dau.toml
Due: validate-opmon, build-docs

Use NULL client_id_columns for desktop DAU (#275)
  opmon/desktop-dau.toml
Due: validate-opmon, build-docs

fix message key for default-browser-eco-copy
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

Fix message key for default-browser-eco-copy (#276)
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

add config file for pdf with annotations experiment
  jetstream/set-default-pdf-handler-with-annotations.toml
Due: validate-jetstream, build-docs

add config file for pdf with annotations experiment (#277)
  jetstream/set-default-pdf-handler-with-annotations.toml
Due: validate-jetstream, build-docs

All browsers dau
  opmon/all-browsers-dau.toml
Due: validate-opmon, build-docs

All browsers dau (#278)
  opmon/all-browsers-dau.toml
Due: validate-opmon, build-docs

Add config file for fxview next experiment
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Add config file for fxview next experiment (#279)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

start
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

test alternative dashboard
  opmon/performance-review-kenya-2.toml
Due: validate-opmon, build-docs

Deng 1881 okr 2.6 performance review dashboard kenya (#280)
  opmon/performance-review-kenya-2.toml
Due: validate-opmon, build-docs

Update ios-onboarding-search-widget.toml
  jetstream/ios-onboarding-search-widget.toml
Due: validate-jetstream, build-docs
