Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

ci: validate definitions_v2 in metric-hub checks
  .github/workflows/auto-approve.yml
  .github/workflows/validate-metrics.yml
  .script/validate.py
Due: build-docs, base-revision="main"

fix(metric-config-parser): validate V2 metrics once on the merged collection
  definitions_v2/README.md
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric_v2.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(metric-config-parser): allow V1 metadata fields on V2 metrics
  definitions_v2/README.md
  definitions_v2/example_config.toml.example
  lib/metric-config-parser/metric_config_parser/metric_v2.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric_v2.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Add rollout-v2 co-enrollment segments to set-up-your-email-web-app-spotlight-7-28-day-old-profiles config
  jetstream/set-up-your-email-web-app-spotlight-7-28-day-old-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add rollout-v2 co-enrollment segments to set-up-your-email-web-app-spotlight-7-28-day-old-profiles config (#1692)
  jetstream/set-up-your-email-web-app-spotlight-7-28-day-old-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove comments about settings not present in the config
  jetstream/vpn-android-phase-0-holdback-155.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add vpn-android-phase-0-holdback-155 FxA adoption holdback config (#1667)
  jetstream/vpn-android-phase-0-holdback-155.toml
Due: validate-jetstream, build-docs, base-revision="main"

refactor(metric-config-parser): extend MetricDefinition with aggregation fields and a nimbus definitions section
  .github/workflows/auto-approve.yml
  .github/workflows/validate-metrics.yml
  .script/validate.py
  lib/metric-config-parser/metric_config_parser/aggregation.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_v2.py
  lib/metric-config-parser/metric_config_parser/nimbus.py
  lib/metric-config-parser/metric_config_parser/tests/data/nimbus_repo/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/data/nimbus_repo/nimbus/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_nimbus.py
  nimbus/README.md
  nimbus/definitions/example_config.toml.example
Due: build-docs, validate-metric-config-parser, base-revision="main"

Add Jetstream config for first-run-onboarding-refresh
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

include search-related metrics and edit end date
  jetstream/content-and-widgets-in-poland.toml
Due: validate-jetstream, build-docs, base-revision="main"

include search-related metrics and edit end date (#1694)
  jetstream/content-and-widgets-in-poland.toml
Due: validate-jetstream, build-docs, base-revision="main"

refactor(metric-config-parser): address review feedback on nimbus definitions
  .script/validate.py
  README.md
  lib/metric-config-parser/metric_config_parser/nimbus.py
  lib/metric-config-parser/metric_config_parser/tests/data/nimbus_repo/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_nimbus.py
  nimbus/README.md
  nimbus/definitions/example_config.toml.example
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix(jetstream): sample long-term-holdback-2026-growth-desktop by profile group
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix(jetstream): use enrollment_period = 1 for long-term-holdback-2026-growth-desktop
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(metric-config-parser): add V2 metric definition format (#1687)
  .github/workflows/auto-approve.yml
  .github/workflows/validate-metrics.yml
  .script/validate.py
  README.md
  lib/metric-config-parser/metric_config_parser/aggregation.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/nimbus.py
  lib/metric-config-parser/metric_config_parser/tests/data/nimbus_repo/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/data/nimbus_repo/nimbus/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_nimbus.py
  nimbus/README.md
  nimbus/definitions/example_config.toml.example
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix(jetstream): use safe_sample_id for long-term-holdback-2026-growth-desktop sampling
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] fix(jetstream): sample long-term-holdback-2026-growth-desktop by profile group (#1705)
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove active 2+ of days 1-5 metric from first-run-onboarding-refresh
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(metric-config-parser): generate SQL from aggregation fields
  lib/metric-config-parser/metric_config_parser/aggregation.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_aggregation.py
  nimbus/README.md
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix(jetstream): use holdback enrollment dates for long-term-holdback-2026-growth-desktop
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix(jetstream): use holdback enrollment dates for long-term-holdback-2026-growth-desktop (#1707)
  jetstream/long-term-holdback-2026-growth-desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add profile_group_id to custom data sources
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for first-run-onboarding-refresh (#1693)
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

first-run-onboarding-refresh: drop import-screen reach, pin from Glean
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

first-run-onboarding-refresh: drop import-screen reach, read pin from Glean (#1708)
  jetstream/first-run-onboarding-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
