Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

fixed the new profile metric error
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

Update android-default-toolbar-placement.toml
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Update android-default-toolbar-placement.toml (#198)
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Removed the CTAs metrics from the onboarding outcome file
  jetstream/outcomes/firefox_desktop/onboarding.toml
Due: validate-jetstream, build-docs

Adding the onboarding out file
  jetstream/outcomes/fenix/onboarding.toml
Due: validate-jetstream, build-docs

Adding onboarding outcomes file
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Updated definition files for fenix and iOS
  definitions/fenix.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Adding Segmentation for attribution
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

Onboarding outcomes, updated definition files and config for ctd (#199)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  jetstream/on-boarding-challenge-the-default.toml
  jetstream/outcomes/fenix/onboarding.toml
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, validate-metrics, build-docs

Networking outcome cross channel support
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Networking outcome cross channel support (#200)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

added coalesce to non clicks
  definitions/fenix.toml
Due: validate-metrics, build-docs

updated the metric names in the outcome file
  jetstream/outcomes/fenix/onboarding.toml
Due: validate-jetstream, build-docs

Fennix onboarding cta fix (#201)
  definitions/fenix.toml
  jetstream/outcomes/fenix/onboarding.toml
Due: validate-jetstream, validate-metrics, build-docs

Update lifestyles-images-onboarding-experiment-v3.toml
  jetstream/lifestyles-images-onboarding-experiment-v3.toml
Due: validate-jetstream, build-docs

Update lifestyles-images-onboarding-experiment-v3.toml (#202)
  jetstream/lifestyles-images-onboarding-experiment-v3.toml
Due: validate-jetstream, build-docs

Create mobile-default-browser-cta-copy-test-ios.toml
  jetstream/mobile-default-browser-cta-copy-test-ios.toml
Due: validate-jetstream, build-docs

Update mobile-default-browser-cta-copy-test-ios.toml
  jetstream/mobile-default-browser-cta-copy-test-ios.toml
Due: validate-jetstream, build-docs

Create mobile-default-browser-cta-copy-test-ios.toml (#203)
  jetstream/mobile-default-browser-cta-copy-test-ios.toml
Due: validate-jetstream, build-docs

segmenting android results and updated metrics
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

statistics for the cta metrics
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

segmenting android results and updated metrics (#204)
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

desktop config
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

updated definition file
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

config to override iOS enrollment dates
  jetstream/release-ios-on-boarding-challenge-the-default-copy.toml
Due: validate-jetstream, build-docs

added experiment arrary to datasource table
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

Removed onboarding ctas from the outcome file
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Ios ctd onboarding (#206)
  definitions/firefox_ios.toml
  jetstream/outcomes/firefox_ios/onboarding.toml
  jetstream/release-ios-on-boarding-challenge-the-default-copy.toml
Due: validate-jetstream, validate-metrics, build-docs

specified experiment column
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

edits to experiment column
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

desktop config (#205)
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

bug 1843406 - Filter out null and Other channels
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1843406 - Give undesired-events pings their own plot
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1843406 - Remove historical diff alerts and activate threshold alert
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

Bug1843406 messaging system tweaks (#208)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

add initial autofill metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

frecency outcome
  jetstream/outcomes/firefox_desktop/frecency.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
