Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

version bump
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Create cbb-us-hold-back-with-promo-v2.toml
  jetstream/cbb-us-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update cbb-us-hold-back-with-promo-v2.toml
  jetstream/cbb-us-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

update for serp table schema change
  jetstream/cbb-us-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add support for randomization_unit and analysis_unit in experiment config (#572)
  .gitignore
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Create cbb-eu-hold-back-with-promo-v2.toml
  jetstream/cbb-eu-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create cbb-row-hold-back-with-promo-v2.toml
  jetstream/cbb-row-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

PBM metrics for global cbb experiments (#577)
  jetstream/cbb-eu-hold-back-with-promo-v2.toml
  jetstream/cbb-row-hold-back-with-promo-v2.toml
  jetstream/cbb-us-hold-back-with-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Filter spocs generated explore to only SPOCs
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

create spotlight impression exposure event
  jetstream/1-click-set-to-default-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

change experiments_column_type to glean
  jetstream/1-click-set-to-default-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

create spotlight impression exposure event (#579)
  jetstream/1-click-set-to-default-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

add certificate revocation check metrics and outcome
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add certificate revocation check metrics and outcome (#581)
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

update toml file
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

update toml file (#582)
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update websites definitions
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

Update websites definitions (#583)
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

chore: migrate to pyproject and lint/format
  .circleci/validation-config.yml
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/cli.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/dimension.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/exposure_signal.py
  lib/metric-config-parser/metric_config_parser/function.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_group.py
  lib/metric-config-parser/metric_config_parser/monitoring.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/parameter.py
  lib/metric-config-parser/metric_config_parser/population.py
  lib/metric-config-parser/metric_config_parser/project.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_alert.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_function.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/setup.cfg
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

fix black/isort configs
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/cli.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/dimension.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/exposure_signal.py
  lib/metric-config-parser/metric_config_parser/function.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_group.py
  lib/metric-config-parser/metric_config_parser/monitoring.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/parameter.py
  lib/metric-config-parser/metric_config_parser/population.py
  lib/metric-config-parser/metric_config_parser/project.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_alert.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_function.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

chore: migrate to pyproject and lint/format (#590)
  .circleci/validation-config.yml
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/dimension.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/exposure_signal.py
  lib/metric-config-parser/metric_config_parser/function.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_group.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/parameter.py
  lib/metric-config-parser/metric_config_parser/population.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/setup.cfg
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

chore: upgrade deps (incl mozilla-nimbus-schemas with pydantic2)
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

chore: upgrade deps (incl mozilla-nimbus-schemas with pydantic2) (#591)
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

Install build to fix metric-config-parser deploys
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

Bump version
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Test build in CI
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

Install build tool in CI
  .circleci/validation-config.yml
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

build backend
  .circleci/validation-config.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Install build to fix metric-config-parser deploys (#592)
  .circleci/validation-config.yml
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
Due: build-docs, base-revision="main"

Update config.yml
  .circleci/config.yml
Due: build-docs, base-revision="main"

bump version
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Update config.yml (#594)
  .circleci/config.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

chore: pin min version of nimbus schemas
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

chore: pin min version of nimbus schemas (#595)
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Skip 1-click-set-to-default-existing-profiles-rollout
  opmon/1-click-set-to-default-existing-profiles-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Skip 1-click-set-to-default-existing-profiles-rollout (#596)
  opmon/1-click-set-to-default-existing-profiles-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  base-revision="main": any of: .*
