Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

remove metrics that are coming from outcomes
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

add double check metrics
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

Add config for DNS over Oblivious HTTPS experiment (#96)
  jetstream/dns-ohttp-dooh.toml
  jetstream/import-infrequent-eco2204-en.toml
Due: validate-jetstream, build-docs

Create stricter_pbm.toml
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

Update stricter_pbm.toml
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

Create stricter_pbm.toml (#97)
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

Create first-run-easy-set-up-fx111.toml
  jetstream/first-run-easy-set-up-fx111.toml
Due: validate-jetstream, build-docs

Support for ci rerun-skip
  .circleci/validation-config.yml
Due: build-docs

[ci rerun-skip] Bot to inform about rerun-skip
  .circleci/validation-config.yml
  .github/workflows/rerun-skip-comment.yml
Due: build-docs

[ci rerun-skip] Rerun skip support (#99)
  .circleci/validation-config.yml
  .github/workflows/rerun-skip-comment.yml
Due: build-docs

Update dns-ohttp-dooh.toml
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

Update dns-ohttp-dooh.toml (#100)
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

Update pdfjs-feature-callout.toml
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

Update pdfjs-feature-callout.toml (#102)
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

Revert exposure query for PDFjs experiment
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

Revert exposure query for PDFjs experiment (#103)
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

Create device-migration-new-user-onboarding-pt-2.toml
  jetstream/device-migration-new-user-onboarding-pt-2.toml
Due: validate-jetstream, build-docs

Create device-migration-new-user-onboarding-pt-2.toml (#104)
  jetstream/device-migration-new-user-onboarding-pt-2.toml
Due: validate-jetstream, build-docs

Create onboarding.toml
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Create iOS Onboarding Outcome (#105)
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Update persist-search-term-staged-rollout-phase-1.toml
  jetstream/persist-search-term-staged-rollout-phase-1.toml
Due: validate-jetstream, build-docs

Revert "Revert exposure query for PDFjs experiment (#103)"
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

[ci rerun-skip] Create first-run-easy-set-up-fx111.toml (#98)
  jetstream/first-run-easy-set-up-fx111.toml
Due: validate-jetstream, build-docs

[ci rerun-skip] Revert "Revert exposure query for PDFjs experiment" (#107)
  jetstream/pdfjs-feature-callout.toml
Due: validate-jetstream, build-docs

Add experiment config for dynamic wikipedia (#87)
  jetstream/dynamic-wikipedia-suggestions.toml
Due: validate-jetstream, build-docs

Update persist-search-term-staged-rollout-phase-1.toml (#106)
  jetstream/persist-search-term-staged-rollout-phase-1.toml
Due: validate-jetstream, build-docs

add and update DAU definitions
  definitions/cross_product.toml
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add null client_id to active_users_aggregates data_sources
  definitions/cross_product.toml
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

fix copy-pasta error
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Persist search term new metrics (#111)
  jetstream/persist-search-term-staged-rollout-phase-1.toml
Due: validate-jetstream, build-docs

Update definitions/firefox_ios.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Update definitions/cross_product.toml
  definitions/cross_product.toml
Due: validate-metrics, build-docs
