Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create search-result-de-duplication.toml (#903)
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed da8ba40f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Move webcompat metrics to events_stream
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

experiments_column_type = "events_stream"
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

+event_extra
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Move webcompat metrics to events_stream (#941)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

legacy_telemetry_client_iid must be used of the webcompat metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

legacy_telemetry_client_iid must be used of the webcompat metrics (#942)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml (#940)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

ETP and webcompat reporter statistics should be binomial
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/webcompat.toml
  jetstream/storage-access-grant-heuristic-restriction.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

metrics for bernoulli variables should be ints
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

ETP and webcompat reporter statistics should be binomial (#944)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/webcompat.toml
  jetstream/storage-access-grant-heuristic-restriction.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop credit card autofill global enablement holdback (#945)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

config for 1-callout contextual chatbot experiment
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Config for 1-callout contextual chatbot experiment (#946)
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

test changed files trigger
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

print any_changed
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

test any changed condition
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

test condition syntax
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

print all changed files
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

update changed-files workflow
  .github/workflows/changed-files.yml
Due: build-docs, base-revision="main"

test syntax
  .github/workflows/changed-files.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

print results from changed-files
  .github/workflows/changed-files.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

rearrange changed job
  .github/workflows/changed-files.yml
Due: build-docs, base-revision="main"

test changed dep within file
  .github/workflows/changed-files.yml
Due: build-docs, base-revision="main"

fix typo in changed workflow outputs
  .github/workflows/changed-files.yml
Due: build-docs, base-revision="main"

clean up tests
  .github/workflows/auto-approve.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/rerun-skip-comment.yml
Due: build-docs, base-revision="main"

test rerun-skip-comment
  .github/workflows/rerun-skip-comment.yml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

test validate-jetstream
  jetstream/defaults/focus_ios.toml
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update search-result-de-duplication.toml (#947)
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update search-result-de-duplication.toml (#948)
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update address-bar-update-launch-hold.toml
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Kicking off a manual update (#949)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: add profile_group_id to webcompat outcome datasource
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

bump mcp in validate
  .script/requirements.txt
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
