Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Off mainthread ondatafinished experiment (#313)
  jetstream/off-mainthread-ondatafinished-experiment-in-beta.toml
Due: validate-jetstream, build-docs

update off-mainthread-ondatafinished-experiment.toml
  jetstream/off-mainthread-ondatafinished-experiment-in-beta.toml
Due: validate-jetstream, build-docs

Off mainthread ondatafinished experiment (#314)
  jetstream/off-mainthread-ondatafinished-experiment-in-beta.toml
Due: validate-jetstream, build-docs

Create set-default-pdf-handler-rollout.toml
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Update set-default-pdf-handler-rollout.toml
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Create set-default-pdf-handler-rollout.toml (#315)
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

include locale segmentation
  jetstream/new-user-test-copy-about-privacy-speed-security-fr-it-de-fx119.toml
Due: validate-jetstream, build-docs

include locale segmentation (#316)
  jetstream/new-user-test-copy-about-privacy-speed-security-fr-it-de-fx119.toml
Due: validate-jetstream, build-docs

Creating new data_source and pointing most dismissal metrics to it. Also added metrics for organic tile dismissals.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Removing dupe entry.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update cbhqps-german-roll-out.toml
  jetstream/cbhqps-german-roll-out.toml
Due: validate-jetstream, build-docs

Create android-onboarding-search-widget.toml
  jetstream/android-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Update cbhqps-german-roll-out.toml (#318)
  jetstream/cbhqps-german-roll-out.toml
Due: validate-jetstream, build-docs

Create android-onboarding-search-widget.toml (#319)
  jetstream/android-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Add struct name to topsite_tile_interactions field
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add parallel marking 2 jetstream config
  jetstream/parallel-marking-experiment-2.toml
Due: validate-jetstream, build-docs

Escape underscores in `LIKE` patterns.
  definitions/firefox_desktop.toml
  jetstream/bookmarks-toolbar-default-on.toml
  jetstream/bug-1698297-pref-fission-m7-beta-experiment-beta-88-89.toml
  jetstream/bug-1706428-pref-fission-m7-beta-experiment-with-memory-filter-beta-89-91.toml
  jetstream/bug-1712979-pref-fission-beta-90-experiment-beta-90-91.toml
  jetstream/bug-1719576-pref-fission-beta-91-experiment-beta-91-91.toml
  jetstream/bug-1722112-pref-fission-process-count-nightly-92-94.toml
  jetstream/bug-1722551-pref-full-js-parsing-experiment-nightly-94-94.toml
  jetstream/bug-1724054-pref-fission-beta-92-experiment-beta-92-92.toml
  jetstream/bug-1725055-pref-fission-release-92-experiment-release-92-92.toml
  jetstream/bug-1727420-pref-fission-beta-93-process-count-experiment-beta-93-93.toml
  jetstream/bug-1731908-pref-fission-beta-94-95-experiment-beta-94-95.toml
  jetstream/bug-1780829-pref-impact-of-concurrent-delazification-nightly-107-107.toml
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
  jetstream/ctd-marketing-attribution.toml
  jetstream/firefox-ios-homepage-experiment-sponsored-shortcuts.toml
  jetstream/impact-of-race-cache-with-network-feature.toml
  jetstream/parallel-marking-experiment.toml
  jetstream/speculative-connect-sockets.toml
  opmon/desktop-dau.toml
Due: validate-opmon, validate-jetstream, validate-metrics, build-docs

[ci skip-rerun] Escape underscores in `LIKE` patterns (#321)
  definitions/firefox_desktop.toml
  jetstream/bookmarks-toolbar-default-on.toml
  jetstream/bug-1698297-pref-fission-m7-beta-experiment-beta-88-89.toml
  jetstream/bug-1706428-pref-fission-m7-beta-experiment-with-memory-filter-beta-89-91.toml
  jetstream/bug-1712979-pref-fission-beta-90-experiment-beta-90-91.toml
  jetstream/bug-1719576-pref-fission-beta-91-experiment-beta-91-91.toml
  jetstream/bug-1722112-pref-fission-process-count-nightly-92-94.toml
  jetstream/bug-1722551-pref-full-js-parsing-experiment-nightly-94-94.toml
  jetstream/bug-1724054-pref-fission-beta-92-experiment-beta-92-92.toml
  jetstream/bug-1725055-pref-fission-release-92-experiment-release-92-92.toml
  jetstream/bug-1727420-pref-fission-beta-93-process-count-experiment-beta-93-93.toml
  jetstream/bug-1731908-pref-fission-beta-94-95-experiment-beta-94-95.toml
  jetstream/bug-1780829-pref-impact-of-concurrent-delazification-nightly-107-107.toml
  jetstream/bug-1811065-pref-impact-of-parallel-marking-v2-nightly-111-112.toml
  jetstream/ctd-marketing-attribution.toml
  jetstream/firefox-ios-homepage-experiment-sponsored-shortcuts.toml
  jetstream/impact-of-race-cache-with-network-feature.toml
  jetstream/parallel-marking-experiment.toml
  jetstream/speculative-connect-sockets.toml
  opmon/desktop-dau.toml
Due: validate-opmon, validate-jetstream, validate-metrics, build-docs

Update set-default-pdf-handler-rollout.toml (#322)
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Add parallel marking 2 jetstream config (#320)
  jetstream/parallel-marking-experiment-2.toml
Due: validate-jetstream, build-docs

Create android-review-checker-new-users.toml
  jetstream/android-review-checker-new-users.toml
Due: validate-jetstream, build-docs

How is it 2024 already?
  jetstream/android-review-checker-new-users.toml
Due: validate-jetstream, build-docs

Update android-review-checker-new-users.toml
  jetstream/android-review-checker-new-users.toml
Due: validate-jetstream, build-docs

Create android-review-checker-existing-users.toml
  jetstream/android-review-checker-existing-users.toml
Due: validate-jetstream, build-docs

Create android-review-checker-new-users.toml (#323)
  jetstream/android-review-checker-existing-users.toml
  jetstream/android-review-checker-new-users.toml
Due: validate-jetstream, build-docs

Update higher placement experiment config
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs

Update higher placement experiment config (#325)
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs

Retrigger analysis for pdf experiment (#326)
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Update cbhqps-german-roll-out.toml (#327)
  jetstream/cbhqps-german-roll-out.toml
Due: validate-jetstream, build-docs

Addressing comment--updating for 0-index in newtab.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Specifying legacy_telemetry_client_id to new data_source
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

[AD-144] Creating new data_source and pointing most dismissal metrics to it. Also new metrics for organic tile dismissals. (#317)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Enable segments for higher placement
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs
