Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Add desktop socket crash metrics
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Looker CI validation
  .circleci/config.yml
  .circleci/validation-config.yml
  .script/validate.py
Due: build-docs

Demo fenix feature usage (#367)
  .circleci/config.yml
  .circleci/validation-config.yml
  .script/validate.py
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Firefox set-as-default (UserChoice) metrics.
  opmon/firefox-user-choice.py
  opmon/firefox-user-choice.toml
Due: validate-opmon, build-docs

Firefox set-as-default (UserChoice) metrics. (#370)
  opmon/firefox-user-choice.py
  opmon/firefox-user-choice.toml
Due: validate-opmon, build-docs

Scale Firefox set-as-default (UserChoice) metrics by 100 to account for `sample_id`.
  opmon/firefox-user-choice.toml
Due: validate-opmon, build-docs

Scale Firefox set-as-default (UserChoice) metrics by 100 to account for `sample_id` (#371)
  opmon/firefox-user-choice.toml
Due: validate-opmon, build-docs

Update firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Update firefox_ios.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs

Update focus_ios.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs

Update focus_android.toml
  jetstream/defaults/focus_android.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Enable pre-enrollment bias monitoring (#373)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs

fix: update jetstream defaults to use non-deprecated search count
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

fix: update other section of toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] fix: update jetstream defaults to use non-deprecated search count (#375)
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Update README.md
  jetstream/README.md
Due: validate-jetstream, build-docs

Update pages-ranking-experiment-revised.toml
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs

Create pages-ranking-experiment-revised.toml
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs

Create yelp_suggestions.toml
  jetstream/yelp_suggestions.toml
Due: validate-jetstream, build-docs

Pages ranking experiment (#372)
  jetstream/README.md
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs

update new_profile_activation source definition to point to the new activation table
  definitions/firefox_ios.toml
  jetstream/ios-search-bar-placement-impact-assessment.toml
Due: validate-jetstream, validate-metrics, build-docs

feat(DENG-2431): Update new_profile_activation source definition to point to the new activation table (#368)
  definitions/firefox_ios.toml
  jetstream/ios-search-bar-placement-impact-assessment.toml
Due: validate-jetstream, validate-metrics, build-docs

Update pages-ranking-experiment-revised.toml (#376)
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs

Sample for android-add-ons-extension-process-release
  opmon/android-add-ons-extension-process-release-rollout.toml
Due: validate-opmon, build-docs

Sample for android-add-ons-extension-process-release (#377)
  opmon/android-add-ons-extension-process-release-rollout.toml
Due: validate-opmon, build-docs

Update firefox_desktop.toml
  looker/definitions/firefox_desktop.toml
Due: build-docs

adds night mode segment
  jetstream/ios-night-mode.toml
Due: validate-jetstream, build-docs

adds night mode segment (#379)
  jetstream/ios-night-mode.toml
Due: validate-jetstream, build-docs

Update picture_in_picture.toml
  jetstream/outcomes/firefox_desktop/picture_in_picture.toml
Due: validate-jetstream, build-docs

Point new tab metrics to clients daily
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add config file for fix guide reader mode
  jetstream/fox-guide-reader-mode-existing-user-part-2.toml
Due: validate-jetstream, build-docs

Apply suggestions from code review
  jetstream/fox-guide-reader-mode-existing-user-part-2.toml
Due: validate-jetstream, build-docs

Update jetstream/fox-guide-reader-mode-existing-user-part-2.toml
  jetstream/fox-guide-reader-mode-existing-user-part-2.toml
Due: validate-jetstream, build-docs

add config file for fox guide reader mode (#383)
  jetstream/fox-guide-reader-mode-existing-user-part-2.toml
Due: validate-jetstream, build-docs

Update picture_in_picture.toml (#381)
  jetstream/outcomes/firefox_desktop/picture_in_picture.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
