Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

update allowed experiment annotations
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, base-revision="main"

Update validation-config.yml
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

fixed column type
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, base-revision="main"

updated metric validation
  .script/templates/validation_query.sql
  .script/validate.py
Due: build-docs, base-revision="main"

updated metric validation
  .script/validate.py
Due: build-docs, base-revision="main"

updated metric validation
  .script/templates/validation_query.sql
Due: build-docs, base-revision="main"

Create one-click-set-to-default-new-users.toml
  jetstream/one-click-set-to-default-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

android PWVS config upload
  jetstream/android-private-window-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

android PWVS config upload (#533)
  jetstream/android-private-window-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

moved highlights to first OR statement
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

moved highlights to first OR statement (#535)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update fakespot-in-suggest.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Include impression rate; Include a Remote Settings latency to the metrics definition list
  definitions/firefox_desktop.toml
  jetstream/fakespot.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update fakespot.toml
  jetstream/fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

simplify adm logic
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fakespot.toml
  jetstream/fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix a naming error
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

minor fix
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

[MRG] Create fakespot-in-suggest.toml (#486)
  definitions/firefox_desktop.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update fakespot-in-suggest.toml (#536)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add additional metrics to july experiments
  jetstream/fx-view-discoverability-early-day-users.toml
  jetstream/fx-view-discoverability-existing-users.toml
  jetstream/recommend-add-ons-staff-pick-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add additional metrics to july experiments (#540)
  jetstream/fx-view-discoverability-early-day-users.toml
  jetstream/fx-view-discoverability-existing-users.toml
  jetstream/recommend-add-ons-staff-pick-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add sponsored impressions in jetstream metric definition
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adding config file for thumbs up/down exp on pocket newtab
  jetstream/Showing thumbs up/down on the pocket newtab page (Holdback)
Due: validate-jetstream, build-docs, base-revision="main"

Delete jetstream/Showing thumbs up directory
  jetstream/Showing thumbs up/down on the pocket newtab page (Holdback)
Due: validate-jetstream, build-docs, base-revision="main"

Adding a custom config file in jetstream for Thumbs Up/Down Experiement
  jetstream/Showing thumbs up-down button on the pocket newtab recs (Holdback)
Due: validate-jetstream, build-docs, base-revision="main"

feat: add aggregation_units to metric and datasource
  lib/metric-config-parser/metric_config_parser/__init__.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

remove print stmts
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, base-revision="main"

fix aggregation_units with default metric definition; add valid test cases
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, base-revision="main"

fix parameters for test
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, base-revision="main"

Create monitor-customer-satisfaction
  opmon/monitor-customer-satisfaction.toml
Due: validate-opmon, build-docs, base-revision="main"

change to
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, base-revision="main"

Create monitor-customer-satisfaction (#555)
  opmon/monitor-customer-satisfaction.toml
Due: validate-opmon, build-docs, base-revision="main"
