Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

add ad_impressed_client metric
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

add metrics for statistics
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Search related guardrail metrics added
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

create ad-per-client metric (#967)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

minor updates in formats/calculations
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

debugging
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

create statistics for ad_metrics_daily metrics
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

spacing nit
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

create milli-impressions
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

create revenue per ad
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

update instance of impressions
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

sap event stream data source added and sap search count updated
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Create statistics for ad_metrics_daily (#982)
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

Create accounts-vpn-promotion custom config
  jetstream/accounts-vpn-promotion
Due: validate-jetstream, build-docs, base-revision="main"

Update accounts-vpn-promotion
  jetstream/accounts-vpn-promotion
Due: validate-jetstream, build-docs, base-revision="main"

Create off-train-aa-test-release.toml
  jetstream/off-train-aa-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create off-train-aa-test-release.toml (#985)
  jetstream/off-train-aa-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml (#986)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

create revenue per ad metric
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create accounts-vpn-promotion custom config (#984)
  jetstream/accounts-vpn-promotion
Due: validate-jetstream, build-docs, base-revision="main"

create revenue per ad metric (#987)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Apply suggestions from code review
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Glean guardrails for Desktop (#927)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

adding median and p95 metrics to hnt visit duration
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Adding median and p95 to hnt visit duration (#988)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci rerun-skip] Update first-time-wallpaper-newtab.toml
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update first-time-wallpaper-newtab.toml
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update first-time-wallpaper-newtab.toml (#989)
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix ads related ratio statistics
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"
