Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

[ci skip] Deployed 0cd44b8f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix syntax errors
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

OIDC pypi publishing
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

use gh-pages actions for publishing docs
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

Update whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update whats-new-notification-tab-groups.toml
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update whats-new-notification-sidebarvertical-tabs.toml (#1045)
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 64186ea9 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
  jetstream/client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update serp.toml
  jetstream/outcomes/firefox_desktop/serp.toml
Due: validate-jetstream, build-docs, base-revision="main"

oidc auth
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

test metric validation
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove test metric
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix workflow syntax
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

test metric change
  .github/workflows/validate-metric-config-parser.yml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

test base metric change
  definitions/klar_ios.toml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix typo in path
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

install requests for validate script
  .script/requirements.txt
Due: build-docs, base-revision="main"

install local m-c-p for validate workflows
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

read permissions for setup-python
  .github/workflows/build-docs.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

workaround detached head issue
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

Update serp.toml (#1047)
  jetstream/outcomes/firefox_desktop/serp.toml
Due: validate-jetstream, build-docs, base-revision="main"

update experiment length
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update experiment length (#1053)
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

add token format to auth
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

syntax
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

add token audience
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

get GH token from env var
  .script/validate.py
Due: build-docs, base-revision="main"

export token to env var
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

include sa in token
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

refactor checkout-and-auth into reusable workflow
  .github/workflows/checkout-and-auth.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

add permissions to auth workflow
  .github/workflows/checkout-and-auth.yml
Due: build-docs, base-revision="main"

Create mozilla-vpn-suggestions-holdback.toml
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create mozilla-vpn-suggestions-holdback.toml (#1054)
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

add step ID
  .github/workflows/checkout-and-auth.yml
Due: build-docs, base-revision="main"
