Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Create onboarding-set-up-checklist-windows.toml
  jetstream/onboarding-set-up-checklist-windows.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update onboarding-set-up-checklist-windows.toml
  jetstream/onboarding-set-up-checklist-windows.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create onboarding-set-up-checklist-windows.toml (#692)
  jetstream/onboarding-set-up-checklist-windows.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2f6d0e7d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

updated enrollments query
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

updated enrollments query (#699)
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed e7f0dbe5 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create account-adoption-app-menu-experiment-firefox-release.toml
  jetstream/account-adoption-app-menu-experiment-firefox-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-adoption-app-menu-experiment-firefox-release.toml (#700)
  jetstream/account-adoption-app-menu-experiment-firefox-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 94e37d45 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create ios-optimize-onboarding-card-order.toml
  jetstream/ios-optimize-onboarding-card-order.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ios-optimize-onboarding-card-order.toml (#701)
  jetstream/ios-optimize-onboarding-card-order.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 5f73a763 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add sync_to_mobile metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

create mobile adoption configs
  definitions/firefox_desktop.toml
  jetstream/desktop-feature-callout-signed-into-account.toml
  jetstream/desktop-to-mobile-adoption-promo-signed-into-account-eu.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Mobile adoption promo configs (#707)
  definitions/firefox_desktop.toml
  jetstream/desktop-feature-callout-signed-into-account.toml
  jetstream/desktop-to-mobile-adoption-promo-signed-into-account-eu.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed 07cabb9e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

sidebar and chatbot engagement
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

exposure for users who upgrade to 133
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

chatbot disable
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

sidebar disable
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

Sidebar new and existing users experiments (#708)
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 6cdb5a6a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

MPP-3983: add Relay integration metrics outcome
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix metrics for sidebar experiments
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix metrics for sidebar experiments (#713)
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 3508d33d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Example config for monitoring Glean network http errors
  opmon/firefox-desktop-networking.toml
Due: validate-opmon, build-docs, base-revision="main"

Create mozilla-vpn-in-private-browsing.toml
  jetstream/mozilla-vpn-in-private-browsing.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create mozilla-vpn-in-private-browsing.toml (#715)
  jetstream/mozilla-vpn-in-private-browsing.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 4ebec8ec with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create account-spotlight-modal-english-holdback.toml
  jetstream/account-spotlight-modal-english-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-spotlight-modal-english-holdback-esr.toml
  jetstream/account-spotlight-modal-english-holdback-esr.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-spotlight-modal-english-holdback.toml
  jetstream/account-spotlight-modal-english-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-spotlight-modal-english-holdback.toml (#716)
  jetstream/account-spotlight-modal-english-holdback-esr.toml
  jetstream/account-spotlight-modal-english-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
