Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Filter event_stream table to event_category on search engine default events
  jetstream/address-bar-update-donoharm.toml
Due: validate-jetstream, build-docs, base-revision="main"

Filter event_stream to event_category on search engine defaul events (#834)
  jetstream/address-bar-update-donoharm.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9e13cb5d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

tab groups message exposure
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Tab groups message exposure (#835)
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 1c44999a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add Webcompat JetStream Outcome
  jetstream/outcomes/firefox_desktop/webcompat.toml
Due: validate-jetstream, build-docs, base-revision="main"

Extracting campaign_name_custom
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Use Glean, not legacy for refreshes
  jetstream/outcomes/firefox_desktop/webcompat.toml
Due: validate-jetstream, build-docs, base-revision="main"

Move to definitions so they can easily be used in opmon
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/webcompat.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Add Webcompat JetStream Outcome (#836)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/webcompat.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Simplifying query feeding data_source
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Adding custom campaign name (#837)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed bb203447 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Let's try to define a rollout!
  opmon/chips-rollout-to-firefox-beta.toml
Due: validate-opmon, build-docs, base-revision="main"

adding statistics
  opmon/chips-rollout-to-firefox-beta.toml
Due: validate-opmon, build-docs, base-revision="main"

changing population
  opmon/chips-rollout-to-firefox-beta.toml
Due: validate-opmon, build-docs, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml (#844)
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed a4903506 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

rename statistics to opmon names
  opmon/chips-rollout-to-firefox-beta.toml
Due: validate-opmon, build-docs, base-revision="main"

Update login-status-advisory-callout.toml
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update login-status-advisory-callout.toml (#846)
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 14e7405e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add sponsored tiles outcome metrics to shortcuts-visual-refresh
  jetstream/shortcuts-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

add sponsored tiles outcome metrics to shortcuts-visual-refresh (#847)
  jetstream/shortcuts-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 30922add with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add custom metrics to overall window
  jetstream/shortcuts-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] add custom metrics to overall window (#848)
  jetstream/shortcuts-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 8d2340dd with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

DENG-7785: Add new external data sources
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Update external.toml
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Fix description
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Fix submission date column NULL strings
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Add empty newline at end of TOML
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Add client id column
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Remove submission date and client id notes
  definitions/external.toml
Due: validate-metrics, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
