Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

add config
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Remove outdated SPOCs looker view
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

fix: auth for validate-opmon
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix: auth for validate-opmon (#1215)
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix: permissions for validate-opmon job
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix: permissions for validate-opmon job (#1216)
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix: workaround to fix git in opmon
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix: workaround to fix git in opmon (#1217)
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix metric
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

DS-4368 - updating config file
  jetstream/desktop-address-autofill-austria-release-holdback.toml
  jetstream/desktop-address-autofill-italy-release-holdback.toml
  jetstream/desktop-address-autofill-poland-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-4368 - updating config file (#1218)
  jetstream/desktop-address-autofill-austria-release-holdback.toml
  jetstream/desktop-address-autofill-italy-release-holdback.toml
  jetstream/desktop-address-autofill-poland-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix ratio stats
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

remove ctrs
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

set boolean_pref
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

add dimensions section
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Add config for FR billboard experiment (#1212)
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

fix: downsample to fix worker resource issues
  jetstream/suggesting-past-the-dot.toml
Due: validate-jetstream, build-docs, base-revision="main"

sample rate 10
  jetstream/suggesting-past-the-dot.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: downsample to fix worker resource issues (#1225)
  jetstream/suggesting-past-the-dot.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-address-autofill-austria-release-holdback.toml
  jetstream/desktop-address-autofill-austria-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-address-autofill-poland-release-holdback.toml
  jetstream/desktop-address-autofill-poland-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-address-autofill-austria-release-holdback.toml (#1226)
  jetstream/desktop-address-autofill-austria-release-holdback.toml
  jetstream/desktop-address-autofill-poland-release-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

create new version of organic topsite interactions and clicks that uses a smaller table
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

create new version of organic topsite interactions and clicks (#1227)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Cleaning up unnecessary artifacts
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

add false end date for smart shortcuts
  jetstream/smart-shortcuts-v3-lr.toml
Due: validate-jetstream, build-docs, base-revision="main"

add false end date for smart shortcuts (#1229)
  jetstream/smart-shortcuts-v3-lr.toml
Due: validate-jetstream, build-docs, base-revision="main"

Cleaning up old ads metrics (#1228)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

remove newtab_clients_daily from looker definitions
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

remove newtab_interactions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

replace pocket interactions dataset with newtab visits and update exposure_signal
  definitions/firefox_desktop.toml
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"
