Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

New Tab wallpaper and weather configs (#471)
  jetstream/home-and-newtab-wallpapers-v1-highlight.toml
  jetstream/home-and-newtab-wallpapers-v1-spotlight.toml
  jetstream/home-and-newtab-weather-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix sponsored topsite enabled definition (#472)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

adding metric definition for search_with_ads_organic for mobile (#454)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Create weather-suggestions-simplified.toml
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Test for generating correct sql for data source with null client_id column
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_query_with_null_client_id.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
Due: build-docs, base-revision="main"

Update weather-suggestions-simplified.toml
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create weather-suggestions-simplified.toml (#473)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Weather simplified (#474)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Compute exposure metrics
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Compute exposure metrics for Yelp (#475)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update weather-suggestions-simplified.toml (#476)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove the weekly computations
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fakespot.toml
  jetstream/fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

Point DAU link to correct table
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Point DAU link to correct table (#482)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Clarify source naming; update link to generated SQL
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Aggregate consolidated ads data to daily for spoc metrics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Aggregate consolidated ads data to daily for spoc metrics (#485)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Include impression rate; Include a Remote Settings latency to the metrics definition list
  definitions/firefox_desktop.toml
  jetstream/fakespot.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update fakespot.toml
  jetstream/fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

PPA conversions metric for Looker
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Test for generating correct sql for data source with null client_id column (#484)
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_query_with_null_client_id.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
Due: build-docs, base-revision="main"

Add submission_date to from_expression for ppa_measurements
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Adjust from_expression
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Generated Looker explore for PPA conversions (#487)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Revert "Generated Looker explore for PPA conversions (#487)"
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update fenix.toml
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

Revert "Generated Looker explore for PPA conversions" (#488)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update fenix.toml (#489)
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

desktop
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  base-revision="main": any of: .*
