Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

Point new tab metrics to clients daily (#382)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update validate.py
  .script/validate.py
Due: build-docs, base-revision="main"

Update validate.py (#384)
  .script/validate.py
Due: build-docs, base-revision="main"

Update mozilla-metric-config-parser to latest release
  .script/requirements.txt
Due: build-docs, base-revision="main"

Update mozilla-metric-config-parser to latest release (#385)
  .script/requirements.txt
Due: build-docs, base-revision="main"

fix preenrollment analysis period names
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

bump mcp to latest
  .script/requirements.txt
Due: build-docs, base-revision="main"

[ci skip-rerun] Preenrollment name fix (#386)
  .script/requirements.txt
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox_desktop.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add fox guide reader mode early day user experiment config
  jetstream/fox-guide-reader-mode-early-day-user-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add fox guide reader mode early day user experiment config (#387)
  jetstream/fox-guide-reader-mode-early-day-user-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create cbhqps-german-hold-back-with-promo.toml
  jetstream/cbhqps-german-hold-back-with-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create cbhqps-german-hold-back-with-promo.toml (#388)
  jetstream/cbhqps-german-hold-back-with-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove main-ping derived metrics from PiP outcome
  jetstream/outcomes/firefox_desktop/picture_in_picture.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update picture_in_picture.toml
  jetstream/outcomes/firefox_desktop/picture_in_picture.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update SQL statements of newtab scalars
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci skip-rerun] Remove main-ping derived metrics from PiP outcome (#389)
  jetstream/outcomes/firefox_desktop/picture_in_picture.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adding custom config
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adding suggested changes
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sponsored-suggestion-placement-phase-2.toml
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Reducing CTEs and exposure logic
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

iOS felt privacy config file upload
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Added submission date column
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

iOS felt privacy config file upload (#392)
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Addressing dzeber's feedback
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[RS-1063] Adding custom config for 'sponsored-suggestion-placement-phase-2' (#391)
  jetstream/sponsored-suggestion-placement-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Dropping enrollments filter as per discussion with richard
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

removing the enrollment table from the query
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

removing the enrollment table from the query (#395)
  jetstream/ios-felt-privacy-simplified-nav-and-felt-deletion-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Add note about serp_events table update
  jetstream/cbhqps-german-hold-back-with-promo.toml
  jetstream/cbhqps-german-roll-out.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Add note about serp_events table update (#396)
  jetstream/cbhqps-german-hold-back-with-promo.toml
  jetstream/cbhqps-german-roll-out.toml
Due: validate-jetstream, build-docs, base-revision="main"

add addon metrics to media addon experiment
  jetstream/recommend-media-addons-feature-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"
