Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

Update focus_android.toml
  jetstream/defaults/focus_android.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox_ios.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update focus_ios.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Enable linear-model based mean inferences (#491)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-early-day-user-holdback.toml
  jetstream/fox-guide-reader-mode-early-day-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-early-day-user-holdback.toml (#493)
  jetstream/fox-guide-reader-mode-early-day-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-existing-user-holdback.toml
  jetstream/fox-guide-reader-mode-existing-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-existing-user-holdback.toml (#494)
  jetstream/fox-guide-reader-mode-existing-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "[ci skip-rerun] Enable linear-model based mean inferences (#491)"
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip-rerun] Revert "[ci skip-rerun] Enable linear-model based mean inferences" (#498)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Redo Generated Looker explore for PPA measurements (#490)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create ads.toml
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

Update fenix.toml
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

Update fenix.toml (#499)
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

Update ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update ads.toml (#501)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Use bigquery-etl dryrun function for dryruns
  .script/requirements.txt
  .script/validate.py
Due: build-docs, base-revision="main"

Klar change
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

CI authenticate
  .circleci/validation-config.yml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Use bigquery-etl dryrun function for dryruns (#502)
  .circleci/validation-config.yml
  .script/requirements.txt
  .script/validate.py
Due: build-docs, base-revision="main"

Fix merging joins
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Fix merging joins (#504)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

add highlights to pdf outcome
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix spacing
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add highlights to pdf outcome (#508)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Revert "[ci skip-rerun] Revert "[ci skip-rerun] Enable linear-model based mea…"
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Added new fields as per Ads team feedback
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Added new fields as per Ads team feedback (#510)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip-rerun] re-enable covariate adjustment (#509)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use jetstream service key in CI
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

Use jetstream service key in CI (#511)
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

added pdf handler metrics and outcome
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf_handler.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

added pdf handler metrics and outcome (#513)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf_handler.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

update outstanding data_source names and documentation links
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/multi_product.toml
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_ios.toml
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  opmon/all-browsers-dau.toml
  opmon/desktop-dau.toml
Due: validate-opmon, validate-metrics, validate-looker, build-docs, base-revision="main"

another table name correction
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Create full-page-translations-on-android-v2.toml
  jetstream/full-page-translations-on-android-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create full-page-translations-on-android-v2.toml (#514)
  jetstream/full-page-translations-on-android-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps to latest
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

add pdf handle metrics to toml
  jetstream/highlighting-in-pdfs.toml
Due: validate-jetstream, build-docs, base-revision="main"

add pdf handle metrics to toml (#520)
  jetstream/highlighting-in-pdfs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  base-revision="main": any of: .*
