Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Include milli_impressions statistic
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

fix ads related ratio statistics (#990)
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

add countries join to ad-metrics-daily
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

add countries join to ad-metrics-daily (#991)
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

add number of reports to looker
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

update all the single quote ratios to double quotes
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

update denominators for ads_per_client
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

typo
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

fix: noop everything non-default
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix ratio statistics naming and style
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

move some metrics into looker layer
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

count chatbot frequency multiple times per day
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

count chatbot frequency multiple times per day (#998)
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] fix: noop everything non-default (#996)
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

add quotes
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Fix resolving app_name
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Test ads validation
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

Use newest metric config parser version in CI
  .circleci/validation-config.yml
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Remove ads test
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

Fix types
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Make data source hasheable
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Undo ads definition change
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Bump version
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Bump version andd use repo version in CI
  .circleci/validation-config.yml
  .script/requirements.txt
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Fix resolving app_name (#999)
  .circleci/validation-config.yml
  .script/requirements.txt
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Fix ratio statistics naming and remove unused metrics (#997)
  definitions/ads.toml
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

add number of reports to looker (#992)
  definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

Fix generate_docs to get unique data sources
  .script/generate_docs.py
  lib/metric-config-parser/metric_config_parser/data_source.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Fix build docs (#1000)
  .script/generate_docs.py
Due: build-docs, base-revision="main"

[ci skip] Deployed 5e18667d with MkDocs version: 1.3.0
  data_sources/ads/index.html
  data_sources/fenix/index.html
  data_sources/firefox_desktop/index.html
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/ads/index.html
  metrics/firefox_desktop/index.html
  outcomes/fenix/awesomebar/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pdf_handler/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

create metrics for ratio statistics
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

create metrics for ratio statistics (#1001)
  looker/definitions/ads.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 91ade190 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add config and outcomes for pdf signatures experiment
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

add aggregation
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove redundant metrics
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add coalesce
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config and outcomes for pdf signatures experiment (#1002)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed f1529f45 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/firefox_desktop/pdf/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
