Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Updating the way that the histogram is calculated
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Revert "Adding new set of metrics for the Mac OS Background Tab Power Savings…"
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Updating metric syntax
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Updating quotes
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Fixing quotes
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Quotes fix
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Dev rvasquez macos background tab power savings: metrics edit (#356)
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

add new profile retention outcomes
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add quotes
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add daily weekly monthly retention metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

missing quotes
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

submission_date
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

remove client_id column
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add null client_id column
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update macos-background-tab-power-savings.toml
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Update macos-background-tab-power-savings.toml (#358)
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

DENG-2739 Mozilla VPN Dashboard add session_counts by ping_info reasons
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

DENG-2739 Mozilla VPN Dashboard add session_counts by ping_info reasons (#359)
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Looker configs
  looker/README.md
  looker/definitions/README.md
Due: build-docs

Looker configs (#360)
  looker/README.md
  looker/definitions/README.md
Due: build-docs

Add config for cross-platform Android relaunch
  jetstream/enhanced-cross-platform-suggest-android-relaunch.toml
Due: validate-jetstream, build-docs

Add config for cross-platform Android relaunch (#361)
  jetstream/enhanced-cross-platform-suggest-android-relaunch.toml
Due: validate-jetstream, build-docs

Updates for New Tab Do No Harm
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs

Fix typo
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs

Update experiment column type
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Fix CI errors
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Updates for New Tab Do No Harm (#362)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs

Fix segment validation
  .script/validate.py
Due: build-docs

Fix segment validation (#363)
  .script/validate.py
Due: build-docs

Fix submission_date_column names
  .script/validate.py
  definitions/firefox_desktop.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Fix submission_date_column names (#364)
  .script/validate.py
  definitions/firefox_desktop.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

add descriptions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

missing quite
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add clients_last_seen data source
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add new profile retention outcomes (#357)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

remove duplicate metric definitions from onboarding outcome
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

fix onboarding metric definition (#366)
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Fenix bookmark Looker metrics
  definitions/fenix.toml
  looker/definitions/fenix.toml
Due: validate-metrics, build-docs

Remediating query complexity
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
