Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Create external.toml
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

Adding new custom field extracted from ad URL
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[AD-743] Adding custom campaign name 2 (#852)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add client ID and submission date column info
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 81322514 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Fix population by country data source
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

Create new external.toml (#853)
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 18f6c96a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create android-top-of-suggest-placement-re-run.toml
  jetstream/android-top-of-suggest-placement-re-run.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-top-of-suggest-placement-re-run.toml (#854)
  jetstream/android-top-of-suggest-placement-re-run.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9988b4ad with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Delete looker/definitions/external.toml
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

Delete looker/definitions/external.toml (#855)
  looker/definitions/external.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 4579783e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

change source of fenix awesomebar outcomes
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

check for both awesomebar events
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix typo
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

change source of fenix awesomebar outcomes (#856)
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 300f7109 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/awesomebar/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create encourage-use-of-search-bar-on-mobile.toml
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create encourage-use-of-search-bar-on-mobile.toml (#857)
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 04f792d6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fixing the query error found
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

add desktop-release-show-relay-to-all-browsers config
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fixing syntax error on select_expression
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix typo
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

add desktop-release-show-relay-to-all-browsers config (#859)
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed cac9ab0d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

sidebar engagement
  jetstream/introduce-the-new-sidebar-callout-136.toml
Due: validate-jetstream, build-docs, base-revision="main"

Sidebar engagement for Sidebar callout experiment v136 (#860)
  jetstream/introduce-the-new-sidebar-callout-136.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2a59804d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update the vertical tab metric definition
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update the friendly name for the vertical tab metric
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update the description for the vertical tab engagement metrics
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

renaming the vertical tab engagement metrics
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update the statistical method for the vertical tab engagement metrics
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"
