Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

add paranthesis
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove client_id key
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove newtab_interactions (#1238)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci rerun-skip] replace pocket interactions dataset with newtab visits and update exposure_signal (#1239)
  definitions/firefox_desktop.toml
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove tile interactions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove search interactions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove from outcomes toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove tile interactions (#1240)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

set end_date as 28 days after the enrollment end date
  jetstream/jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Firefox vpn alpha ds (#1246)
  jetstream/jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix (#1247)
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Add Piined to Windows Taskbar to windows-10-eos-reminder-messaging experiment
  jetstream/windows-10-eos-reminder-messaging.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Add Pinned to Windows Taskbar to windows-10-eos-reminder-messaging experiment (#1248)
  jetstream/windows-10-eos-reminder-messaging.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove search interactions (#1241)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

update metric
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix config
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove now unnused dataset
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

use existing metric
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

change statistic to mean because it's no longer boolean-valued
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

back to binomial
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Incrementality metric refactor (#1252)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove references to deprecated metric
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
  jetstream/shortcuts-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

replace broken metric
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

replace broken metric in firefox_desktop (#1254)
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

actually remove datasources
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

actually remove datasources (#1255)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

update to use firefox_desktop.telemetry
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove unused metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

deprecate activity_stream metrics and update jestream defintions
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

removing these data sources that somehow sneak back in
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove deprecated wallpaper and widget metrics (#1256)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

deprecate activity_stream metrics and update jestream defintions (#1257)
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Overwrite irrelevant outcome metrics
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/firefox-vpn-for-windows-10-users.toml
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

statistics portion removed following Mike's suggestion
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove some codes causing the error in the validation check
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"
