Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Update ios-onboarding-search-widget.toml
  jetstream/ios-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Update ios-onboarding-search-widget.toml (#281)
  jetstream/ios-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

status quo
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

limit kenya sample
  opmon/performance-review-kenya-2.toml
Due: validate-opmon, build-docs

fix typo
  opmon/performance-review-kenya-2.toml
Due: validate-opmon, build-docs

Deng 1881 okr 2.6 performance review dashboard kenya (#282)
  opmon/performance-review-kenya-2.toml
Due: validate-opmon, build-docs

update sample size for Kenya
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

Deng 1881 okr 2.6 performance review dashboard kenya (#283)
  opmon/performance-review-kenya.toml
Due: validate-opmon, build-docs

Updates measurement period for RC experiments
  jetstream/review-checker-119-existing-user-profiles.toml
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

Updates measurement period for RC experiments (#284)
  jetstream/review-checker-119-existing-user-profiles.toml
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

include downsample and exposure signal
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

removing metrics only meant for treatment branch comparison
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

include downsample and exposure signal (#285)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Add search forecasting metrics
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Fix typos
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Add metrics to suggest outcome
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

Add metrics to suggest outcome (#287)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

downsample further to 30 percent, remove 4 metrics for ease of computation
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

downsample further to 30 percent, remove metrics (#288)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Add config for cross-platform Suggest desktop experiment
  jetstream/cross-platform-enhanced-suggest.toml
Due: validate-jetstream, build-docs

Add config for cross-platform Suggest desktop experiment (#289)
  jetstream/cross-platform-enhanced-suggest.toml
Due: validate-jetstream, build-docs

DS-3276 Mozilla VPN dashboard
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

limit data source events
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

limit data source events (#291)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Remove mobile metrics and data sources
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Add config for cross-platform Suggest on Android
  jetstream/cross-platform-enhanced-suggest-android.toml
Due: validate-jetstream, build-docs

Add config for cross-platform Suggest on Android (#292)
  jetstream/cross-platform-enhanced-suggest-android.toml
Due: validate-jetstream, build-docs

add old telemetry
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

add old telemetry (#293)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Ds 3276 mozilla vpn dashboard (#290)
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

change exposure signal to working telemetry
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

change exposure signal to working telemetry (#294)
  jetstream/firefox-view-update-experiment.toml
Due: validate-jetstream, build-docs

Update review-checker-119-existing-user-profiles.toml
  jetstream/review-checker-119-existing-user-profiles.toml
Due: validate-jetstream, build-docs

Update review-checker-119-new-profiles.toml
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

Review checker reset end date (#295)
  jetstream/review-checker-119-existing-user-profiles.toml
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

[RS-875] Add search forecasting metrics (#286)
  definitions/multi_product.toml
Due: validate-metrics, build-docs

add duration
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Ds 3276 mozilla vpn dashboard (#296)
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Add config for Suggest higher placement
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs

Add config for Suggest higher placement (#297)
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs
