Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Create android-second-and-seven-day-onboarding.toml (#1463)
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

pull may 31 2026
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

pull may 31 2026 (#1464)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Bearer token authentication
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

Custom metrics for tabgroups-151-onboarding callouts experiment
  jetstream/tab-groups-151-onboarding-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add suggest query normalization config
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Refine to add new and old to both run as defaults for assessment period
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Formatting statistics section for clarity
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

custom config for search metrics
  jetstream/10-shortcuts-per-row.toml
Due: validate-jetstream, build-docs, base-revision="main"

custom config for search metrics (#1488)
  jetstream/10-shortcuts-per-row.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-second-and-seven-day-onboarding.toml
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-second-and-seven-day-onboarding.toml (#1490)
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

add suggest-query-normalization-experiment config
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add profile_group_id
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

refactor data sources
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add suggest-query-normalization-experiment config (#1491)
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Add improved Retention metric for Desktop Defaults (#1455)
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

update config
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for messaging-for-built-in-vpn-151
  jetstream/messaging-for-built-in-vpn-151.toml
Due: validate-jetstream, build-docs, base-revision="main"

update exposure
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for messaging-for-built-in-vpn-151 (#1493)
  jetstream/messaging-for-built-in-vpn-151.toml
Due: validate-jetstream, build-docs, base-revision="main"

update date range
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

update config (#1492)
  jetstream/suggest-query-normalization-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove 28 day preenrollment for Firefox Desktop defaults
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-second-and-seven-day-onboarding.toml (#1495)
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-second-and-seven-day-onboarding.toml (#1496)
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-second-and-seven-day-onboarding.toml (#1500)
  jetstream/android-second-and-seven-day-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add new "DAU per 1,000 clients" metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add statisic calculations for 'DAU per 1,000 clients'
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

FIX typo in new statistic CUPED definition
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add new optional experiment params for forcing reruns
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat: add new optional experiment params for forcing reruns (#1502)
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat(firefox_desktop): add retained_glean, retained_dau_glean, unenroll_glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"
