Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Fix Cumulative values
  jetstream/churned-new-profiles-day-2-resurrection-finish-setup.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update churned new profile experiment (#1360)
  jetstream/churned-new-profiles-day-2-resurrection-finish-setup.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove end date smart-shortcuts-v3-lr3.toml
  jetstream/smart-shortcuts-v3-lr3.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove temp end date from smart-shortcuts holdback
  jetstream/smart-shortcuts-v3-lr3.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove temp end date from smart-shortcuts holdback (#1362)
  jetstream/smart-shortcuts-v3-lr3.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update new-tab-automated-personalization-v4.toml
  jetstream/new-tab-automated-personalization-v4.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update new-tab-automated-personalization-v4.toml (#1363)
  jetstream/new-tab-automated-personalization-v4.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update ios-make-it-easy-for-users-to-pick-where-they-last-left.toml
  jetstream/ios-make-it-easy-for-users-to-pick-where-they-last-left.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update ios-make-it-easy-for-users-to-pick-where-they-last-left.toml (#1364)
  jetstream/ios-make-it-easy-for-users-to-pick-where-they-last-left.toml
Due: validate-jetstream, build-docs, base-revision="main"

add new_profile_count metric and desktop_new_profiles data source
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

add desktop retention metrics and data sources
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

add engagement rate rolling average and YoY to desktop_engagement_dau_v1
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

fix invalid TOML: columns_as_dimensions split across lines
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Adding OKR metrics (Retention, New Profiles, Engagement) (#1365)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Removing mmm reporting
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update frecency-based-sponsored-tiles-poc.toml
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update frecency-based-sponsored-tiles-poc.toml (#1367)
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

[AD-1373] Removing mmm reporting from Looker (#1366)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps (#1368)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

Filter pre-enrollment default users from privacy-is-love experiment
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix exposure-basis analysis for privacy-is-love-valentines-day-campaign
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Address review feedback: JSON_VALUE and GROUP BY ALL
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add partition filter for baseline_clients_daily
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add partition filter for events_stream
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix exposure-basis analysis for privacy-is-love experiment (#1370)
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

update new profile retention metrics to use metric_date as time axis
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

remove ratio statistic from desktop_engagement_dau_v1 rolling average
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Fix new profile retention and engagement ratio metrics (#1372)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

metric-hub MCP (#1358)
  .github/workflows/deploy-mcp-server.yml
  lib/mcp-server/.gitignore
  lib/mcp-server/Dockerfile
  lib/mcp-server/README.md
  lib/mcp-server/SETUP.md
  lib/mcp-server/metric_hub_mcp/__init__.py
  lib/mcp-server/metric_hub_mcp/config.py
  lib/mcp-server/metric_hub_mcp/experimenter.py
  lib/mcp-server/metric_hub_mcp/experiments.py
  lib/mcp-server/metric_hub_mcp/funnels.py
  lib/mcp-server/metric_hub_mcp/metrics.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/pyproject.toml
  lib/mcp-server/tests/__init__.py
  lib/mcp-server/tests/test_server.py
Due: build-docs, base-revision="main"

Add ratio statistic for retention rate and engagement rate metrics
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add ratio statistic for retention rate and engagement rate metrics (#1373)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Fix ratio statistic ordering for retention_count metric
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"
