Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Revert "Update firefox-accounts-toolbar-button-default-visibility-part-2.toml"
  jetstream/firefox-accounts-toolbar-button-default-visibility-part-2.toml
Due: validate-jetstream, build-docs

Update firefox_ios.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Update fenix.toml
  definitions/fenix.toml
Due: validate-metrics, build-docs

Optimize garbage collection config
  opmon/garbage_collection.toml
Due: validate-opmon, build-docs

Optimize garbage collection config (#242)
  opmon/garbage_collection.toml
Due: validate-opmon, build-docs

Update release-ios-set-to-default-instructions-no-x.toml
  jetstream/release-ios-set-to-default-instructions-no-x.toml
Due: validate-jetstream, build-docs

add monitor_cirrus datasource and metric
  definitions/monitor_cirrus.toml
  jetstream/defaults/monitor_cirrus.toml
  jetstream/definitions/monitor_cirrus.toml
Due: validate-jetstream, validate-metrics, build-docs

small changes
  definitions/monitor_cirrus.toml
Due: validate-metrics, build-docs

Update monitor_cirrus.toml
  definitions/monitor_cirrus.toml
Due: validate-metrics, build-docs

Update release-ios-set-to-default-instructions-no-x.toml (#243)
  jetstream/release-ios-set-to-default-instructions-no-x.toml
Due: validate-jetstream, build-docs

[ci rerun-skip] add monitor_cirrus datasource and metric (#244)
  definitions/monitor_cirrus.toml
  jetstream/defaults/monitor_cirrus.toml
  jetstream/definitions/monitor_cirrus.toml
Due: validate-jetstream, validate-metrics, build-docs

subset of outcome metrics
  jetstream/speculative-connect-sockets-increased-population.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Adds DAU as a metric (#238)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, validate-metrics, build-docs

Add config for android-add-ons-extension-process-release-rollout
  opmon/android-add-ons-extension-process-release-rollout.toml
Due: validate-opmon, build-docs

Add config for android-add-ons-extension-process-release-rollout (#246)
  opmon/android-add-ons-extension-process-release-rollout.toml
Due: validate-opmon, build-docs

subset of outcome metrics for `speculative-connect-sockets-increased-population` (#245)
  jetstream/speculative-connect-sockets-increased-population.toml
Due: validate-jetstream, build-docs

Update firefox-accounts-toolbar-button-default-visibility-new-users-part-2.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-part-2.toml
Due: validate-jetstream, build-docs

Update firefox-accounts-toolbar-button-default-visibility-part-2.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-part-2.toml
Due: validate-jetstream, build-docs

Update firefox-accounts-toolbar-button-default-visibility-new-users-p… (#247)
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-part-2.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-part-2.toml
Due: validate-jetstream, build-docs

Update speculative-connect-sockets-increased-population.toml
  jetstream/speculative-connect-sockets-increased-population.toml
Due: validate-jetstream, build-docs

Sample speculative-connect-sockets-increased-population.toml (#249)
  jetstream/speculative-connect-sockets-increased-population.toml
Due: validate-jetstream, build-docs

Create pdf.toml
  jetstream/outcomes/firefox_desktop/pdf.toml
Due: validate-jetstream, build-docs

Create pdf.toml (#250)
  jetstream/outcomes/firefox_desktop/pdf.toml
Due: validate-jetstream, build-docs

Add a networking off-main-thread outcome
  jetstream/outcomes/firefox_desktop/networking_omt.toml
Due: validate-jetstream, build-docs

exposure event for default browser banner
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

Exposure event for default browser banner (#252)
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
