Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

removing the metrics defined twice
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Overwrite irrelevant outcome metrics (#1258)
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove unused datasource
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

feat: add pr warnings for high data processing
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

add failure step in case of actual failure
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

test failure case
  jetstream/test-slug-invalid.toml
Due: validate-jetstream, build-docs, base-revision="main"

add launch metrics for desktop
  definitions/firefox_desktop.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove unused urlbar_events_unnested_results (#1259)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix session metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix launch metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix config
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, build-docs, base-revision="main"

add launch metrics for desktop (#1261)
  definitions/firefox_desktop.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

refactor failure messages
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

test high data warning
  jetstream/firefox-vpn-for-windows-10-users.toml
  jetstream/test-slug-invalid.toml
Due: validate-jetstream, build-docs, base-revision="main"

refactor messaging
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

undo test change
  jetstream/firefox-vpn-for-windows-10-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix failure case
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

feat: add pr warnings for high data processing (#1260)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

add config
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add missing statistics
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

modify segment data_source to include profile_group_id
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

ensure aggregations work when using e.enrollment_date
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add submission_date filter.
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config (#1263)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

use MAX instead of SUM for calculating cumulative counts
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update whats-new-toast-notification-taskbar-tabs-release-v2.toml
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

use MAX instead of SUM for calculating cumulative counts (#1264)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add custom enrollment query for the Taskbar Tabs V2 experiment
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update client_id to profile_group_id in enrollment query
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

update two more instances of client_id
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

added search metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

update looker to change pocket to content
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

update jetstream definitions to use content instead of pocket in names
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

column name fix in looker
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

no more content content
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

dismissals are not better when bigger
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"
