Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

add group_id_column to DataSource and SegmentDataSource
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/segment.py
Due: build-docs, base-revision="main"

version bump
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

add group_id_column to DataSource and SegmentDataSource (#597)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Create awesomebar.toml
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create awesomebar.toml (#605)
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update fakespot-in-suggest.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update fakespot-in-suggest.toml (#607)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create suggest-shipped-domains-android.toml
  jetstream/suggest-shipped-domains-android.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create suggest-shipped-domains-android-new-users.toml
  jetstream/suggest-shipped-domains-android-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create suggest-shipped-domains-android.toml (#608)
  jetstream/suggest-shipped-domains-android-new-users.toml
  jetstream/suggest-shipped-domains-android.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert metric for us-review-checker-v2-holdback-experiment.toml
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove exposure signal from us-review-checker-v2-holdback-experiment.toml
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert custom config for us-review-checker-v2-holdback-experiment.toml (#609)
  jetstream/us-review-checker-v2-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding custom metrics
  jetstream/macos-background-tab-power-savings-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

macos powersaving release adding custom metrics (#617)
  jetstream/macos-background-tab-power-savings-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Create group-id-ab-validation-131.toml
  jetstream/group-id-ab-validation-131.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update group-id-ab-validation-131.toml
  jetstream/group-id-ab-validation-131.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update crlite.toml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update crlite.toml (#619)
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create group-id-aa-validation-131.toml
  jetstream/group-id-aa-validation-131.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Segments attribute to Experiment object
  lib/metric-config-parser/metric_config_parser/experiment.py
Due: build-docs, base-revision="main"

Add configs for group level A/A & A/B validations (#618)
  definitions/firefox_desktop.toml
  jetstream/group-id-aa-validation-131.toml
  jetstream/group-id-ab-validation-131.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update crlite.toml (#620)
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments attribute to Experiment object (#621)
  lib/metric-config-parser/metric_config_parser/experiment.py
Due: build-docs, base-revision="main"

Bump version to 0.8 for PyPI
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Bump version to .8 for PyPI (#623)
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Create group-id-ab-validation-131-clientid.toml
  jetstream/group-id-ab-validation-131-clientid.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create group-id-aa-validation-131-clientid.toml
  jetstream/group-id-aa-validation-131-clientid.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create group-id-ab-validation-131-clientid.toml (#624)
  jetstream/group-id-aa-validation-131-clientid.toml
  jetstream/group-id-ab-validation-131-clientid.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update group-id-aa-validation-131-clientid.toml
  jetstream/group-id-aa-validation-131-clientid.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update group-id-ab-validation-131-clientid.toml
  jetstream/group-id-ab-validation-131-clientid.toml
Due: validate-jetstream, build-docs, base-revision="main"

With legacy client_id now in the events_stream table, update data source and metric (#626)
  definitions/firefox_desktop.toml
  jetstream/group-id-aa-validation-131-clientid.toml
  jetstream/group-id-ab-validation-131-clientid.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Include segments from experiment object in AnalysisSpec resolution
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_segments.py
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  base-revision="main": any of: .*
