Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

Add RPC to search metrics
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

[RS-1242] Add RPC to search metrics (#412)
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

fix #365: fix jetstream-config link and add help info to docs
  .docs/overrides/home.html
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

fix #365: fix jetstream-config link and add help info to docs (#413)
  .docs/overrides/home.html
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

Add ios beta health dashboard in opmon
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Move metric-config-parser to metric-hub lib/
  .circleci/config.yml
  .circleci/validation-config.yml
  .github/dependabot.yml
  lib/README.md
Due: build-docs, base-revision="main"

Create review-checker-v11-experiment.toml
  jetstream/review-checker-v11-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create review-checker-v11-experiment.toml (#419)
  jetstream/review-checker-v11-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Ignore lib changes in auto-approve
  .circleci/validation-config.yml
  .github/workflows/auto-approve.yml
Due: build-docs, base-revision="main"

Fix CI
  .circleci/validation-config.yml
  .github/workflows/auto-approve.yml
Due: build-docs, base-revision="main"

Fix CI (#422)
  .circleci/validation-config.yml
  .github/workflows/auto-approve.yml
Due: build-docs, base-revision="main"

Bump metric-config-parser version
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Remove venv
  .circleci/validation-config.yml
  lib/metric-config-parser/jetstream_config_parser_env/bin/Activate.ps1
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate.csh
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate.fish
  lib/metric-config-parser/jetstream_config_parser_env/bin/black
  lib/metric-config-parser/jetstream_config_parser_env/bin/blackd
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage-3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage3
  lib/metric-config-parser/jetstream_config_parser_env/bin/dmypy
  lib/metric-config-parser/jetstream_config_parser_env/bin/easy_install
  lib/metric-config-parser/jetstream_config_parser_env/bin/easy_install-3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/flake8
  lib/metric-config-parser/jetstream_config_parser_env/bin/isort
  lib/metric-config-parser/jetstream_config_parser_env/bin/isort-identify-imports
  lib/metric-config-parser/jetstream_config_parser_env/bin/jsonschema
  lib/metric-config-parser/jetstream_config_parser_env/bin/mypy
  lib/metric-config-parser/jetstream_config_parser_env/bin/mypyc
  lib/metric-config-parser/jetstream_config_parser_env/bin/normalizer
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip3
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/py.test
  lib/metric-config-parser/jetstream_config_parser_env/bin/pycodestyle
  lib/metric-config-parser/jetstream_config_parser_env/bin/pyflakes
  lib/metric-config-parser/jetstream_config_parser_env/bin/pytest
  lib/metric-config-parser/jetstream_config_parser_env/bin/python
  lib/metric-config-parser/jetstream_config_parser_env/bin/python3
  lib/metric-config-parser/jetstream_config_parser_env/bin/python3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/stubgen
  lib/metric-config-parser/jetstream_config_parser_env/bin/stubtest
  lib/metric-config-parser/jetstream_config_parser_env/pyvenv.cfg
Due: build-docs, base-revision="main"

Update dependency:
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, base-revision="main"

Bump metric-config-parser version (#426)
  .circleci/validation-config.yml
  lib/metric-config-parser/jetstream_config_parser_env/bin/Activate.ps1
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate.csh
  lib/metric-config-parser/jetstream_config_parser_env/bin/activate.fish
  lib/metric-config-parser/jetstream_config_parser_env/bin/black
  lib/metric-config-parser/jetstream_config_parser_env/bin/blackd
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage-3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/coverage3
  lib/metric-config-parser/jetstream_config_parser_env/bin/dmypy
  lib/metric-config-parser/jetstream_config_parser_env/bin/easy_install
  lib/metric-config-parser/jetstream_config_parser_env/bin/easy_install-3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/flake8
  lib/metric-config-parser/jetstream_config_parser_env/bin/isort
  lib/metric-config-parser/jetstream_config_parser_env/bin/isort-identify-imports
  lib/metric-config-parser/jetstream_config_parser_env/bin/jsonschema
  lib/metric-config-parser/jetstream_config_parser_env/bin/mypy
  lib/metric-config-parser/jetstream_config_parser_env/bin/mypyc
  lib/metric-config-parser/jetstream_config_parser_env/bin/normalizer
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip3
  lib/metric-config-parser/jetstream_config_parser_env/bin/pip3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/py.test
  lib/metric-config-parser/jetstream_config_parser_env/bin/pycodestyle
  lib/metric-config-parser/jetstream_config_parser_env/bin/pyflakes
  lib/metric-config-parser/jetstream_config_parser_env/bin/pytest
  lib/metric-config-parser/jetstream_config_parser_env/bin/python
  lib/metric-config-parser/jetstream_config_parser_env/bin/python3
  lib/metric-config-parser/jetstream_config_parser_env/bin/python3.8
  lib/metric-config-parser/jetstream_config_parser_env/bin/stubgen
  lib/metric-config-parser/jetstream_config_parser_env/bin/stubtest
  lib/metric-config-parser/jetstream_config_parser_env/pyvenv.cfg
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Add ios beta health dashboard in opmon (#417)
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add some OKR metrics to Looker
  .script/validate.py
  lib/metric-config-parser/metric_config_parser/templates/data_source_macros.j2
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_data_source_with_join.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_data_source_with_multi_join.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_query_with_joined_data_sources.expected.sql
  lib/metric-config-parser/setup.py
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add release dimension for ios beta
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Fix query name
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add release dimension for ios beta (#432)
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add some OKR metrics to Looker (#430)
  .script/validate.py
  lib/metric-config-parser/metric_config_parser/templates/data_source_macros.j2
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_data_source_with_join.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_data_source_with_multi_join.expected.sql
  lib/metric-config-parser/metric_config_parser/tests/sql/test_generate_query_with_joined_data_sources.expected.sql
  lib/metric-config-parser/setup.py
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add dimensions to ios health dashboard
  opmon/firefox-ios-beta-health.toml
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Revert "Add dimensions to ios health dashboard"
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update dimension
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update opmon/firefox-ios-beta-health.toml
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add dimensions to ios health dashboard (#433)
  opmon/firefox-ios-beta-health.toml
Due: validate-opmon, build-docs, base-revision="main"

add toml files to account toolbar part 3 experiment for new and existing users
  jetstream/firefox-accounts-toolbar-button-default-visibility-existing-users-part-3.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-part-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

add toml files to account toolbar part 3 experiment for new and exist… (#434)
  jetstream/firefox-accounts-toolbar-button-default-visibility-existing-users-part-3.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-new-users-part-3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Join where clause skipping
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/templates/data_source_macros.j2
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Join where clause skipping (#435)
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/templates/data_source_macros.j2
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

adding search with ads organic to metric hub for mobile
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Update naming and queries for urlbar metrics
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update naming and queries for urlbar metrics (#443)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update review-checker-v11-experiment.toml
  jetstream/review-checker-v11-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update review-checker-v11-experiment.toml (#445)
  jetstream/review-checker-v11-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add config for Yelp experiment
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  base-revision="main": any of: .*
