Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Change to events_stream
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Custom config for splitview feature notification exp (#1385)
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update hnt-wattle-three-widgets-in-non-content-market-english-only.toml
  jetstream/hnt-wattle-three-widgets-in-non-content-market-english-only.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update hnt-wattle-three-widgets-in-non-content-market-english-only.toml (#1387)
  jetstream/hnt-wattle-three-widgets-in-non-content-market-english-only.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix Split View Config
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Split retention and usage data sources
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix Split View Config (#1388)
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config for first pull of m5 holdback
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config for first pull of m5 holdback (#1389)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add OS, profile age, and activity segments for week-1-privacy-focused-nudges-for-resurrected-users
  jetstream/week-1-privacy-focused-nudges-for-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

small fix for mcp
  lib/mcp-server/SETUP.md
Due: build-docs, base-revision="main"

small fix for mcp (#1391)
  lib/mcp-server/SETUP.md
Due: build-docs, base-revision="main"

feat(m-c-p): add enrollments query type experiment config override
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add experiment property
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(m-c-p): add enrollments query type experiment config override (#1392)
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Add experiment section to TOML configuration
  jetstream/week-1-privacy-focused-nudges-for-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create vpn-mvp-beta-holdback.toml
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create vpn-mvp-beta-holdback.toml (#1393)
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

pull data for end_date 2036-04-15
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

pull data for end_date 2026-04-15 (#1394)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update hnt-wattle-three-widgets-in-non-content-market-english-only.toml (#1395)
  jetstream/hnt-wattle-three-widgets-in-non-content-market-english-only.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/metric-config-parser/metric_config_parser/nimbus_feature_monitoring.py
  nimbus_feature_monitoring/firefox_desktop.toml
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  lib/metric-config-parser/metric_config_parser/nimbus_feature_monitoring.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Create churn-risk-os-notification.toml
  jetstream/churn-risk-os-notification.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
  jetstream/optimize-multi-actiontail-fox-modals-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: deprecate spotlight-engagement outcome
  jetstream/outcomes/firefox_desktop/spotlight_engagement.toml
Due: validate-jetstream, build-docs, base-revision="main"

specify metric analysis_units
  jetstream/outcomes/firefox_desktop/spotlight_engagement.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: deprecate spotlight-engagement outcome (#1400)
  jetstream/outcomes/firefox_desktop/spotlight_engagement.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix TOML: wrap segments array in [experiment] table
  jetstream/week-1-privacy-focused-nudges-for-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add [segments.data_sources.web_app_events] block
  jetstream/taskbar-tabs-discovery-expanded-impressions-pin-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring
  featmon/README.md
  featmon/example_config.toml.example
  featmon/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/featmon.py
  lib/metric-config-parser/metric_config_parser/nimbus_feature_monitoring.py
  lib/metric-config-parser/pyproject.toml
  nimbus_feature_monitoring/firefox_desktop.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"
