Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

test deploy-metric-config-parser
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

test mcp; enable validate workflows
  .github/workflows/auto-approve.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix build-docs config
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

fix typos
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix syntax
  .github/workflows/build-docs.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix build-docs syntax
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

tweak mcp triggers
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

fix working-directory in mcp
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

actually fix working-directory in mcp
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

add missing runs-on
  .github/workflows/build-docs.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

fix/test
  .github/workflows/changed-files.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

test broader changed_files
  .github/workflows/changed-files.yml
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

test mcp
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

test mcp change
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix: add profile_group_id to sidebar outcome data sources
  jetstream/outcomes/firefox_desktop/sidebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: add profile_group_id to sidebar outcome data sources (#926)
  jetstream/outcomes/firefox_desktop/sidebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed f6b46206 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: ability to specify glean vs legacy client id columns (#914)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 143b7528 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Create fxa_access_method.toml (#923)
  jetstream/outcomes/firefox_desktop/fxa_access_method.toml
Due: validate-jetstream, build-docs, base-revision="main"

calculate metrics for exposures only
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

metrics for smart tab groups experiment
  definitions/firefox_desktop.toml
  jetstream/ai-tab-groups-experiment-with-opt-in-100-population.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

feat: add support for new events_stream experiments_column_type
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add profile group id to metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Smart tab groups (#928)
  definitions/firefox_desktop.toml
  jetstream/ai-tab-groups-experiment-with-opt-in-100-population.toml
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed dbd48e97 with MkDocs version: 1.3.0
  data_sources/firefox_desktop/index.html
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-address-autofill-uk-holdback.toml
  jetstream/desktop-address-autofill-uk-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix exposure signal (#930)
  jetstream/desktop-address-autofill-uk-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 63bf8851 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: add support for new events_stream experiments_column_type (#929)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 7015d677 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/fxa_access_method/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

client id columns updated for baseline clients daily
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

active hour sum in glean added
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

minor fomatting
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

minor formatting
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

cleaning up format
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
