Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Add reference to new view native_desktop_ad_metrics_by_position (#913)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed cd6e09a1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix CTR measures
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

add widget and others visits and clients metrics
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Hnt dashboard widget other reporting (#915)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 32679988 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix others engagement clients statistics sum
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci rerun-skip] end search-v1-homescreen and skip analysis
  jetstream/search-v1-homescreen.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] end search-v1-homescreen and skip analysis (#917)
  jetstream/search-v1-homescreen.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d5867d95 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

change data source table to productionized hnt tables and match field names
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

change data source to productionized hnt tables and match field names (#918)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed e0d49099 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Rename desktop-address-autofill-uk-release-rollout.toml to desktop-address-autofill-uk-holdback.toml
  jetstream/desktop-address-autofill-uk-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Rename desktop-address-autofill-uk-release-rollout.toml to desktop-ad… (#919)
  jetstream/desktop-address-autofill-uk-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed b66540ba with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix typo on clients_daily_aggregates_base_fields
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Update search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix typo on clients_daily_aggregates_base_fields (#920)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 67bcfb98 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[jetstream] Adds enrollment query for Whats New Notification Sidebar Vertical tabs experiment
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

update enrolment query client_id column to analysis_id
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

addresses feedback - query from events_stream to avoid UNNEST
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create FxA_Account.toml
  jetstream/outcomes/firefox_desktop/FxA_Account.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fxa_access_method.toml
  jetstream/outcomes/firefox_desktop/fxa_access_method.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update FxA_Account.toml
  jetstream/outcomes/firefox_desktop/FxA_Account.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update fxa_access_method.toml
  jetstream/outcomes/firefox_desktop/fxa_access_method.toml
Due: validate-jetstream, build-docs, base-revision="main"

[jetstream] Adds enrollment query for Whats New Notification Sidebar/Vertical tabs experiment (#921)
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed ed237b39 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[jetstream] Adds enrollment query for Whats New Notification Tab Groups experiment
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create FxA_Account.toml (#922)
  jetstream/outcomes/firefox_desktop/FxA_Account.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix run conditions; typos
  .github/workflows/auto-approve.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

[jetstream] Adds enrollment query for Whats New Notification Tab Groups (#925)
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c4b820a7 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"
