Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
  jetstream/expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create expand-sign-in-pxi-toolbar-button-with-callout-signed-out-exis… (#1078)
  jetstream/expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update expand-sign-in-pxi-toolbar-button-with-callout-signed-out-exis… (#1087)
  jetstream/expand-sign-in-pxi-toolbar-button-with-callout-signed-out-existing-users-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

test rerun
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

tweak config
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

add GCLOUD_PROJECT
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

install gke auth plugin
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

setup GKE
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

refactors
  .circleci/validation-config.yml
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

more refactors
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

remove test file
  jetstream/disable-glean-database-write-time-metric.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] fix: rerun-jetstream workflow GHA (#1069)
  .circleci/validation-config.yml
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

feat(docs): add DS from_expr to metric docs
  .script/generate_docs.py
  .script/templates/metrics.md
Due: build-docs, base-revision="main"

feat(docs): add DS from_expr to metric docs (#1089)
  .script/generate_docs.py
  .script/templates/metrics.md
Due: build-docs, base-revision="main"

feat(docs): render metric sql
  .script/generate_docs.py
  .script/templates/metrics.md
Due: build-docs, base-revision="main"

feat(docs): render metric sql (#1091)
  .script/generate_docs.py
  .script/templates/metrics.md
Due: build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore: update deps (#1092)
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Create android-trending-and-recent-searches-v1.toml
  jetstream/android-trending-and-recent-searches-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Create android-trending-and-recent-searches-v1.toml (#1094)
  jetstream/android-trending-and-recent-searches-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: gh actions mcp deploy
  .circleci/validation-config.yml
  .github/pull_request_template.md
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

test path filter
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

fix path filter; trivial change to pyproject
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix working directory
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

full path to pyproject
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

test with fetch depth 0
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

change git syntax
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

print git version
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

more explicit branch
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

fetch depth in right job
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

test with version change
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

use origin for branch
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

grep syntax
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

print git diff output
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

give read permissions and update checkout to v5
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

remove testing changes
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
