Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

add addons metrics to addon staff picks experiment
  jetstream/recommend-add-ons-staff-pick-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

add addon metrics to media addons early user experiment
  jetstream/recommend-media-addons-feature-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

add addon metrics to media addon experiment (#397)
  jetstream/recommend-add-ons-staff-pick-relaunch.toml
  jetstream/recommend-media-addons-feature-callout.toml
  jetstream/recommend-media-addons-feature-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-optimize-set-as-default-browser-screen-release.toml
  jetstream/android-optimize-set-as-default-browser-screen-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-optimize-set-as-default-browser-screen-release.toml
  jetstream/android-optimize-set-as-default-browser-screen-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-optimize-set-as-default-browser-screen-release.toml (#398)
  jetstream/android-optimize-set-as-default-browser-screen-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update SQL statements of newtab scalars (#390)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update recommend-add-ons-staff-pick-relaunch.toml
  jetstream/recommend-add-ons-staff-pick-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update recommend-add-ons-staff-pick-relaunch.toml (#399)
  jetstream/recommend-add-ons-staff-pick-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add cpu exception metric
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add cpu exception metric (#400)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add example looker base view
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Create splash-screen-max-duration-test-lower-times.toml
  jetstream/splash-screen-max-duration-test-lower-times.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create splash-screen-max-duration-test-lower-times.toml (#401)
  jetstream/splash-screen-max-duration-test-lower-times.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix firefox-ios-health to add cpu_exception
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Fix firefox-ios-health to add cpu_exception (#402)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Ratio of CPU exceptions to event pings for FF ios
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update firefox-ios-health.toml
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update splash-screen-max-duration-test-lower-times.toml
  jetstream/splash-screen-max-duration-test-lower-times.toml
Due: validate-jetstream, build-docs, base-revision="main"

Ratio of CPU exceptions to event pings for FF ios (#403)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update splash-screen-max-duration-test-lower-times.toml (#404)
  jetstream/splash-screen-max-duration-test-lower-times.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update all metrics to ratios
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update opmon/firefox-ios-health.toml
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update all metrics on ios health to use ratios (#405)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update pages-ranking-experiment-revised.toml
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs, base-revision="main"

[MRG] Update pages-ranking-experiment-revised.toml (#406)
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update pages-ranking-experiment-revised.toml (#407)
  jetstream/pages-ranking-experiment-revised.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add looker_base_fields views for FF desktop and Fenix for Looker
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Looker base view joins (#409)
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add hang exception metric
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add hang exception metric to ios health dashboard (#411)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add looker base views for existings apps that have metrics
  .script/requirements.txt
  .script/validate.py
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_ios.toml
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  looker/definitions/klar_android.toml
  looker/definitions/klar_ios.toml
  looker/definitions/monitor_cirrus.toml
  looker/definitions/multi_product.toml
Due: validate-looker, build-docs, base-revision="main"

Add looker base views for existings apps that have metrics (#410)
  .script/requirements.txt
  .script/validate.py
  looker/definitions/fenix.toml
  looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_ios.toml
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  looker/definitions/klar_android.toml
  looker/definitions/klar_ios.toml
  looker/definitions/monitor_cirrus.toml
  looker/definitions/multi_product.toml
Due: validate-looker, build-docs, base-revision="main"
