Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 6338c31f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Revert "add addon metrics to promote-add-ons-in-onboarding-release.toml (#786)"
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Revert "add addon metrics to promote-add-ons-in-onboarding-release.toml" (#787)
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 23d82967 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Contextual Chatbot Suggestion Experiment
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Contextual Chatbot Suggestion Experiment (#788)
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 6b98d4e6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add custom metrics for android addon experiment
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

add custom metrics for android addon experiment (#789)
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed e8576b55 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create onboarding-customisation-options-release.toml
  jetstream/onboarding-customisation-options-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update onboarding-customisation-options-release.toml
  jetstream/onboarding-customisation-options-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create onboarding-customisation-options-release.toml (#795)
  jetstream/onboarding-customisation-options-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d382099b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create device-migration-accounts-toolbar-icon.toml
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create device-migration-accounts-toolbar-icon.toml (#796)
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 98c26fdc with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

chore: update deps for mcp
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/script/update_deps
Due: build-docs, validate-metric-config-parser, base-revision="main"

add fxa avatar menu events data source
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

add fxa avatar menu events data source (#802)
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2e113b7e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Sidebar button experiment config
  jetstream/sidebar-button-existing-users-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-4200 update FxA Sign-in Rate tooltip
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Sidebar button existing users experiment and FxA Sign-in rate tooltip (#803)
  definitions/firefox_desktop.toml
  jetstream/sidebar-button-existing-users-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed fc35f5ac with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/new_user_onboarding/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Updating queries powering data sources, adding exposure_signal, and commenting out exposure-only metric defs
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps for mcp (#801)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/script/update_deps
Due: build-docs, validate-metric-config-parser, base-revision="main"

[ci skip] Deployed 7a0b3e94 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

chore: version 2025.3.1
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore: update pip in CI
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

chore: version 2025.3.1 (#805)
  .circleci/validation-config.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 953bd24d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

remove commented blocks
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

rename metric to fix tests
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove temp functions
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix experiments field name
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Including `experiments` column to allow proper Jetstream run
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Custom config: Higher placement phase 3 relaunch (#784)
  jetstream/higher-placement-phase-3-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 6c47e34a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
