Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Update firefox_ios.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Remove metric
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Add metric
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

fix default
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

change desc
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Fix metrics validation
  .script/validate.py
Due: build-docs

Fix metrics validation (#349)
  .script/validate.py
Due: build-docs

new metric
  .circleci/validation-config.yml
  .script/validate.py
  definitions/firefox_ios.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, validate-metrics, build-docs

Update set-default-pdf-handler-rollout.toml
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Update set-default-pdf-handler-rollout.toml (#350)
  jetstream/set-default-pdf-handler-rollout.toml
Due: validate-jetstream, build-docs

Create ios-review-checker-existing-users.toml
  jetstream/ios-review-checker-existing-users.toml
Due: validate-jetstream, build-docs

Create ios-review-checker-new-users.toml
  jetstream/ios-review-checker-new-users.toml
Due: validate-jetstream, build-docs

Update ios-review-checker-existing-users.toml
  jetstream/ios-review-checker-existing-users.toml
Due: validate-jetstream, build-docs

Update ios-review-checker-new-users.toml
  jetstream/ios-review-checker-new-users.toml
Due: validate-jetstream, build-docs

iOS Review Checker - results as of 2/1 (#351)
  jetstream/ios-review-checker-existing-users.toml
  jetstream/ios-review-checker-new-users.toml
Due: validate-jetstream, build-docs

Adding new set of metrics for the Mac OS Background Tab Power Savings Experiment
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

fix client_id column name
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

uncomment current metrics
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

change app_definition to os + base
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Ds 3276 mozilla vpn dashboard (#342)
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Update macos-background-tab-power-savings.toml
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Updating jetstream configuration
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Fixing metrics block
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Create restore-fxa-toolbar-menu-panel-on-desktop-existing-users.toml
  jetstream/restore-fxa-toolbar-menu-panel-on-desktop-existing-users.toml
Due: validate-jetstream, build-docs

Create restore-fxa-toolbar-menu-panel-on-desktop.toml
  jetstream/restore-fxa-toolbar-menu-panel-on-desktop.toml
Due: validate-jetstream, build-docs

Peek at fxa experiment results to determine rollout safety (#355)
  jetstream/restore-fxa-toolbar-menu-panel-on-desktop-existing-users.toml
  jetstream/restore-fxa-toolbar-menu-panel-on-desktop.toml
Due: validate-jetstream, build-docs

Fixing metrics definition typo
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Fixing statistical treatment definition for metric
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs

Adding new set of metrics for the Mac OS Background Tab Power Savings… (#352)
  jetstream/macos-background-tab-power-savings.toml
Due: validate-jetstream, build-docs
