Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

[ci skip] Deployed b21d34bc with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/pdf_handler/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update intreaction-frecency-enhancement.toml
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update intreaction-frecency-enhancement.toml (#1033)
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed bba511f7 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update address-bar-update-launch-hold.toml
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update address-bar-update-launch-hold.toml (#1034)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c7d1e4e7 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps (#1035)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

[ci skip] Deployed dd5f59d2 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[ci rerun-skip] no-op serp metric for address-bar-update-launch-hold (#1036)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 4a8b950e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[ci rerun-skip] no-op serp/suggest metrics in intreaction-frecency-enhancement (#1037)
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 61613c6d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[ci rerun-skip] Update intreaction-frecency-enhancement.toml (#1038)
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 274a1a88 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update sponsored_tiles.toml
  jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update whats-new-notification-tab-groups.toml
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments to `whats-new-notification-tab-groups` experiment (#1040)
  definitions/firefox_desktop.toml
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed 455dfef3 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  segments/firefox_desktop/index.html
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update firefox-android-tab-strip-on-tablets-v2.toml
  jetstream/firefox-android-tab-strip-on-tablets-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Adds tagged_search_count to default overall metrics (#1041)
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 128fa31c with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[ci rerun-skip] Update firefox-android-tab-strip-on-tablets-v2.toml (#1042)
  jetstream/firefox-android-tab-strip-on-tablets-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2f059e39 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Chatbot page summarization metrics and early peek date
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

add profile_group_id to data source
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Chatbot page summarization metrics and early peek date (#1043)
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 90cd6880 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

remove exposures filter
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Pinned tabs metrics
  jetstream/pin-frequently-used-websites-141.toml
Due: validate-jetstream, build-docs, base-revision="main"

update metric in overall results
  jetstream/pin-frequently-used-websites-141.toml
Due: validate-jetstream, build-docs, base-revision="main"

Pin promo (#1044)
  jetstream/ai-chatbot-page-summarization-mvp.toml
  jetstream/pin-frequently-used-websites-141.toml
Due: validate-jetstream, build-docs, base-revision="main"
