Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore(deps): update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore(deps): update deps (#1431)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

Add Jetstream config for 48hr-os-notification-for-churned-resurrected-users
  jetstream/48hr-os-notification-for-churned-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for 48hr-os-notification-for-churned-resurrected-users (#1432)
  jetstream/48hr-os-notification-for-churned-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for felt-privacy-faster-the-10-tracker-milestone
  jetstream/felt-privacy-faster-the-10-tracker-milestone.toml
Due: validate-jetstream, build-docs, base-revision="main"

add custom config for false end date
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

adjust date
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

add custom config for false end date (#1434)
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

correct friently name of gt4 metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

correct friendly name of gt4 metric (#1435)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix mistake in definition
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix(ci): validate script includes enrollments for segments
  .gitignore
  .script/templates/validation_query.sql
  .script/validate.py
Due: build-docs, base-revision="main"

test removing workflow path filter
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

feat(nimbus): expand Firefox Desktop feature monitoring coverage
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

remove validate-jetstream path filter
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

feat(nimbus): expand Firefox Desktop feature monitoring coverage (#1438)
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

feat(nimbus): add messaging_system data source and 12 messaging features
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

feat(nimbus): add messaging_system data source and 12 messaging features (#1439)
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

fix(nimbus): remove bookmarks and urlbar features with incorrect metric names
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

fix(nimbus): remove bookmarks and urlbar features with incorrect metric names (#1440)
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

Additional config for split view feature usage metric
  jetstream/split-view-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix(ci): validate script includes enrollments for segments (#1437)
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-metrics.yml
  .gitignore
  .script/templates/validation_query.sql
  .script/validate.py
Due: build-docs, base-revision="main"

fix mistake in organic content impressions definition (#1436)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

feat(nimbus): add urlbar feature monitoring via events data source
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

feat(nimbus): add urlbar feature monitoring via events data source (#1442)
  featmon/firefox_desktop.toml
Due: build-docs, base-revision="main"

update false end date to generate results for today
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

update false end date to generate results for today (#1443)
  jetstream/sections-in-germany.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix aggregation in metric select expression
  jetstream/split-view-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Additional config for split view feature usage metric (#1441)
  jetstream/split-view-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add retained_dau to Desktop metrics; deprecate old retained
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Replace metrics + non-intent segments with onboarding-intent segments only
  jetstream/felt-privacy-faster-the-10-tracker-milestone.toml
Due: validate-jetstream, build-docs, base-revision="main"

Return profile_group_id from onboarding_selection data source
  jetstream/felt-privacy-faster-the-10-tracker-milestone.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for felt-privacy-faster-the-10-tracker-milestone (#1433)
  jetstream/felt-privacy-faster-the-10-tracker-milestone.toml
Due: validate-jetstream, build-docs, base-revision="main"

Swap Desktop default retained to new retained_dau
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: noop broken outcome metrics
  jetstream/windows-10-end-of-support-infobar-de-rerun.toml
  jetstream/windows-10-end-of-support-infobar-es-rerun.toml
  jetstream/windows-10-end-of-support-infobar-fr-rerun.toml
  jetstream/windows-10-end-of-support-infobar-it-rerun.toml
  jetstream/windows-10-end-of-support-infobar-pl-rerun.toml
  jetstream/windows-10-end-of-support-infobar-pt-br-rerun.toml
  jetstream/windows-10-end-of-support-infobar-re-run.toml
  jetstream/windows-10-end-of-support-infobar-ru-rerun.toml
  jetstream/windows-10-end-of-support-infobar-zh-cn-rerun.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix validate-* triggers
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

fix: noop broken outcome metrics (#1444)
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-metrics.yml
  jetstream/windows-10-end-of-support-infobar-de-rerun.toml
  jetstream/windows-10-end-of-support-infobar-es-rerun.toml
  jetstream/windows-10-end-of-support-infobar-fr-rerun.toml
  jetstream/windows-10-end-of-support-infobar-it-rerun.toml
  jetstream/windows-10-end-of-support-infobar-pl-rerun.toml
  jetstream/windows-10-end-of-support-infobar-pt-br-rerun.toml
  jetstream/windows-10-end-of-support-infobar-re-run.toml
  jetstream/windows-10-end-of-support-infobar-ru-rerun.toml
  jetstream/windows-10-end-of-support-infobar-zh-cn-rerun.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
