Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore(parser): update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore(parser): update deps (#1575)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix urlbar impression types to include 'autofill'
  jetstream/adaptive-autofill-revamp.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix urlbar impression types to include 'autofill' (#1576)
  jetstream/adaptive-autofill-revamp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Harden metric-hub MCP server (Wiz exposure finding)
  .github/dependabot.yml
  .github/workflows/deploy-mcp-server.yml
  .github/workflows/scan-mcp-server.yml
  lib/mcp-server/Dockerfile
  lib/mcp-server/metric_hub_mcp/experiments.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/pyproject.toml
  lib/mcp-server/tests/test_server.py
Due: build-docs, base-revision="main"

Bump mcp to 1.28.1 to clear HIGH CVEs; ignore build-tool CVEs
  .github/workflows/scan-mcp-server.yml
  lib/mcp-server/.trivyignore
  lib/mcp-server/pyproject.toml
Due: build-docs, base-revision="main"

Use Mozilla SSDLC security-analysis workflow instead of custom Trivy scan
  .github/workflows/scan-mcp-server.yml
  .github/workflows/ssdlc-actions.yml
  lib/mcp-server/.trivyignore
Due: build-docs, base-revision="main"

Harden metric-hub MCP server (Wiz exposure finding) (#1577)
  .github/dependabot.yml
  .github/workflows/deploy-mcp-server.yml
  .github/workflows/ssdlc-actions.yml
  lib/mcp-server/Dockerfile
  lib/mcp-server/metric_hub_mcp/experiments.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/pyproject.toml
  lib/mcp-server/tests/test_server.py
Due: build-docs, base-revision="main"

feat: ability to specify experiment params in DS from_expression
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_data_source.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat: ability to specify experiment params in DS from_expression (#1590)
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_data_source.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Add vpn-android FxA adoption holdback config (#1535)
  jetstream/vpn-android.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding enrollment periods for android and ios worldcup holdback exp
  jetstream/android-worldcup-feature.toml
  jetstream/ios-worldcup-feature-1512.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding enrollment periods for android and ios worldcup holdback exp (#1592)
  jetstream/android-worldcup-feature.toml
  jetstream/ios-worldcup-feature-1512.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for addons-productivity-extensions-promo
  jetstream/addons-productivity-extensions-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for addons-video-extensions-promo-v2
  jetstream/addons-video-extensions-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for addons-productivity-extensions-promo (#1593)
  jetstream/addons-productivity-extensions-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for addons-video-extensions-promo-v2 (#1594)
  jetstream/addons-video-extensions-promo-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for semantic-history-search-v3
  jetstream/semantic-history-search-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for semantic-history-search-v3 (#1595)
  jetstream/semantic-history-search-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-worldcup-feature.toml
  jetstream/android-worldcup-feature.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-worldcup-feature.toml (#1597)
  jetstream/android-worldcup-feature.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix semantic-history-search-v3 capped ratio metrics
  jetstream/semantic-history-search-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix capped ratio metrics for semantic-history-search-v3 (#1598)
  jetstream/semantic-history-search-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for semantic-history-search-contextual-embeddings
  jetstream/semantic-history-search-contextual-embeddings.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for semantic-history-search-contextual-embeddings (#1599)
  jetstream/semantic-history-search-contextual-embeddings.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add aggregate lapsed-user segment to top-sites-welcome-back-spotlight
  jetstream/top-sites-welcome-back-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add aggregate lapsed-user segment to top-sites-welcome-back-spotlight (#1607)
  jetstream/top-sites-welcome-back-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for top-sites-welcome-back-spotlight-7-28-day-old-profiles
  jetstream/top-sites-welcome-back-spotlight-7-28-day-old-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove new_profile_retained_week4: incompatible with a pre-existing-profile audience
  jetstream/top-sites-welcome-back-spotlight-7-28-day-old-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for top-sites-welcome-back-spotlight-7-28-day-old-profiles (#1608)
  jetstream/top-sites-welcome-back-spotlight-7-28-day-old-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for set-up-your-email-web-app-welcome-back-spotlight-v2
  jetstream/set-up-your-email-web-app-welcome-back-spotlight-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for set-up-your-email-web-app-welcome-back-spotlight-v2 (#1609)
  jetstream/set-up-your-email-web-app-welcome-back-spotlight-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add OS segments for firefox_desktop
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add OS segments for firefox_desktop (#1610)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update android-worldcup-feature.toml (#1612)
  jetstream/android-worldcup-feature.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add CORS support to metric-hub MCP server
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

Add CORS support to metric-hub MCP server (#1613)
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
