Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml (#1008)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 4cead189 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update whats-new-notification-tab-groups.toml
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update whats-new-notification-tab-groups.toml (#1009)
  jetstream/whats-new-notification-tab-groups.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 61c6f795 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update accounts-vpn-promotion
  jetstream/accounts-vpn-promotion
Due: validate-jetstream, build-docs, base-revision="main"

Update accounts-vpn-promotion (#1010)
  jetstream/accounts-vpn-promotion
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 4488078f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

test
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Credit card autofill (#1011)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed f503d477 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix: add toml extension to filename
  jetstream/accounts-vpn-promotion.toml
Due: validate-jetstream, build-docs, base-revision="main"

explicitly parameter values
  jetstream/accounts-vpn-promotion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use moz-fx-data-shared-prod dryrun function for validation + authenticate in CI
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

add null profile_group_id
  jetstream/accounts-vpn-promotion.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: filename toml extension; group_id support (#1012)
  jetstream/accounts-vpn-promotion.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 06b1e45b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[DENG-9079] Use moz-fx-data-shared-prod dryrun function for validation + authenticate in CI (#1014)
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

[ci skip] Deployed 09fe87a6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

New user segments for tab strip experiment
  definitions/fenix.toml
  jetstream/firefox-android-tab-strip-on-tablets-v2.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

New user segments for tab strip experiment (#1018)
  definitions/fenix.toml
  jetstream/firefox-android-tab-strip-on-tablets-v2.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Generate 2-weeks results for link previews
  jetstream/link-previews-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Generate 2-weeks results for link previews (#1019)
  jetstream/link-previews-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 81ce0516 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

update suggest experiment templates with client table
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

week 3 observation for link previews
  jetstream/link-previews-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

week 3 observation for link previews (#1021)
  jetstream/link-previews-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed e9bf7fc9 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

switch to view
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add no-op data source and metric
  jetstream/perplexity-secondary-search-initial-part2.toml
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

add no-op data source and metric (#1022)
  jetstream/perplexity-secondary-search-initial-part2.toml
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed cbc7ab1b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[AD-926] update suggest experiment templates with client table (#1020)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed c18eb321 with MkDocs version: 1.3.0
  data_sources/firefox_desktop/index.html
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

adding profile_group_id
  jetstream/perplexity-secondary-search-initial-part2.toml
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
