Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Add Fenix notification outcome. (#1634)
  jetstream/outcomes/fenix/messaging_notifications.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix vpn-hnt-promo config: drop dead vpn_toggled_count, add bootstrap_mean fallback
  jetstream/vpn-hnt-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix vpn-hnt-promo config: drop dead vpn_toggled_count, add bootstrap_mean fallback for sponsored_content_clicks (#1635)
  jetstream/vpn-hnt-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

update end date, add experiment toml, add metric
  jetstream/smart-shortcuts-v4p1-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

moved back date
  jetstream/smart-shortcuts-v4p1-holdback.toml
  jetstream/smart-shortcuts-v5.toml
Due: validate-jetstream, build-docs, base-revision="main"

More shortcuts metrics (#1636)
  jetstream/smart-shortcuts-v4p1-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding updated enrollment dates
  jetstream/add-voice-search-icon-to-addressbar.toml
  jetstream/tab-groups-android-experiment-existing-users.toml
  jetstream/tab-groups-android-experiment-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding updated enrollment dates (#1637)
  jetstream/add-voice-search-icon-to-addressbar.toml
  jetstream/tab-groups-android-experiment-existing-users.toml
  jetstream/tab-groups-android-experiment-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Smart Window Switcher reactivation callout
  jetstream/smart-window-promotion-switcher-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Smart Window Switcher reactivation callout (#1643)
  jetstream/smart-window-promotion-switcher-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for auto-trigger-pin-existing-user
  jetstream/auto-trigger-pin-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for auto-trigger-pin-existing-user (#1644)
  jetstream/auto-trigger-pin-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for trial-default-hnt
  jetstream/trial-default-hnt.toml
Due: validate-jetstream, build-docs, base-revision="main"

Drop new_profile_retained_week4 - unusable for a post-day-0 enrollment audience
  jetstream/trial-default-hnt.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for trial-default-hnt (#1645)
  jetstream/trial-default-hnt.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(config): add mean_lm no-clip default as additional stat to default metrics
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

new shortcuts end date
  jetstream/smart-shortcuts-v4p1-holdback.toml
  jetstream/smart-shortcuts-v5.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: filter vpn-hnt-promo custom metric DS
  jetstream/vpn-hnt-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] chore: filter vpn-hnt-promo custom metric DS (#1656)
  jetstream/vpn-hnt-promo.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] feat(config): add mean_lm no-clip default as additional stat to default metrics (#1646)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

test(metric-config-parser): assert undeclared outcome periods stay empty
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore(metric-config-parser): bump version to 2026.9.1
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

docs(outcomes): show per-period metric lists in example outcome configs
  jetstream/outcomes/fenix/example_config.toml.example
  jetstream/outcomes/firefox_desktop/example_config.toml.example
  jetstream/outcomes/firefox_ios/example_config.toml.example
Due: validate-jetstream, build-docs, base-revision="main"

docs(outcomes): reference total_uri_count in Fenix and iOS example configs
  jetstream/outcomes/fenix/example_config.toml.example
  jetstream/outcomes/firefox_ios/example_config.toml.example
Due: validate-jetstream, build-docs, base-revision="main"

Allow Outcomes to specify metrics at other analysis window levels (#1525)
  jetstream/outcomes/fenix/example_config.toml.example
  jetstream/outcomes/firefox_desktop/example_config.toml.example
  jetstream/outcomes/firefox_ios/example_config.toml.example
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
  lib/metric-config-parser/pyproject.toml
Due: validate-jetstream, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Move Desktop 3-day retention from defaults into the New User Onboarding outcome
  jetstream/defaults/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/new_user_onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Clarify Desktop 3-day retention metric names and descriptions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

[jetstream] Adds enrollment period and end date for Win10 Differentiation Privacy Default zh-cn and pl
  jetstream/win10-eos-hnt-differentiationprivacy-default-pl.toml
  jetstream/win10-eos-hnt-differentiationprivacy-default-zh-cn.toml
Due: validate-jetstream, build-docs, base-revision="main"

[jetstream] Add enrollment period and end date for Win10 Differentiation/Privacy default zh-cn and pl
  jetstream/win10-eos-hnt-differentiationprivacy-default-pl.toml
  jetstream/win10-eos-hnt-differentiationprivacy-default-zh-cn.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore(jetstream): remove end_date and enrollment_period from privacy-enhancing-firefox-suggest-m5-holdback
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[jetstream] Add enrollment period and end date for Win10 Differentiation/Privacy default zh-cn and pl (#1661)
  jetstream/win10-eos-hnt-differentiationprivacy-default-pl.toml
  jetstream/win10-eos-hnt-differentiationprivacy-default-zh-cn.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] chore(jetstream): remove end_date and enrollment_period from privacy-enhancing-firefox-suggest-m5-holdback (#1662)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

also add codeowners for
  CODEOWNERS
Due: build-docs, base-revision="main"

chore: update deps (#1664)
  CODEOWNERS
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Retire legacy DAU-related metrics from Desktop defaults
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
