Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

WIP: test ci triggers
  .github/workflows/changed-files.yml
  jetstream/definitions/fake_app.toml
  jetstream/outcomes/firefox_desktop/fake_outcome.toml
  jetstream/test-fake-experiment.toml
  looker/definitions/test_fake.toml
Due: validate-jetstream, validate-looker, build-docs, base-revision="main"

test files filter
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
Due: build-docs, base-revision="main"

fix triggers; delete test files
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
  jetstream/definitions/fake_app.toml
  jetstream/outcomes/firefox_desktop/fake_outcome.toml
  jetstream/test-fake-experiment.toml
  looker/definitions/test_fake.toml
Due: validate-jetstream, validate-looker, build-docs, base-revision="main"

bump changed-files action
  .github/workflows/changed-files.yml
Due: build-docs, base-revision="main"

remove pr template that isn't useful to most people
  .github/pull_request_template.md
Due: build-docs, base-revision="main"

fix: ci triggers and other ci tech debt (#1169)
  .github/pull_request_template.md
  .github/workflows/changed-files.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

chore: update deps mcp
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

end date for address bar holdback
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] end date for address bar holdback (#1177)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps mcp (#1176)
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

no-op on DAU
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

replace urlbar datasource for performance
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add unique ID metric to ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[AD-1133] Add unique ID metric to ads.toml (#1179)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci rerun-skip] Remove large dataset from Address Bar Update Holdback (#1178)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

rename urlbar_impressions_suggest
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Rename urlbar_impressions_suggest for tmp table (#1180)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "[AD-1133] Add unique ID metric to ads.toml (#1179)"
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Revert "[AD-1133] Add unique ID metric to ads.toml" (#1181)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Config for interaction-frecency-enhancement-v3 (#1168)
  jetstream/interaction-frecency-enhancement-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add note about data estimates to PR msg
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

feat: add note about data estimates to PR msg (#1187)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

update end date for shake to summarize
  jetstream/summarizer-mistral-model-rollout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] update end date for shake to summarize (#1188)
  jetstream/summarizer-mistral-model-rollout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DENG-8559] Trigger Looker DAG from CI
  .github/workflows/trigger-looker-dag.yml
Due: build-docs, base-revision="main"

[DENG-8559] Trigger Looker DAG from CI (#1189)
  .github/workflows/trigger-looker-dag.yml
Due: build-docs, base-revision="main"

use env to pass input and output parameters
  .github/workflows/auto-approve.yml
  .github/workflows/changed-files.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/trigger-looker-dag.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

use env to pass input and output parameters (#1194)
  .github/workflows/auto-approve.yml
  .github/workflows/changed-files.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/trigger-looker-dag.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
Due: build-docs, base-revision="main"

Initial MCP setup
  lib/mcp-server/.claude/settings.local.json
  lib/mcp-server/.gitignore
  lib/mcp-server/EXAMPLES.md
  lib/mcp-server/README.md
  lib/mcp-server/SETUP.md
  lib/mcp-server/install.sh
  lib/mcp-server/metric_hub_mcp/__init__.py
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/pyproject.toml
  lib/mcp-server/tests/__init__.py
  lib/mcp-server/tests/test_server.py
Due: build-docs, base-revision="main"

Support for writing configs
  lib/mcp-server/.claude/settings.local.json
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

Add support for experimenter api
  lib/mcp-server/.claude/settings.local.json
  lib/mcp-server/README.md
  lib/mcp-server/SETUP.md
  lib/mcp-server/metric_hub_mcp/server.py
Due: build-docs, base-revision="main"

SSE
  lib/mcp-server/metric_hub_mcp/server.py
  lib/mcp-server/pyproject.toml
Due: build-docs, base-revision="main"

add config for inferred exp to downsample
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config for inferred exp to downsample (#1195)
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

config file to downsample inferred experiment
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add inferred config (#1196)
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

config to remove large metrics causing timeouts
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "config to remove large metrics causing timeouts"
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"
