Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci rerun-skip] feat(nimbus): add 3dr metric for fenix and ios (#1412)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

chore: update rerun-skip message for consistency with README (#1414)
  .github/workflows/rerun-skip-comment.yml
Due: build-docs, base-revision="main"

Fix locale segments and remove splitview-usage segments for os-notification-split-view-release-lapsed-users
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix locale segments and remove splitview-usage segments for os-notification-split-view-release-lapsed-users (#1416)
  jetstream/os-notification-split-view-release-lapsed-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat(nimbus): Nimbus feature monitoring configs in metric-hub
  featmon/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/featmon.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix(nimbus): rename event_stream to events_stream, add SourceType enum, add ratios to FeatureSpec (#1415)
  featmon/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/featmon.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix(nimbus): remove deprecated event_stream alias and bump version to 2026.4.4
  lib/metric-config-parser/metric_config_parser/featmon.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix(nimbus): remove deprecated event_stream alias and bump version to 2026.4.4 (#1417)
  lib/metric-config-parser/metric_config_parser/featmon.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Re-list auto-applied default metrics for Experimenter UI visibility
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Address DS review feedback
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Drop new_profile_retained_week4 and repeat_first_month_user
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for optimized-set-to-default-infobar (#1411)
  jetstream/optimized-set-to-default-infobar.toml
Due: validate-jetstream, build-docs, base-revision="main"

edit enrollment period and end date
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

edit enrollment period and end date (#1419)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

edit enrollment period and end date to limit data processed
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

edit enrollment period and end date to limit data processed (#1420)
  jetstream/privacy-enhancing-firefox-suggest-m5-holdback-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create no-sponsored-tiles-for-14-days-v2.toml
  jetstream/no-sponsored-tiles-for-14-days-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update no-sponsored-tiles-for-14-days-v2.toml
  jetstream/no-sponsored-tiles-for-14-days-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

false end date for observing overalls
  jetstream/hnt-wattle-three-widgets-in-non-content-market-spanish.toml
Due: validate-jetstream, build-docs, base-revision="main"

false end date for observing overalls (#1423)
  jetstream/hnt-wattle-three-widgets-in-non-content-market-spanish.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create no-sponsored-tiles-for-14-days-v2.toml (#1421)
  jetstream/no-sponsored-tiles-for-14-days-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for set-to-default-prompt-style-spotlight-v2
  jetstream/set-to-default-prompt-style-spotlight-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update no-sponsored-tiles-for-14-days-v2.toml (#1426)
  jetstream/no-sponsored-tiles-for-14-days-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add Jetstream config for set-to-default-prompt-style-spotlight-v2 (#1424)
  jetstream/set-to-default-prompt-style-spotlight-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add profile-age-at-enrollment segments to firefox_desktop definitions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add profile-age-at-enrollment segments to firefox_desktop definitions (#1427)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Expand VPN holdback enrollment_period from 8 to 14 days
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Expand VPN holdback enrollment_period from 8 to 14 days (#1428)
  jetstream/vpn-mvp-beta-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore(docs): use outcome friendly_name as title
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

chore(docs): use outcome friendly_name as title (#1429)
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

chore(docs): fix outcome metric names bold
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

chore(docs): fix outcome metric names bold (#1430)
  .script/templates/outcome.md
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
