Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update perplexity-secondary-search-initial.toml
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update perplexity-secondary-search-initial-part2.toml
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding profile_group_id to perplexity (#1023)
  jetstream/perplexity-secondary-search-initial-part2.toml
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 33e87195 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create account-adoption-callout-credit-cards-and-addresses-corrected-copy.toml
  jetstream/account-adoption-callout-credit-cards-and-addresses-corrected-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-adoption-callout-credit-cards-and-addresses-corrected-… (#1025)
  jetstream/account-adoption-callout-credit-cards-and-addresses-corrected-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed f8950138 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix pdf experiment segment
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

change segment to exposure signal instead
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

switch to segment
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix pdf experiment segment (#1026)
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 48137fdd with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

remove analysis units where not needed
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove analysis units where not needed (#1027)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed bf3b81ad with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add custom glean data sources
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add custom glean data sources (#1028)
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c93de1c1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Rotate through billing projects to speed up dryruns
  .script/validate.py
Due: build-docs, base-revision="main"

Test change
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

list
  .script/validate.py
Due: build-docs, base-revision="main"

Run dry run in backfill projects (#1029)
  .script/validate.py
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed 4f22d233 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

removed segments and added dates to data sources
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

removed segments and added dates to data sources (#1030)
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2bbcb349 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create intreaction-frecency-enhancement.toml
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create intreaction-frecency-enhancement.toml (#1031)
  jetstream/intreaction-frecency-enhancement.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 3445c896 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

change pdf handler metrics to glean
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add metrics to list
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove custom metrics source
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

change firefox pdf metrics to use glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

remove space
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

change pdf handler metrics to glean (#1032)
  definitions/firefox_desktop.toml
  jetstream/pdf-annotations-signatures-ab-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
