Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 8c00d240 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add NewTab Ad Metrics to ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create info-card-referral-fenix.toml
  jetstream/info-card-referral-fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create info-card-referral-fenix.toml (#718)
  jetstream/info-card-referral-fenix.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d5adcbd5 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add cert transparency metrics
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

create certificate-transparency.toml (#719)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 54f8617e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

[ci rerun-skip] add default-ui-experiment config to end analysis now
  jetstream/default-ui-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] add default-ui-experiment config to end analysis now (#720)
  jetstream/default-ui-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c9ff0f8e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add newtab metrics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

extending observation period to account for user adaptation
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

Extending observation period to account for user adaptation (#728)
  jetstream/new-users-sidebar-genai.toml
  jetstream/sidebar-vertical-tabs-layout-and-new-tools.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed afa6ba02 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Apply suggestions from code review
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update looker/definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add NewTab Ad Metrics to ads.toml (#717)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 098b00e4 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Adding metric definitions and fixing ratio metrics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Revert "Adding metric definitions and fixing ratio metrics"
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Adding metric definitions and fixing ratio metrics (#729)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
