Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

revert mcp update
  .script/requirements.txt
Due: build-docs, base-revision="main"

Reducing the segments to hopefully make the query run nice and smooth.
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Reducing the segments to hopefully make the query run nice and smooth. (#953)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: update metric validate script
  .script/requirements.txt
  .script/validate.py
Due: build-docs, base-revision="main"

fix: update metric validate script (#954)
  .script/requirements.txt
  .script/validate.py
Due: build-docs, base-revision="main"

fix: process one dry run at a time, use all cores
  .script/validate.py
Due: build-docs, base-revision="main"

fix: process one dry run at a time, use all cores (#955)
  .script/validate.py
Due: build-docs, base-revision="main"

fix: add profile_group_id to webcompat outcome datasource (#950)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add segments and metrics
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

add perplexity-secondary-search-initial.toml (#957)
  jetstream/perplexity-secondary-search-initial.toml
Due: validate-jetstream, build-docs, base-revision="main"

add metrics and segments 2nd exp
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add perplexity-secondary-search-initial-part2.toml (#958)
  jetstream/perplexity-secondary-search-initial-part2.toml
Due: validate-jetstream, build-docs, base-revision="main"

create ads impressed clients metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add ad_clients_daily and metrics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

feat: optimize awesomebar outcome with events_stream
  definitions/fenix.toml
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

feat: optimize awesomebar outcome with events_stream (#959)
  definitions/fenix.toml
  jetstream/outcomes/fenix/awesomebar.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

include continue event in onboarding completed due to simplified onboarding rollout
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Chatbot Continue event as completed (#960)
  jetstream/1-callout-contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

delete duplicate
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

add ad_metrics_daily to metric-hub
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

log jetstream validate command
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

set working directory
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

fetch full repo
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

add checkout ref to avoid detached head mode
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

set safe directory after checkout
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

reset test toml
  .github/workflows/validate-jetstream.yml
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

reset formatting in toml
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

add ad_metrics_daily to ads definitions (#961)
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

Create address-bar-calculator.toml
  jetstream/address-bar-calculator.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create address-bar-calculator.toml (#963)
  jetstream/address-bar-calculator.toml
Due: validate-jetstream, build-docs, base-revision="main"

delete daily_active_users_glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

added datasource.firefox_desktop_baseline_active_users_view
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

create ad-per-client metric
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

updated client_level_daily_active_users_v2_glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

create metric-hub ref to new avg visit duration view
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update looker/definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[AD-898] Adding temporary newtab visit duration (#981)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

updated data_sources.serp_event
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

reformat to split logic
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
