Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

Add config for Yelp experiment (#446)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update yelp-suggestions-pilot-v3.toml
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add boolean Pocket click metric
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Fix error
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add boolean Pocket click metric (#452)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Add data source for SERP events
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Add metrics for serp
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/serp.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Back out additional metrics
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/serp.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Add metrics for SERP events (#444)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/serp.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Update firefox_ios.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

updating metric hub with search_with_ads_organic metrics (#453)
  .script/requirements.txt
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
  jetstream/outcomes/firefox_desktop/serp.toml
  jetstream/review-checker-v11-experiment.toml
  jetstream/yelp-suggestions-pilot-v3.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

adding metric definition for search_with_ads_organic for mobile
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Adding test toml for ads Looker
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Adding test toml for ads Looker (#455)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add New Tab metrics to Looker generator
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

adds firefox downloads
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

Add New Tab metrics to Looker generator (#456)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Metrics for pocket ads (prototype)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

adds firefox downloads from websites (#457)
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

Metrics for pocket (SPOC) ads (prototype) (#458)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

update data source for Websites
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

Redefine enrollment period
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

update data source for Websites (#459)
  looker/definitions/websites.toml
Due: validate-looker, build-docs, base-revision="main"

Defer to main definition
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Redefine enrollment period (#460)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create app-customization-in-onboarding-ios.toml
  jetstream/app-customization-in-onboarding-ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create app-customization-in-onboarding-ios.toml (#461)
  jetstream/app-customization-in-onboarding-ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ios-splash-screen-timing-test-release.toml
  jetstream/ios-splash-screen-timing-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ios-splash-screen-timing-test-release.toml (#462)
  jetstream/ios-splash-screen-timing-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-onboarding-remove-sync-card.toml
  jetstream/android-onboarding-remove-sync-card.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-onboarding-remove-sync-card.toml (#463)
  jetstream/android-onboarding-remove-sync-card.toml
Due: validate-jetstream, build-docs, base-revision="main"

Truncate timestamp to date for explore
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Drop exposed metrics for Yelp (causing error)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Drop exposed metrics for Yelp (causing error) (#465)
  jetstream/yelp-suggestions-pilot-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Metrics for wallpaper and weather experiments
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Weather widget enabled metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fixes #469 - adds toolbar_badge and toast_notification to fxms other_ping_volume
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Metrics for wallpaper and weather experiments (#468)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

New Tab wallpaper and weather configs
  jetstream/home-and-newtab-wallpapers-v1-highlight.toml
  jetstream/home-and-newtab-wallpapers-v1-spotlight.toml
  jetstream/home-and-newtab-weather-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix sponsored topsite enabled definition
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"
