Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Add the Early Hints-specific outcome (#225)
  jetstream/outcomes/firefox_desktop/early_hints.toml
Due: validate-jetstream, build-docs

Add statistic treatments for new metrics
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs

Create splash-screen-max-duration-test.toml
  jetstream/splash-screen-max-duration-test.toml
Due: validate-jetstream, build-docs

Create splash-screen-max-duration-test.toml (#228)
  jetstream/splash-screen-max-duration-test.toml
Due: validate-jetstream, build-docs

Update do no harm outcome (#210)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs

Add analysis for gc_slice_was_long_parent, gc_budget_overrun and gc_budget_was_increased to parallel marking experiment
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

Additional newtab metrics
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_engagement.toml
  jetstream/outcomes/firefox_desktop/newtab_search.toml
  jetstream/outcomes/firefox_desktop/newtab_tiles.toml
Due: validate-jetstream, validate-metrics, build-docs

Stat treatment for ad click rate
  jetstream/outcomes/firefox_desktop/newtab_search.toml
Due: validate-jetstream, build-docs

Add a minimal performance outcome with fewer probes (#216)
  jetstream/outcomes/firefox_desktop/page_load_performance_minimal.toml
Due: validate-jetstream, build-docs

Create fullpage-translations.toml
  jetstream/fullpage-translations.toml
Due: validate-jetstream, build-docs

Add config for android-add-ons-extension-process-beta
  opmon/android-add-ons-extension-process-beta.toml
Due: validate-opmon, build-docs

Add config for android-add-ons-extension-process-beta (#232)
  opmon/android-add-ons-extension-process-beta.toml
Due: validate-opmon, build-docs

Create def-de-fr-it-fox-doodle-pin-to-taskbar-early-day-graphics.toml
  jetstream/def-de-fr-it-fox-doodle-pin-to-taskbar-early-day-graphics.toml
Due: validate-jetstream, build-docs

Create def-de-fr-it-fox-doodle-pin-to-taskbar-early-day-graphics.toml (#233)
  jetstream/def-de-fr-it-fox-doodle-pin-to-taskbar-early-day-graphics.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Add analysis for gc_slice_was_long_parent, gc_budget_overrun and gc_b… (#229)
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

Create felt-privacy-android.toml
  jetstream/felt-privacy-android.toml
Due: validate-jetstream, build-docs

Create felt-privacy-android.toml (#234)
  jetstream/felt-privacy-android.toml
Due: validate-jetstream, build-docs

Create beta-ios-onboarding-pin-to-dock.toml
  jetstream/beta-ios-onboarding-pin-to-dock.toml
Due: validate-jetstream, build-docs

Create beta-ios-onboarding-pin-to-dock.toml (#235)
  jetstream/beta-ios-onboarding-pin-to-dock.toml
Due: validate-jetstream, build-docs

Create fullpage-translations.toml (#236)
  jetstream/fullpage-translations.toml
Due: validate-jetstream, build-docs

first try with opmon
  opmon/garbage_collection.toml
Due: validate-opmon, build-docs

initial configuration for desktop
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

change start date
  opmon/garbage_collection.toml
Due: validate-opmon, build-docs

Revert "initial configuration for desktop"
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

Update firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

Update firefox-accounts-toolbar-button-default-visibility-part-2.toml
  jetstream/firefox-accounts-toolbar-button-default-visibility-part-2.toml
Due: validate-jetstream, build-docs

Create a minimal networking performance outcome
  jetstream/outcomes/firefox_desktop/networking_performance.toml
Due: validate-jetstream, build-docs

Update networking_performance.toml
  jetstream/outcomes/firefox_desktop/networking_performance.toml
Due: validate-jetstream, build-docs

Create a minimal networking performance outcome (#239)
  jetstream/outcomes/firefox_desktop/networking_performance.toml
Due: validate-jetstream, build-docs

funnel metrics definition in metric hub
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

metric name change
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

funnel metrics definition in metric hub (#240)
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Garbage collection (#237)
  opmon/garbage_collection.toml
Due: validate-opmon, build-docs

downsample early-hints-preconnect
  jetstream/early-hints-preconnect.toml
Due: validate-jetstream, build-docs

downsample early-hints-preconnect (#241)
  jetstream/early-hints-preconnect.toml
Due: validate-jetstream, build-docs

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Update firefox_ios.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
