Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

fix format
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix typing
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

version 2025.5.1
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

feat: set default analysis_units by app (#901)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 4cd5f87f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create address-bar-update-launch-hold.toml
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create address-bar-update-launch-hold.toml (#902)
  jetstream/address-bar-update-launch-hold.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed b5394e2b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add metrics for sent-from-firefox-android experiments
  jetstream/sent-from-firefox-android-full-experiment-20.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove typo
  jetstream/sent-from-firefox-android-1-rollout.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add metrics for sent-from-firefox-android experiments (#904)
  jetstream/sent-from-firefox-android-full-experiment-20.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d08f7c5e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

take out browser_version dimension as it is a duplicate with app_version
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

take out browser_version dimension as it is a duplicate with app_version (#905)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 2aaa3ba5 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-adoption-callout-passwords-early-day-relaunch.toml
  jetstream/account-adoption-callout-passwords-early-day-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create account-adoption-callout-passwords-existing-users-relaunch.toml
  jetstream/account-adoption-callout-passwords-existing-users-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-adoption-callout-passwords-early-day-relaunch.toml
  jetstream/account-adoption-callout-passwords-early-day-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-adoption-callout-passwords-existing-users-relaunch.toml
  jetstream/account-adoption-callout-passwords-existing-users-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Account adoption callout passwords early day relaunch (#907)
  jetstream/account-adoption-callout-passwords-early-day-relaunch.toml
  jetstream/account-adoption-callout-passwords-existing-users-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9c4814c8 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Chatbot onboarding experiment metrics
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Chatbot onboarding experiment metrics (#908)
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 5ec5cdb0 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add HNT content and topsite reporting metrics
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Add HNT content and topsite reporting metrics (#909)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 63cb5be1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

change datasource for encourage-use-of-search-bar-on-mobile
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

change datasource for encourage-use-of-search-bar-on-mobile (#910)
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9ba072fd with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create desktop-credit-card-autofill-global-enablement-holdback.toml (#911)
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed a3a307c0 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create desktop-address-autofill-uk-release-rollout.toml
  jetstream/desktop-address-autofill-uk-release-rollout.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create desktop-address-autofill-uk-release-rollout.toml (#912)
  jetstream/desktop-address-autofill-uk-release-rollout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c0932607 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add reference to new view native_desktop_ad_metrics_by_position
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

feat: ability to specify glean vs legacy client id columns
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"
