Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Update fakespot-in-suggest.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fakespot update config (#645)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update fakespot-in-suggest.toml (#647)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add crash metric outcomes for USER_RESTRICTED
  jetstream/outcomes/firefox_desktop/content_process_stability.toml
  jetstream/outcomes/firefox_desktop/main_process_stability.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adds statistics to stability outcomes
  jetstream/outcomes/firefox_desktop/content_process_stability.toml
  jetstream/outcomes/firefox_desktop/main_process_stability.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add crash metric outcomes for USER_RESTRICTED (#648)
  jetstream/outcomes/firefox_desktop/content_process_stability.toml
  jetstream/outcomes/firefox_desktop/main_process_stability.toml
Due: validate-jetstream, build-docs, base-revision="main"

Config file for New alt text flow and alt text generation in PDF Editor experiment
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

Override experiment dates due to incorrect duration at launch
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

Config file for New alt text flow and alt text generation in PDF Editor experiment (#580)
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 8d59f63e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Implement segment retrieval function in metric-config-parser
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Implement segment retrieval function in metric-config-parser
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Implement segment retrieval function in metric-config-parser
  lib/metric-config-parser/metric_config_parser/config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

Implement segment retrieval function in metric-config-parser (#658)
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 477d9a6d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

downsample treatment-a branch
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

downsample treatment-a branch (#662)
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 542715d0 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix event category and name spit
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

PDF Alt Text Experiment query fix (#663)
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 708cc8e7 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix: typo in custom enrollment_query
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: typo in custom enrollment_query (#664)
  jetstream/improved-mailto-handling-with-os-integration.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d6e3bdbc with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create ios-set-as-default-browser-onboarding-optimization-for-1312.toml
  jetstream/ios-set-as-default-browser-onboarding-optimization-for-1312.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ios-set-as-default-browser-onboarding-optimization-for-1312.toml (#665)
  jetstream/ios-set-as-default-browser-onboarding-optimization-for-1312.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 57afab78 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Fix mistake in success rate computation (#186)
  definitions/functions.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed ffa0deb5 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create recommend-media-extension-add-ons-part-2-existing-user.toml
  jetstream/recommend-media-extension-add-ons-part-2-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create recommend-media-extension-add-ons-part-2.toml
  jetstream/recommend-media-extension-add-ons-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add addon count/install metrics to recend recommended addons experiment (#671)
  jetstream/recommend-media-extension-add-ons-part-2-existing-user.toml
  jetstream/recommend-media-extension-add-ons-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed ed372dcd with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"
