Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

remove large metrics to avoid timeout
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove large metrics to avoid analysis timeout for sections holdback
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sections-rollout-us-holdback.toml
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove large metrics to avoid analysis timeout for sections holdback (#1199)
  jetstream/sections-rollout-us-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: fix links to experimenter docs
  jetstream/README.md
  lib/metric-config-parser/metric_config_parser/parameter.py
Due: validate-jetstream, build-docs, validate-metric-config-parser, base-revision="main"

fix: fix links to experimenter docs (#1200)
  jetstream/README.md
  lib/metric-config-parser/metric_config_parser/parameter.py
Due: validate-jetstream, build-docs, validate-metric-config-parser, base-revision="main"

update end date for geo-expansion-eu
  jetstream/firefox-suggest-geo-expansion-eu-re-ramp.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update end date for geo-expansion-eu (#1203)
  jetstream/firefox-suggest-geo-expansion-eu-re-ramp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Percentage of clients with Urlbar annoyance
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Percentage of clients with Urlbar annoyance (#1204)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Sponsored tiles outcome metrics
  jetstream/outcomes/fenix/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

updated line 52
  jetstream/outcomes/fenix/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

definitions config for fenix
  definitions/fenix.toml
Due: validate-metrics, build-docs, base-revision="main"

Frecency v3 end date
  jetstream/interaction-frecency-enhancement-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Frecency v3 end date (#1206)
  jetstream/interaction-frecency-enhancement-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps (#1208)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

fix: conditional job triggers
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

changes to test triggers
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

remove testing changes
  .github/workflows/deploy-metric-config-parser.yml
Due: build-docs, base-revision="main"

fix: deployment triggers (#1209)
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

sponsored tile outcome update with new data source
  jetstream/outcomes/fenix/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Updated the fenix definition toml
  definitions/fenix.toml
Due: validate-metrics, build-docs, base-revision="main"

Cofig for search middle experiment
  jetstream/search-middle.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update search-middle.toml
  jetstream/search-middle.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sponsored_tiles.toml
  jetstream/outcomes/fenix/sponsored_tiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Sponsored tiles outcome metrics (#1205)
  definitions/fenix.toml
  jetstream/outcomes/fenix/sponsored_tiles.toml
  jetstream/search-middle.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Personalization Experiment Exposure Update
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update update_hamburger_menu_windows_relaunch experiment
  jetstream/set-to-default-hamburger-menu-windows-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Personalization Experiment Exposure Update (#1210)
  jetstream/new-tab-inferred-content-personalization.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add statistics
  jetstream/set-to-default-hamburger-menu-windows-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update update_hamburger_menu_windows_relaunch experiment (#1211)
  jetstream/set-to-default-hamburger-menu-windows-relaunch.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
