Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

fix END clause and add segments to be computed
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

change last_day_seen field that does not exist to days_since_first_seen
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

Add metrics to Networking Outcome (#117)
  definitions/functions.toml
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, validate-metrics, build-docs

fix END clause and add segments to be computed (#121)
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

[jetstream] Analyis for Firefox update notification 4pct experiments.
  definitions/firefox_desktop.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-en.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-fr.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-it.toml
Due: validate-jetstream, validate-metrics, build-docs

[jetstream] TO FOLD - Separate data source for browser.launched_to_handle events.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update import-bookmarks-copy.toml
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

Update import-bookmarks-copy.toml (#123)
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

[jetstream] Analysis for Firefox update notification 4pct experiments. (#108)
  definitions/firefox_desktop.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-en.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-fr.toml
  jetstream/backgroundtaskmessage-notification-release-4pct-it.toml
Due: validate-jetstream, validate-metrics, build-docs

Added new OpMon project to monitor network performance, build by build
  opmon/network-performance-desktop-build-by-build.toml
Due: validate-opmon, build-docs

Added new OpMon project to monitor network performance, build by build (#122)
  opmon/network-performance-desktop-build-by-build.toml
Due: validate-opmon, build-docs

Create limited-font-visibility-for-fingerprinters.toml
  jetstream/limited-font-visibility-for-fingerprinters.toml
Due: validate-jetstream, build-docs

Update limited-font-visibility-for-fingerprinters.toml
  jetstream/limited-font-visibility-for-fingerprinters.toml
Due: validate-jetstream, build-docs

custom addon metrics for nuo introduce addons experiment
  jetstream/introduce-addons-in-aboutwelcome.toml
Due: validate-jetstream, build-docs

custom addon metrics for nuo introduce addons experiment (#126)
  jetstream/introduce-addons-in-aboutwelcome.toml
Due: validate-jetstream, build-docs

Create limited-font-visibility-for-fingerprinters.toml (#125)
  jetstream/limited-font-visibility-for-fingerprinters.toml
Due: validate-jetstream, build-docs

Fix bugs & add metrics for dynamic wikipedia
  jetstream/dynamic-wikipedia-suggestions.toml
Due: validate-jetstream, build-docs

Update dynamic wikipedia config (#127)
  jetstream/dynamic-wikipedia-suggestions.toml
Due: validate-jetstream, build-docs

custom metrics
  jetstream/new-unified-search-for-firefox-android.toml
Due: validate-jetstream, build-docs

fix: table name
  jetstream/new-unified-search-for-firefox-android.toml
Due: validate-jetstream, build-docs

custom metrics for new-unified-search-for-firefox-android (#128)
  jetstream/new-unified-search-for-firefox-android.toml
Due: validate-jetstream, build-docs

Pre-filter etp events in stricter_pbm outcome
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

Pre-filter etp events in stricter_pbm outcome (#129)
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

fix: metric def
  jetstream/new-unified-search-for-firefox-android.toml
Due: validate-jetstream, build-docs

New unified search for firefox android - fix metric def (#130)
  jetstream/new-unified-search-for-firefox-android.toml
Due: validate-jetstream, build-docs

Create window-vs-tab-modal-easy-set-up-fx112.toml
  jetstream/window-vs-tab-modal-easy-set-up-fx112.toml
Due: validate-jetstream, build-docs

Create window-vs-tab-modal-easy-set-up-fx112.toml (#131)
  jetstream/window-vs-tab-modal-easy-set-up-fx112.toml
Due: validate-jetstream, build-docs

bug 1838698 - Preliminary Messaging System health monitoring dashboard
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1838698 - Preliminary Messaging System health monitoring dashboard (#133)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

Update ios-sync-manager-integration.toml
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

Update ios-sync-manager-integration.toml (#134)
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

bug 1838698 - No compact visualization
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1838698 - Add unexpected data monitoring for Messaging System
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

bug 1838698 - Messaging System Health Dashboard refinements (#135)
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs

Update stricter_pbm.toml
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs

Update stricter_pbm.toml (#136)
  jetstream/outcomes/firefox_desktop/stricter_pbm.toml
Due: validate-jetstream, build-docs
