Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

order change
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

formatting
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DENG-10315] Use Cloud Run dryrun function gen 2 (#1286)
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
  .script/validate.py
Due: build-docs, base-revision="main"

Results date for OHTTP M3 experiment
  jetstream/privacy-enhancing-firefox-suggest-m31.toml
Due: validate-jetstream, build-docs, base-revision="main"

Results date for OHTTP M3 experiment (#1296)
  jetstream/privacy-enhancing-firefox-suggest-m31.toml
Due: validate-jetstream, build-docs, base-revision="main"

10% sample mozilla-foundation-donation-promotion-moments-page
  jetstream/mozilla-foundation-donation-promotion-moments-page.toml
Due: validate-jetstream, build-docs, base-revision="main"

10% sample mozilla-foundation-donation-promotion-moments-page (#1297)
  jetstream/mozilla-foundation-donation-promotion-moments-page.toml
Due: validate-jetstream, build-docs, base-revision="main"

custom enrollment query to align branch ratios
  jetstream/mozilla-foundation-donation-promotion-moments-page.toml
Due: validate-jetstream, build-docs, base-revision="main"

custom enrollment query to align branch ratios (#1298)
  jetstream/mozilla-foundation-donation-promotion-moments-page.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: fix rerun jetstream ci logging
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

chore: update deps (#1300)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: fix rerun jetstream ci logging (#1301)
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

chore: migrate fenix pocket outcome to events_stream
  jetstream/outcomes/fenix/pocket.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update to python 3.11
  .github/workflows/build-docs.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

remove unnecessary metrics and add urlbar clicks for topsites
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update smart-shortcuts-v3-lr2.toml
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: migrate fenix pocket outcome to events_stream (#1302)
  jetstream/outcomes/fenix/pocket.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update to python 3.11 (#1303)
  .github/workflows/build-docs.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

remove unnecessary metrics and add urlbar clicks for topsites (#1304)
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

first pass to make sure query templates correctly
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

only include debugging segment
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

filter out CLS segments for now
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

use custom enrollment_query for background updates
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add CLS segments back in
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add complete segment and metric set
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add statistics for launches
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix typo
  jetstream/recommended-add-ons-os-notification-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
