Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Create address-autofill-phase-2-holdback-experiment-expansion-de-fr-copy.toml
  jetstream/address-autofill-phase-2-holdback-experiment-expansion-de-fr-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create address-autofill-phase-2-holdback-experiment-expansion-de-fr-c… (#870)
  jetstream/address-autofill-phase-2-holdback-experiment-expansion-de-fr-copy.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create new-toolbar-ios-ios-redesign-iteration-1.toml
  jetstream/new-toolbar-ios-ios-redesign-iteration-1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create new-toolbar-ios-ios-redesign-iteration-1.toml (#871)
  jetstream/new-toolbar-ios-ios-redesign-iteration-1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Chatbot Sticky CTA experiment
  jetstream/chatbot-sticky-cta.toml
Due: validate-jetstream, build-docs, base-revision="main"

Sidebar custom outcome
  jetstream/outcomes/firefox_desktop/sidebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update path-filtering orb
  .circleci/config.yml
Due: build-docs, base-revision="main"

chore: update path-filtering orb (#873)
  .circleci/config.yml
Due: build-docs, base-revision="main"

[ci skip] Deployed 28336ee6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Sidebar outcomes and Sticky Chatbot CTA experiment (#872)
  jetstream/chatbot-sticky-cta.toml
  jetstream/outcomes/firefox_desktop/sidebar.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: change default analysis unit support to both client and group (#868)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed 19872b2c with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add ctr for ads on newtab homepage
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove ctr from defaults
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

add CTR metrics to newtab do no harm
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs, base-revision="main"

added pocket ctr to pocket newtab doc
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

replace / with safe_divide
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Create address-bar-update-launch-extention.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create address-bar-update-launch-extention.toml (#876)
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 1d891f3f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

refactor to use ratio
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix broken data source
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

stupid error
  jetstream/definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix ratio metric definitions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fixed outcomes
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

add statistics for all impressions and clicks
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

add organic CTR to definitions and fix naming issues for sponsored tile ctr
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove whitespace
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove metrics from jetstream/definitions
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs, base-revision="main"

change mean over client to sum
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

added bootstrapped_mean statistic back for impressions and clicks
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

use linear model mean instead of bootstrap mean
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

first pass hnt looker dashboarding P1
  looker/definitions/hnt.toml
Due: validate-looker, build-docs, base-revision="main"

add client_id field as NULL
  looker/definitions/hnt.toml
Due: validate-looker, build-docs, base-revision="main"

Update looker/definitions/hnt.toml
  looker/definitions/hnt.toml
Due: validate-looker, build-docs, base-revision="main"

CTR for Ads HNT (#874)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed f2e52cc8 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix: linear model mean failing to fit, using bootstrap
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

also change for custom experiment config
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
