Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Version new_profiles metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

DENG-1612 - Added new_profiles metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Expand new profiles definition to include brief synopsis of how it's calculated
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

DENG-1612 - Added new_profiles metric (#248)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

feat: Jira RS-839
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, validate-metrics, build-docs

fix: quotation marks
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

fix: try to fix failing jetstream-validate
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

fix: try fixing jetstream-validate error
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs

fix: try fixing jetstream-validate error
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: validate-jetstream
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: use experiments_column_type
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

RS-839 (#254)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, validate-metrics, build-docs

Add data source & segments for Firefox Suggest
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add segments for Firefox Suggest (#253)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add enrollment end date and period for monitor-test-production
  jetstream/monitor-test-production.toml
Due: validate-jetstream, build-docs

add enrollment end date and period for monitor-test-production (#255)
  jetstream/monitor-test-production.toml
Due: validate-jetstream, build-docs

add config for bookmarks toolbar experiment
  jetstream/bookmarks-toolbar-default-on.toml
Due: validate-jetstream, build-docs

add config for bookmarks toolbar experiment (#256)
  jetstream/bookmarks-toolbar-default-on.toml
Due: validate-jetstream, build-docs

Add Opmon defaults for monitor_cirrus
  opmon/defaults/monitor_cirrus.toml
Due: validate-opmon, build-docs

Add Opmon defaults for monitor_cirrus (#257)
  opmon/defaults/monitor_cirrus.toml
Due: validate-opmon, build-docs

Create ios-onboarding-search-widget.toml
  jetstream/ios-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Create ios-onboarding-search-widget.toml (#258)
  jetstream/ios-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Update data_sources.main to use main_v5
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update data_sources.main to use main_v5 (#259)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Use main_v5 in outcomes
  jetstream/outcomes/firefox_desktop/networking.toml
  opmon/bug-1751307-pref-tab-unloading-on-low-memory-for-linux-release-97-98.toml
  opmon/bug-1751308-pref-tab-unloading-on-low-memory-for-macos-release-97-98.toml
  opmon/bug-1751309-pref-tab-unloading-on-low-memory-for-windows-release-97-98.toml
Due: validate-opmon, validate-jetstream, build-docs

Use main_v5 in outcomes (#260)
  jetstream/outcomes/firefox_desktop/networking.toml
  opmon/bug-1751307-pref-tab-unloading-on-low-memory-for-linux-release-97-98.toml
  opmon/bug-1751308-pref-tab-unloading-on-low-memory-for-macos-release-97-98.toml
  opmon/bug-1751309-pref-tab-unloading-on-low-memory-for-windows-release-97-98.toml
Due: validate-opmon, validate-jetstream, build-docs

Add perf_largest_contentful_paint_ms to pageload performance outcomes
  jetstream/outcomes/firefox_desktop/page_load_performance.toml
  jetstream/outcomes/firefox_desktop/page_load_performance_minimal.toml
Due: validate-jetstream, build-docs

Add perf_largest_contentful_paint_ms to pageload performance outcomes (#261)
  jetstream/outcomes/firefox_desktop/page_load_performance.toml
  jetstream/outcomes/firefox_desktop/page_load_performance_minimal.toml
Due: validate-jetstream, build-docs

Add example for proposal
  looker/defaults/fenix.toml
  looker/defaults/firefox_desktop.toml
  looker/defaults/firefox_ios.toml
Due: build-docs

Add unnested version of Urlbar Events table
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add unnested version of Urlbar Events table (#262)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix for scalar subquery produced more than one element
  jetstream/bookmarks-toolbar-default-on.toml
Due: validate-jetstream, build-docs

First draft exposure signal
  jetstream/review-checker-119-existing-user-profiles.toml
Due: validate-jetstream, build-docs

Adds exposure signal to new users experiment
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

Define exposure signal for Review Checker experiments (#264)
  jetstream/review-checker-119-existing-user-profiles.toml
  jetstream/review-checker-119-new-profiles.toml
Due: validate-jetstream, build-docs

Update end date for iOS defaul browser experiment
  jetstream/mobile-default-browser-homepage-banner-copy-test-ios.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
