Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Create vpn-moments-page-july-release-v2.toml with downsampling
  jetstream/vpn-moments-page-july-release-v2.toml
Due: validate-jetstream, build-docs

Update jetstream/vpn-moments-page-july-release-v2.toml
  jetstream/vpn-moments-page-july-release-v2.toml
Due: validate-jetstream, build-docs

Create vpn-moments-page-july-release-v2.toml with downsampling (#209)
  jetstream/vpn-moments-page-july-release-v2.toml
Due: validate-jetstream, build-docs

get back up to date
  .DS_Store
  jetstream/.DS_Store
Due: validate-jetstream, build-docs

Update do no harm outcome
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, validate-metrics, build-docs

Use legacy client_id in newtab_interactions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Change ID for newtab segment data source
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs

add imports and is pinned metrics
  jetstream/pin-to-taskbar-context-early-day-users.toml
  jetstream/set-to-default-context-early-day-users-fox-doodle.toml
Due: validate-jetstream, build-docs

add imports and is pinned metrics (#214)
  jetstream/pin-to-taskbar-context-early-day-users.toml
  jetstream/set-to-default-context-early-day-users-fox-doodle.toml
Due: validate-jetstream, build-docs

Add new jetstream configs for impact-of-race-cache-with-network-feature and speculative-connect-sockets experiments
  jetstream/impact-of-race-cache-with-network-feature.toml
  jetstream/speculative-connect-sockets.toml
Due: validate-jetstream, build-docs

Add a minimal performance outcome with fewer probes
  jetstream/outcomes/firefox_desktop/page_load_performance_minimal.toml
Due: validate-jetstream, build-docs

Added download (http 1/2/3) and upload (1/2/3) throughput metrics to Networking Outcome
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Added http download and upload throughput metrics to Networking Outcome
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Add new outcome - http upload and download performance
  jetstream/outcomes/firefox_desktop/upload_download_performance.toml
Due: validate-jetstream, build-docs

Add new jetstream configs for impact-of-race-cache-with-network-featu… (#215)
  jetstream/impact-of-race-cache-with-network-feature.toml
  jetstream/speculative-connect-sockets.toml
Due: validate-jetstream, build-docs

Add new outcome - http upload and download performance (#219)
  jetstream/outcomes/firefox_desktop/upload_download_performance.toml
Due: validate-jetstream, build-docs

Create canvas-fingerprinting-protection.toml
  jetstream/canvas-fingerprinting-protection.toml
Due: validate-jetstream, build-docs

Create canvas-fingerprinting-protection.toml (#220)
  jetstream/canvas-fingerprinting-protection.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Remove split search engine as a default metric for desktop (#213)
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs

Add Jetstream config for parallel-marking-experiment
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

iOS dirty_startup monitor
  definitions/firefox_ios.toml
  opmon/firefox-ios-dirty-startup.toml
Due: validate-opmon, validate-metrics, build-docs

Add Jetstream config for parallel-marking-experiment (#221)
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

Add metric statistic
  opmon/firefox-ios-dirty-startup.toml
Due: validate-opmon, build-docs

Add additional probes to parallel marking experiment results
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

[ci rerun-skip] Add additional probes to parallel marking experiment results (#222)
  jetstream/parallel-marking-experiment.toml
Due: validate-jetstream, build-docs

Create ios-felt-privacy.toml
  jetstream/ios-felt-privacy.toml
Due: validate-jetstream, build-docs

Create ios-felt-privacy.toml (#223)
  jetstream/ios-felt-privacy.toml
Due: validate-jetstream, build-docs

Custom config for android-add-ons-extension-process
  opmon/android-add-ons-extension-process.toml
Due: validate-opmon, build-docs

Add the Early Hints-specific outcome
  jetstream/outcomes/firefox_desktop/early_hints.toml
Due: validate-jetstream, build-docs

Add performance_page_non_blank_paint
  definitions/fenix.toml
  opmon/android-add-ons-extension-process.toml
  opmon/definitions/fenix.toml
Due: validate-opmon, validate-metrics, build-docs

Custom config for android-add-ons-extension-process (#224)
  definitions/fenix.toml
  opmon/android-add-ons-extension-process.toml
  opmon/definitions/fenix.toml
Due: validate-opmon, validate-metrics, build-docs

Update easy-setup-part-4.toml
  jetstream/easy-setup-part-4.toml
Due: validate-jetstream, build-docs

Update easy-setup-part-4.toml (#226)
  jetstream/easy-setup-part-4.toml
Due: validate-jetstream, build-docs

Update easy-setup-part-4.toml (#227)
  jetstream/easy-setup-part-4.toml
Due: validate-jetstream, build-docs

Update early_hints.toml
  jetstream/outcomes/firefox_desktop/early_hints.toml
Due: validate-jetstream, build-docs
