Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Update klar_ios.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Update klar_android.toml
  definitions/klar_android.toml
Due: validate-metrics, build-docs, base-revision="main"

Set columns_as_dimensions = true
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, validate-metric-config-parser, base-revision="main"

Set columns_as_dimensions = true (#739)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, validate-metric-config-parser, base-revision="main"

[ci skip] Deployed d467c70b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add timing ratio metrics and deciles
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/certificate-transparency.toml
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update certificate-transparency.toml
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] certificate-transparency: add timing ratio metrics and deciles (#740)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed dce9ce87 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

remove nulls from tls ratio
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] certificate-transparency: remove nulls from tls ratio (#741)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 73b49fa4 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update desktop-to-mobile-adoption-promo-signed-into-account-eu.toml
  jetstream/desktop-to-mobile-adoption-promo-signed-into-account-eu.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-feature-callout-signed-into-account.toml
  jetstream/desktop-feature-callout-signed-into-account.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update desktop-to-mobile-adoption-promo-signed-into-account-eu.toml (#742)
  jetstream/desktop-feature-callout-signed-into-account.toml
  jetstream/desktop-to-mobile-adoption-promo-signed-into-account-eu.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed ab2f072c with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create fox-doodle-multi-action-cta-existing-users.toml
  jetstream/fox-doodle-multi-action-cta-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-doodle-multi-action-cta-early-day.toml
  jetstream/fox-doodle-multi-action-cta-early-day.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-doodle-multi-action-cta-existing-users.toml (#743)
  jetstream/fox-doodle-multi-action-cta-early-day.toml
  jetstream/fox-doodle-multi-action-cta-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 0f765256 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update android-mobile-sync-screen-skip-copy-optimization-v2.toml
  jetstream/android-mobile-sync-screen-skip-copy-optimization-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update android-onboarding-remove-sync-card.toml
  jetstream/android-onboarding-remove-sync-card.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update onboarding experiments to extend observation window (#744)
  jetstream/android-mobile-sync-screen-skip-copy-optimization-v2.toml
  jetstream/android-onboarding-remove-sync-card.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 95e0a368 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add tab loss detected metric
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add version condition
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add tab loss detected metric to the iOS health dashboard (#745)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

[ci skip] Deployed 3284c1aa with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add configs and metrics for ios toolbar experiments
  definitions/firefox_ios.toml
  jetstream/new-toolbar-ios-release-experiment-smoke-test-expansion.toml
  jetstream/new-toolbar-ios-release-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix statistic
  jetstream/new-toolbar-ios-release-experiment-smoke-test-expansion.toml
  jetstream/new-toolbar-ios-release-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add configs and metrics for ios toolbar experiments (#746)
  definitions/firefox_ios.toml
  jetstream/new-toolbar-ios-release-experiment-smoke-test-expansion.toml
  jetstream/new-toolbar-ios-release-experiment.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed ce85a6c4 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_ios/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add event name condition
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Update opmon/firefox-ios-health.toml
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

Add event name condition (#747)
  opmon/firefox-ios-health.toml
Due: validate-opmon, build-docs, base-revision="main"

[ci skip] Deployed 5cdb349b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create promote-add-ons-in-onboarding-release.toml
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create promote-add-ons-in-onboarding-release.toml (#748)
  jetstream/promote-add-ons-in-onboarding-release.toml
Due: validate-jetstream, build-docs, base-revision="main"
