Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Update eco-mode-nightly-experiment.toml (#183)
  jetstream/eco-mode-nightly-experiment.toml
Due: validate-jetstream, build-docs

Create android-default-toolbar-placement.toml
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Add files via upload
  definitions/fenix.toml
Due: validate-metrics, build-docs

Create android-default-toolbar-placement.toml (#184)
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Edits to the definition file fennix
  definitions/fenix.toml
Due: validate-metrics, build-docs

Fix mistake in success rate computation
  definitions/functions.toml
Due: validate-metrics, build-docs

Create release-ios-set-to-default-instructions-no-x.toml
  jetstream/release-ios-set-to-default-instructions-no-x.toml
Due: validate-jetstream, build-docs

Create release-ios-set-to-default-instructions-no-x.toml (#187)
  jetstream/release-ios-set-to-default-instructions-no-x.toml
Due: validate-jetstream, build-docs

Config for desktop dau opmon dashboard
  opmon/desktop-dau.toml
Due: validate-opmon, build-docs

Config for desktop dau opmon dashboard (#188)
  opmon/desktop-dau.toml
Due: validate-opmon, build-docs

feat: new jetstream config
  jetstream/sponsored-suggestions-exposure-holdback.toml
Due: validate-jetstream, build-docs

Consolidated the data sources
  jetstream/definitions/fenix.toml
Due: validate-jetstream, build-docs

remove AMP metrics
  jetstream/sponsored-suggestions-exposure-holdback.toml
Due: validate-jetstream, build-docs

updating with richard's changes
  definitions/fenix.toml
Due: validate-metrics, build-docs

Update fenix.toml
  definitions/fenix.toml
Due: validate-metrics, build-docs

Added metrics to lifestyles experiment
  jetstream/definitions/fenix.toml
  jetstream/lifestyles-images-onboarding-experiment-v3.toml
Due: validate-jetstream, build-docs

Create on-boarding-challenge-the-default.toml
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

Add files via upload (#185)
  definitions/fenix.toml
  jetstream/definitions/fenix.toml
  jetstream/lifestyles-images-onboarding-experiment-v3.toml
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, validate-metrics, build-docs

Create easy-setup-part-4.toml
  jetstream/easy-setup-part-4.toml
Due: validate-jetstream, build-docs

Create easy-setup-part-4.toml (#190)
  jetstream/easy-setup-part-4.toml
Due: validate-jetstream, build-docs

Custom config for backgroundupdate-allowunelevated-rollout-beta
  opmon/backgroundupdate-allowunelevated-rollout-beta.toml
Due: validate-opmon, build-docs

add enrollments query for downsampling
  jetstream/extensions-migration-experiment-in-116.toml
Due: validate-jetstream, build-docs

fix typo
  jetstream/extensions-migration-experiment-in-116.toml
Due: validate-jetstream, build-docs

add enrollments query for downsampling (#192)
  jetstream/extensions-migration-experiment-in-116.toml
Due: validate-jetstream, build-docs

add profile age by enrollment segmentation
  jetstream/dictionary-addon-all-users.toml
Due: validate-jetstream, build-docs

add profile age by enrollment segmentation (#193)
  jetstream/dictionary-addon-all-users.toml
Due: validate-jetstream, build-docs

Create def-en-fox-doodle-pin-to-taskbar-early-day-graphics-copy.toml
  jetstream/def-en-fox-doodle-pin-to-taskbar-early-day-graphics-copy.toml
Due: validate-jetstream, build-docs

Create def-en-fox-doodle-pin-to-taskbar-early-day-graphics-copy.toml (#194)
  jetstream/def-en-fox-doodle-pin-to-taskbar-early-day-graphics-copy.toml
Due: validate-jetstream, build-docs

Adding onboarding ctas metrics to metric hub
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Create onboarding.toml
  jetstream/outcomes/fenix/onboarding.toml
Due: validate-jetstream, build-docs

fixed the cross join
  definitions/fenix.toml
Due: validate-metrics, build-docs

Added the new onboarding CTA metrics
  jetstream/outcomes/firefox_ios/onboarding.toml
Due: validate-jetstream, build-docs

Created desktop onboarding CTAs outcome files
  jetstream/outcomes/firefox_desktop/onboarding.toml
Due: validate-jetstream, build-docs

CTD android experiment segmentation
  jetstream/on-boarding-challenge-the-default.toml
Due: validate-jetstream, build-docs

Adding ctd desktop config file
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

cleaned up definition files
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

fixed errors in definition files
  definitions/fenix.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

removed segmetation from config file
  jetstream/ctd-marketing-attribution.toml
Due: validate-jetstream, build-docs

Update android-default-toolbar-placement.toml
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Update android-default-toolbar-placement.toml (#197)
  jetstream/android-default-toolbar-placement.toml
Due: validate-jetstream, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
