Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Update jetstream/whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update syntax for segments
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update segment
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

correcting syntax
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update statistics syntax
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

segment adjusted
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-4217 (#858)
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed abe67a21 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create change-app-color-icon-android-for-existing-users-v2.toml
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

replacing double qoute to single qoute
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/change-app-color-icon-android-for-existing-users-v2.toml
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create change-app-color-icon-android-for-existing-users-v2.toml (#861)
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed a300e687 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add reference to new view campaign_metrics_daily
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add ads MMM metrics daily view to Looker (#864)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 7574cda1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

revert tab groups to full experiment duration
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert tab groups to full experiment duration (#865)
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 7eb39f99 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

update desktop-release-show-relay-to-all-browsers.toml
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix subquery
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

use events_stream
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

fully qualify dataset
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

submission_date
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

update desktop-release-show-relay-to-all-browsers.toml (#866)
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9bec8584 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

change relay metrics and outcomes
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

change experiment config
  jetstream/desktop-release-show-relay-to-all-browsers.toml
Due: validate-jetstream, build-docs, base-revision="main"

change relay metrics and outcomes (#867)
  jetstream/desktop-release-show-relay-to-all-browsers.toml
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9e1f45c0 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: change default analysis unit support to both client and group
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

bump version
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore: update deps (#869)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

[ci skip] Deployed 6c0e808b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"
