Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Enable segments for higher placement (#328)
  jetstream/sponsored-suggestion-placement.toml
Due: validate-jetstream, build-docs

Migrating topsite metrics to use new visits data_source. Creating a few new ones.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Fixing a few metric names and descriptions.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Delete onboarding-welcome-video-experiment-part-2.toml
  onboarding-welcome-video-experiment-part-2.toml
Due: build-docs

Delete onboarding-welcome-video-experiment-part-2.toml (#330)
  onboarding-welcome-video-experiment-part-2.toml
Due: build-docs

Example Looker configs
  definitions/fenix.toml
  looker/defaults/fenix.toml
  looker/defaults/firefox_desktop.toml
Due: validate-metrics, build-docs

add pdf default metric
  jetstream/set-default-pdf-handler-with-annotations.toml
Due: validate-jetstream, build-docs

add pdf default metric (#331)
  jetstream/set-default-pdf-handler-with-annotations.toml
Due: validate-jetstream, build-docs

Simplifying expressions as per comments.
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

change search data source filters and fix fenix uri count
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_ios.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs

change search data source filters and fix fenix uri count (#332)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_ios.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs

add pin metric to results
  jetstream/windows-11-pinning-api-experiment.toml
Due: validate-jetstream, build-docs

add pin metric to results (#333)
  jetstream/windows-11-pinning-api-experiment.toml
Due: validate-jetstream, build-docs

remove deprecated total uri count
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

fix quotes
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] remove expired total uri count probe (#334)
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

add experiment end date
  jetstream/device-migration-q4-spotlights.toml
Due: validate-jetstream, build-docs

edit experiment details, start date
  jetstream/device-migration-q4-spotlights.toml
Due: validate-jetstream, build-docs

add experiment end date (#335)
  jetstream/device-migration-q4-spotlights.toml
Due: validate-jetstream, build-docs

[AD-166] Migrating topsite tiles metrics to use new visits data_source. Creating a few new metrics, too. (#329)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update android-onboarding-search-widget.toml
  jetstream/android-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Triggering a rerun of the android search widget experiment (#337)
  jetstream/android-onboarding-search-widget.toml
Due: validate-jetstream, build-docs

Adds client_level_daily_active_users_v2
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Adds client_level_daily_active_users_v2 (#338)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Update firefox_ios.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs

Update fenix.toml
  jetstream/defaults/fenix.toml
Due: validate-jetstream, build-docs

Update focus_android.toml
  jetstream/defaults/focus_android.toml
Due: validate-jetstream, build-docs

Update focus_ios.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs

add locale and profile age segments
  jetstream/device-migration-q4-spotlights.toml
Due: validate-jetstream, build-docs

add locale and profile age segments (#340)
  jetstream/device-migration-q4-spotlights.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Update DAU default metric on mobile to use v2 definition (#339)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Fix statistics for client_level_daily_active_users_v2
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs

[ci skip-rerun] Fix statistics for client_level_daily_active_users_v2 (#341)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs

rename iPhone to iOS
  opmon/mozilla_vpn.toml
Due: validate-opmon, build-docs

Update firefox_ios.toml
  definitions/firefox_ios.toml
Due: validate-metrics, build-docs

Update fenix.toml
  definitions/fenix.toml
Due: validate-metrics, build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
