Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

test setting input
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

set output for workflow
  .github/workflows/checkout-and-auth.yml
Due: build-docs, base-revision="main"

pass secret to workflow
  .github/workflows/checkout-and-auth.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

inherit secrets
  .github/workflows/checkout-and-auth.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

checkout and setup python in validate jobs
  .github/workflows/checkout-and-auth.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

remove broken reusable workflow
  .github/workflows/checkout-and-auth.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
Due: build-docs, base-revision="main"

additional error logging
  .script/validate.py
Due: build-docs, base-revision="main"

auth logging
  .script/validate.py
Due: build-docs, base-revision="main"

remove logging, change secret var
  .github/workflows/validate-metrics.yml
  .script/validate.py
Due: build-docs, base-revision="main"

update SA elsewhere
  .github/workflows/rerun-jetstream.yml
  .github/workflows/validate-looker.yml
Due: build-docs, base-revision="main"

undo test metrics change
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

chore: migrate circle workflows to gh actions (#888)
  .github/workflows/auto-approve.yml
  .github/workflows/build-docs.yml
  .github/workflows/changed-files.yml
  .github/workflows/deploy-metric-config-parser.yml
  .github/workflows/rerun-jetstream.yml
  .github/workflows/rerun-skip-comment.yml
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metric-config-parser.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
  .script/requirements.txt
  .script/validate.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
  jetstream/client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: migrate to ruff
  .github/workflows/validate-metric-config-parser.yml
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/cli.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/definition.py
  lib/metric-config-parser/metric_config_parser/dimension.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/exposure_signal.py
  lib/metric-config-parser/metric_config_parser/function.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_group.py
  lib/metric-config-parser/metric_config_parser/monitoring.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/parameter.py
  lib/metric-config-parser/metric_config_parser/population.py
  lib/metric-config-parser/metric_config_parser/pre_treatment.py
  lib/metric-config-parser/metric_config_parser/project.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/statistic.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_alert.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
  lib/metric-config-parser/metric_config_parser/tests/test_project.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/metric_config_parser/util.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/tox.ini
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

remove circular dependency
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/tests/test_alert.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

update circle config for ruff
  .circleci/validation-config.yml
  .github/workflows/validate-metric-config-parser.yml
Due: build-docs, base-revision="main"

fix: build-docs wf install mcp from repo
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

Update mozilla-vpn-suggestions-holdback.toml
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update mozilla-vpn-suggestions-holdback.toml (#1058)
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: build-docs wf install mcp from repo (#1056)
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

chore: migrate to ruff (#1057)
  .circleci/validation-config.yml
  .github/workflows/validate-metric-config-parser.yml
  lib/metric-config-parser/README.md
  lib/metric-config-parser/metric_config_parser/alert.py
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/cli.py
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/definition.py
  lib/metric-config-parser/metric_config_parser/dimension.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/exposure_signal.py
  lib/metric-config-parser/metric_config_parser/function.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/metric_group.py
  lib/metric-config-parser/metric_config_parser/monitoring.py
  lib/metric-config-parser/metric_config_parser/outcome.py
  lib/metric-config-parser/metric_config_parser/parameter.py
  lib/metric-config-parser/metric_config_parser/population.py
  lib/metric-config-parser/metric_config_parser/pre_treatment.py
  lib/metric-config-parser/metric_config_parser/project.py
  lib/metric-config-parser/metric_config_parser/segment.py
  lib/metric-config-parser/metric_config_parser/sql.py
  lib/metric-config-parser/metric_config_parser/statistic.py
  lib/metric-config-parser/metric_config_parser/tests/integration/test_config_integration.py
  lib/metric-config-parser/metric_config_parser/tests/test_alert.py
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_metric.py
  lib/metric-config-parser/metric_config_parser/tests/test_monitoring.py
  lib/metric-config-parser/metric_config_parser/tests/test_outcomes.py
  lib/metric-config-parser/metric_config_parser/tests/test_project.py
  lib/metric-config-parser/metric_config_parser/tests/test_sql.py
  lib/metric-config-parser/metric_config_parser/util.py
  lib/metric-config-parser/pyproject.toml
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/tox.ini
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix: build docs with mkdocs
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

remove circle build-docs
  .circleci/config.yml
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

fix: build docs with mkdocs (#1059)
  .circleci/config.yml
  .circleci/validation-config.yml
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

fix: deploy docs
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

force push mkdocs
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

undo checkout change
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

remove pr branch from triggers
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

Create client-side-relevance-ranking-for-enhanced-firefox-suggest-pha… (#1055)
  jetstream/client-side-relevance-ranking-for-enhanced-firefox-suggest-phase-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

adds no-op circle job to prevent error
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

fix: deploy docs (#1060)
  .circleci/validation-config.yml
  .github/workflows/build-docs.yml
Due: build-docs, base-revision="main"

experiment dates
  jetstream/pin-frequently-used-websites-141.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update experiment dates for 2 weeks enrollment (#1061)
  jetstream/pin-frequently-used-websites-141.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: add auth to jetstream validation workflow
  .github/workflows/validate-jetstream.yml
  jetstream/1-click-pin-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add workflow permissions
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

tweak auth params
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

testing
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"
