Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add config for frecency
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

dismissals are not better when bigger (#1272)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Back to client ID
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: ability to override the analysis unit for an experiment
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add tests
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat: ability to override the analysis unit for an experiment (#1274)
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add analysis_unit
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add custom enrollment query for the Taskbar Tabs V2 experiment (#1270)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

downsample inferred
  jetstream/new-tab-automated-personalization-local-ranking.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update new-tab-automated-personalization-local-ranking.toml
  jetstream/new-tab-automated-personalization-local-ranking.toml
Due: validate-jetstream, build-docs, base-revision="main"

downsample inferred (#1275)
  jetstream/new-tab-automated-personalization-local-ranking.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update underlying data for `newtab_clients_daily` (#1271)
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  jetstream/outcomes/firefox_desktop/pocket_newtab.toml
  looker/definitions/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

feat: delete definitions related to focus_android, focus_ios, klar_android, and klar_ios
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  looker/definitions/klar_android.toml
  looker/definitions/klar_ios.toml
Due: validate-looker, build-docs, base-revision="main"

add metrics
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: delete definitions related to focus_android, focus_ios, klar_android, and klar_ios (#1276)
  looker/definitions/focus_android.toml
  looker/definitions/focus_ios.toml
  looker/definitions/klar_android.toml
  looker/definitions/klar_ios.toml
Due: validate-looker, build-docs, base-revision="main"

Update metrics from pocket to content
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Change select_expression from 'country_code' to 'country'
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Update denominator metrics for content clicks
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Update opmon/fr-billboard-rollout.toml
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Rename dimension from 'country_code' to 'country'
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Change dimension key from 'country' to 'country_code'
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Update metrics from pocket to content (#1282)
  opmon/fr-billboard-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Reduce Taskbar Tabs V2 query to 25%
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Up sample size to 50%
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add urlbar events by result type to smart shortcuts
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "add urlbar events by result type to smart shortcuts"
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add urlbar events to smart shortcuts outcomes
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add urlbar events to smart shortcuts outcomes (#1284)
  jetstream/smart-shortcuts-v3-lr2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Taskbar tabs v2 sample size (#1283)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/frecency-based-sponsored-tiles-poc.toml
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use window_start in segment data_source
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use window_start in segment data_source (#1285)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DENG-10315] Use Cloud Run dryrun function gen 2
  .github/workflows/validate-jetstream.yml
  .github/workflows/validate-looker.yml
  .github/workflows/validate-metrics.yml
  .github/workflows/validate-opmon.yml
  .script/validate.py
Due: build-docs, base-revision="main"

Change sample size from 50% to 10% in queries
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

add experiment config for online suggest m3 experiment
  jetstream/privacy-enhancing-firefox-suggest-m31.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix exposure select expression
  jetstream/privacy-enhancing-firefox-suggest-m31.toml
Due: validate-jetstream, build-docs, base-revision="main"

Online suggest m3 experiment (#1291)
  jetstream/privacy-enhancing-firefox-suggest-m31.toml
Due: validate-jetstream, build-docs, base-revision="main"

Increase sample size to 20 for experiments
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Change sample size from 50% to 10% in queries (#1287)
  jetstream/whats-new-toast-notification-taskbar-tabs-release-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
