Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add custom segments (#1335)
  jetstream/firefox-year-in-review.toml
Due: validate-jetstream, build-docs, base-revision="main"

enrollment period is being added to these experiments because enrollments were not closed on time.
  jetstream/android-first-run-onboarding.toml
  jetstream/ios-new-onboarding-global-production-version.toml
Due: validate-jetstream, build-docs, base-revision="main"

enrollment period is being added to these experiments (#1336)
  jetstream/android-first-run-onboarding.toml
  jetstream/ios-new-onboarding-global-production-version.toml
Due: validate-jetstream, build-docs, base-revision="main"

early end date to test results
  jetstream/privacy-enhancing-firefox-suggest-m31-follow-on.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] early end date to test results (#1337)
  jetstream/privacy-enhancing-firefox-suggest-m31-follow-on.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] early end date to test results (#1338)
  jetstream/privacy-enhancing-firefox-suggest-m31-follow-on.toml
Due: validate-jetstream, build-docs, base-revision="main"

update end date for Online Suggest M4 experiment
  jetstream/privacy-enhancing-firefox-suggest-m31-follow-on.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] update end date for Online Suggest M4 experiment (#1339)
  jetstream/privacy-enhancing-firefox-suggest-m31-follow-on.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] feat: add new daily guardrails
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update smart-shortcuts-v3-lr3.toml
  jetstream/smart-shortcuts-v3-lr3.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update smart-shortcuts-v3-lr3.toml (#1341)
  jetstream/smart-shortcuts-v3-lr3.toml
Due: validate-jetstream, build-docs, base-revision="main"

add total_uri_count metric for ios all periods; search_count for fenix daily
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove bootstrap mean stats from guardrails
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

New profiles period-over-period
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci rerun-skip] feat: add new daily guardrails (#1340)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add new desktop metric in jetstream for 3-day retention
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

test different metric definitions
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

use baseline_active_users instead of desktop_retention_clients
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

add back both options for testing
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

use baseline for metric
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

fix experiments_column_type
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

add legacy version of metric and use that for now
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci rerun-skip] feat: add new desktop metric in jetstream for 3-day retention (#1343)
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

remove key
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-ui-redesign-new-users-release-147.toml
  jetstream/android-ui-redesign-new-users-release-147.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding enrollment period to android-ui-redesign-new-users-release-147.toml (#1344)
  jetstream/android-ui-redesign-new-users-release-147.toml
Due: validate-jetstream, build-docs, base-revision="main"

update experiment column type
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

set to none
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

asdfa
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Add New Segments to Resurrected user flow Experiment
  jetstream/welcome-back-flow-for-resurrected-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add New Segments to Experiments
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

add config for frecency experiment (#1273)
  jetstream/frecency-based-sponsored-tiles-poc.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add private window
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add New Segments to Valentines day Experiment (#1345)
  jetstream/privacy-is-love-valentines-day-campaign.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update deps
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

chore: update deps (#1347)
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
Due: build-docs, validate-metric-config-parser, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
