Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

Update segment resolution in analysis configuration
  lib/metric-config-parser/metric_config_parser/analysis.py
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_segments.py
Due: build-docs, base-revision="main"

fix: crlite outcome population ratio stats config
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update segment resolution in analysis configuration
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, base-revision="main"

Update segment resolution in analysis configuration
  lib/metric-config-parser/metric_config_parser/experiment.py
Due: build-docs, base-revision="main"

Update segment resolution in analysis configuration
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
Due: build-docs, base-revision="main"

Update segment resolution in analysis configuration
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

Update segment resolution in analysis configuration (#628)
  lib/metric-config-parser/metric_config_parser/experiment.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/test_experiment.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, base-revision="main"

fix: crlite outcome population ratio stats config (#629)
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update ads.toml
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

Change payout name
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

Making some adjustments
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

bug: cert_storage_memory should be histogram mean
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ads.toml (#500)
  definitions/ads.toml
Due: validate-metrics, build-docs, base-revision="main"

chore: update path-filtering orb
  .circleci/config.yml
Due: build-docs, base-revision="main"

Update functions.toml
  jetstream/definitions/functions.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update crlite.toml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add ad_marketplace metrics to ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

chore: update path-filtering orb (#635)
  .circleci/config.yml
Due: build-docs, base-revision="main"

Add search metrics to weekly and daily observation periods
  jetstream/discovery-of-search-sap-existing-en.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add search metrics to weekly and daily observation periods (#638)
  jetstream/discovery-of-search-sap-existing-en.toml
Due: validate-jetstream, build-docs, base-revision="main"

Crlite2 (#636)
  jetstream/definitions/functions.toml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update discovery-of-search-sap-existing-en.toml
  jetstream/discovery-of-search-sap-existing-en.toml
Due: validate-jetstream, build-docs, base-revision="main"

bug: cert_storage_memory should be histogram mean (#634)
  jetstream/definitions/functions.toml
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update discovery-of-search-sap-existing-en.toml (#639)
  jetstream/discovery-of-search-sap-existing-en.toml
Due: validate-jetstream, build-docs, base-revision="main"

bug: pop ratio metrics must specify depends_on
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

create new metric for ratios
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

bug: pop ratio metrics must specify depends_on (#640)
  jetstream/outcomes/firefox_desktop/crlite.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update ads.toml - remove create_title and creative_url
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update ads.toml - remove create_title and creative_url (#641)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Revert "Update ads.toml - remove create_title and creative_url (#641)"
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

add configs for experimetns to drive account adoption
  jetstream/spotlight-modal-to-drive-accounts-via-backup-value-prop-esr.toml
  jetstream/spotlight-modal-to-drive-accounts-via-backup-value-prop.toml
Due: validate-jetstream, build-docs, base-revision="main"

add configs for experimetns to drive account adoption (#643)
  jetstream/spotlight-modal-to-drive-accounts-via-backup-value-prop-esr.toml
  jetstream/spotlight-modal-to-drive-accounts-via-backup-value-prop.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "Update ads.toml - remove create_title and creative_url" (#642)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Update fakespot-in-suggest.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"
