Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

[ci skip] Deployed b2ade661 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create relay.toml
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update relay.toml
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create relay.toml (#730)
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

Masking repeated dimensions
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create npo-account-login-screen-en-windows.toml
  jetstream/npo-account-login-screen-en-windows.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create npo-account-login-screen-en-windows.toml (#731)
  jetstream/npo-account-login-screen-en-windows.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9f99f024 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add and use filtered events datasource
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-spotlight-modal-english-holdback.toml
  jetstream/account-spotlight-modal-english-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-spotlight-modal-english-holdback-esr.toml
  jetstream/account-spotlight-modal-english-holdback-esr.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update account-spotlight-modal-english-holdback.toml (#733)
  jetstream/account-spotlight-modal-english-holdback-esr.toml
  jetstream/account-spotlight-modal-english-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 42618a39 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add and use filtered events datasource (#732)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 11d31db2 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

certificate-transparency: add exp filter to tls_metrics ds
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] certificate-transparency: add exp filter to tls_metrics ds (#735)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 6fa38b18 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update looker/definitions/ads.toml
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Improving native ads reporting v2 (#734)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed b3f1ba0d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Rolling back join but leaving new ratio metrics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Rolling back desktop native join (#736)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 039245f1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

use legacy client id
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/certificate-transparency.toml
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] certificate-transparency: use legacy id for tls timing (#737)
  jetstream/certificate-transparency.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 7f802854 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

klar_ios retention columns_as_dimensions
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

klar_ios retention columns_as_dimensions (#738)
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed a39be1a2 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"
