Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci rerun-skip] fix: linear model mean failing to fit, using bootstrap (#878)
  jetstream/desktop-release-show-relay-to-all-browsers.toml
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 5288cdf0 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

include hnt revamp metris into firefox desktop namespace
  looker/definitions/firefox_desktop.toml
  looker/definitions/hnt.toml
Due: validate-looker, build-docs, base-revision="main"

delete hnt.toml
  looker/definitions/hnt.toml
Due: validate-looker, build-docs, base-revision="main"

take line [data_sources]
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Update looker/definitions/firefox_desktop.toml
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

first pass hnt looker dashboarding P1 (#877)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 2657c5e9 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update join keys for newtab_clients_daily_aggregates
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Update join keys for newtab_clients_daily_aggregates (#879)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 324263a1 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

added metrics and statistics for counting per client
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

updated statistics
  jetstream/change-app-color-icon-android-for-existing-users-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add custom experiment for Storage Access Heuristics that match webcompat
  jetstream/storage-access-grant-heuristic-restriction.toml
Due: validate-jetstream, build-docs, base-revision="main"

Fix base field join for newtab metric definitions table
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Fix base field join for newtab metric definitions table (#882)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

[ci skip] Deployed e37ec543 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: refactor default browser outcome to use filtered events_stream
  jetstream/outcomes/fenix/default-browser.toml
Due: validate-jetstream, build-docs, base-revision="main"

add segment definitions to address bar configs
  jetstream/address-bar-update-donoharm.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: refactor default browser outcome to use filtered events_stream (#883)
  jetstream/outcomes/fenix/default-browser.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 68e3a813 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

added ads funnel metrics
  definitions/firefox_desktop.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

rename India segment to avoid using protected keyword
  jetstream/address-bar-update-donoharm.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

fixed incorrect metric name in looker/
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

added more statistics
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

fix statistics and remove unnecessary section labels
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

type
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Add segments to tab groups experiment results
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segments to tab groups experiment results (#886)
  jetstream/tab-groups-10-experiment-with-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed d5ea571f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

split out marketing tier 1 segment to countries
  jetstream/address-bar-update-donoharm.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix syntax error
  jetstream/address-bar-update-donoharm.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DS-4258] add segment definitions to address bar configs (#884)
  jetstream/address-bar-update-donoharm.toml
  jetstream/address-bar-update-launch-extention.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed ffa060df with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

added ads funnel metrics (#885)
  definitions/firefox_desktop.toml
  looker/definitions/ads.toml
Due: validate-metrics, validate-looker, build-docs, base-revision="main"

[ci skip] Deployed 19567e26 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add filtered data source
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix column names
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

add filtered data source for encourage-use-of-search-bar-on-mobile (#887)
  jetstream/encourage-use-of-search-bar-on-mobile.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 871aaeb3 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/pocket_newtab/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
