Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Create first_time_wallpaper_newtab.toml
  jetstream/first_time_wallpaper_newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

Rename first_time_wallpaper_newtab.toml to first-time-wallpaper-newtab.toml
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

updated uri count metrics for both legacy and glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

minor format detail
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

[ci rerun-skip] Create first_time_wallpaper_newtab.toml (#931)
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 4b0da7bc with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/fxa_access_method/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

added daily_active_users_glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

uri count v2 added for both legacy and glean and revert the change on uri count
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

added is default browser for glean
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

updated days of use and QCDOU
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

adds a urlbar_impressions metric
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

adds a urlbar_impressions metric (#932)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

fix: unbreak suggest outcome
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: unbreak suggest outcome (#934)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 0f419f4e with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  metrics/firefox_desktop/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

adjust onboarding rate to account for 1-step events
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

adjust onboarding rate to account for 1-step events (#935)
  jetstream/simplified-chatbot-onboarding.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed cf9acb0d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/fxa_access_method/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create carrot-potential-exposures.toml
  jetstream/carrot-potential-exposures.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create carrot-potential-exposures.toml (#936)
  jetstream/carrot-potential-exposures.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 094cd2e6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/fxa_access_method/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

fix: try to make metrics query less complex
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] fix: try to make metrics query less complex (#937)
  jetstream/first-time-wallpaper-newtab.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 582bb77a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_do_no_harm/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/webcompat/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add analysis period for storage-access-grant-heuristic-restriction
  jetstream/storage-access-grant-heuristic-restriction.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add analysis period for storage-access-grant-heuristic-restriction (#939)
  jetstream/storage-access-grant-heuristic-restriction.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 80139e6d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/fxa_access_method/index.html
  outcomes/firefox_desktop/sidebar/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update desktop-credit-card-autofill-global-enablement-holdback.toml
  jetstream/desktop-credit-card-autofill-global-enablement-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

move select_expression to a single line
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

add treatment for urlbar_impressions
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update jetstream/search-result-de-duplication.toml
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

attempt to fix validate-jetstream errors
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove aggregation from exposure signal
  jetstream/search-result-de-duplication.toml
Due: validate-jetstream, build-docs, base-revision="main"
