Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.3.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Update off-train-aa-test-release.toml
  jetstream/off-train-aa-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update off-train-aa-test-release.toml (#1133)
  jetstream/off-train-aa-test-release.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create interaction-frecency-enhancement-v2.toml
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix validation error
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update interaction-frecency-enhancement-v2.toml
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create interaction-frecency-enhancement-v2.toml (#1134)
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update interaction-frecency-enhancement-v2.toml (#1135)
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix metric type and change outlier threshold
  jetstream/taskbar-tabs-discovery-v2-use-cases.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix metric type and change outlier threshold (#1136)
  jetstream/taskbar-tabs-discovery-v2-use-cases.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update interaction-frecency-enhancement-v2.toml (#1137)
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add PR comment on were to find generated SQL
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

feat: add PR comment on were to find generated SQL (#1147)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

chore: update rerun-skip docs with dag info
  README.md
Due: build-docs, base-revision="main"

chore: update rerun-skip docs with dag info (#1148)
  README.md
Due: build-docs, base-revision="main"

Skip first week after enrollment for history metrics
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: add pr write permissions to validation comment
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

fix: add pr write permissions to validation comment (#1153)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

Skip first week after enrollment for history metrics (#1151)
  jetstream/interaction-frecency-enhancement-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix(ci): only try to create comment on PRs
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

fix(ci): only try to create comment on PRs (#1160)
  .github/workflows/validate-jetstream.yml
Due: build-docs, base-revision="main"

set direction for URL annoyances metric
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

set direction for URLbar annoyances metric (#1161)
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: override problematic metrics with no-ops
  jetstream/newtab-activation-tour-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: override problematic metrics with no-ops (#1163)
  jetstream/newtab-activation-tour-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add segmentation based on max concurrent tabs
  jetstream/offer-session-restore-on-by-default-to-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Adding new entries for Equativ rollout monitoring
  looker/definitions/ads_monitoring.toml
Due: validate-looker, build-docs, base-revision="main"

Adding metric definition
  looker/definitions/ads_monitoring.toml
Due: validate-looker, build-docs, base-revision="main"

Cleaning up metric description
  looker/definitions/ads_monitoring.toml
Due: validate-looker, build-docs, base-revision="main"

Added new impressions mismatched metric
  looker/definitions/ads_monitoring.toml
Due: validate-looker, build-docs, base-revision="main"

Add segmentation based on max concurrent tabs (#1166)
  jetstream/offer-session-restore-on-by-default-to-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Config for interaction-frecency-enhancement-v3
  jetstream/interaction-frecency-enhancement-v3.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DENG-9780] Ads Equativ monitoring in Looker (#1167)
  looker/definitions/ads_monitoring.toml
Due: validate-looker, build-docs, base-revision="main"
