Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            .* build-docs true

Update firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: wording on pocket
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix: replace boolean with scalar
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Add PR template
  .github/pull_request_template.md
Due: build-docs

Update metric-config-parser
  .script/requirements.txt
Due: build-docs

Auto approvals
  .github/pull_request_template.md
  .github/workflows/auto-approve.yml
Due: build-docs

test
  opmon/bug-1732206-rollout-fission-release-rollout-release-94-95.toml
Due: validate-opmon, build-docs

opmon
  opmon/bug-1732206-rollout-fission-release-rollout-release-94-95.toml
Due: validate-opmon, build-docs

Test CI revision
  .circleci/validation-config.yml
Due: build-docs

[ci skip] Use metric-hub for doc generation
  .script/generate_docs.py
  README.md
Due: build-docs

Move viewpoint-survey-beta-validation-control-fix config
  jetstream/viewpoint-survey-beta-validation-control-fix.toml
Due: validate-jetstream, build-docs

first commit
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

Linting changes
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

Fixed to only adding new metrics and with corrected names
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

Adds Binomial statistic for `is_pinned`
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, build-docs

removed is_default_browser
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

added statistics definitions
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

removed SUM from select_expression
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

fix typo
  jetstream/first-run-easy-as-one-click-ver-1.toml
Due: validate-jetstream, build-docs

feat: Outcome for newtab dnh
  jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
Due: validate-jetstream, build-docs

new metrics added
  jetstream/onboarding-welcome-video-experiment.toml
Due: validate-jetstream, build-docs

add device migration metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix device metric definitions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add device migration statistics
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, build-docs

fix quotes error in device migration metric definition
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

fix device migration metric definitions
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

re-define device migration metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add aggregations to device migration redefined
  definitions/firefox_desktop.toml
  jetstream/definitions/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs

change description for device migration count metrics
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

Update definitions/firefox_desktop.toml
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

delete jetstream experimental files that were accidentally included with my PR
  jetstream/first-run-easy-as-one-click-ver-1.toml
  jetstream/onboarding-welcome-video-experiment.toml
Due: validate-jetstream, build-docs
