Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"

fix upstream override
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
Due: build-docs, base-revision="main"

Update fakespot-in-suggest.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: add aggregation_units to metric and datasource (#553)
  lib/metric-config-parser/metric_config_parser/__init__.py
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/metric_config_parser/metric.py
  lib/metric-config-parser/metric_config_parser/tests/conftest.py
  lib/metric-config-parser/metric_config_parser/tests/data/definitions/firefox_desktop.toml
  lib/metric-config-parser/metric_config_parser/tests/test_analysis.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/requirements.in
  lib/metric-config-parser/requirements.txt
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

added levels to some metrics for desktop
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

added levels to some metrics for mobile
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

Update fakespot-in-suggest.toml (#560)
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-3616 Update Metric-Hub DAU and KPI metrics (#561)
  definitions/firefox_desktop.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

Create july-moments-page-fakespot.toml
  jetstream/july-moments-page-fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create july-moments-page-fakespot.toml (#566)
  jetstream/july-moments-page-fakespot.toml
Due: validate-jetstream, build-docs, base-revision="main"

update toolbar-badge incorrect casing, add toolbar-badge and toast-notification ping volume metrics
  opmon/firefox-messaging-system.toml
Due: validate-opmon, build-docs, base-revision="main"

Add OKR metrics to Desktop and Mobile products (#523)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

[MRG] Create fakespot-in-suggest.toml (#486)
  definitions/firefox_desktop.toml
  jetstream/fakespot-in-suggest.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip-rerun] re-enable covariate adjustment (#509)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-early-day-user-holdback.toml (#493)
  jetstream/fox-guide-reader-mode-early-day-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Point DAU link to correct table (#482)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update fenix.toml (#499)
  looker/definitions/fenix.toml
Due: validate-looker, build-docs, base-revision="main"

Update ads.toml (#501)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

moved highlights to first OR statement (#535)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

update client-level DAU definitions (#526)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Create weather-suggestions-simplified.toml (#473)
  jetstream/weather-suggestions-simplified.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "Generated Looker explore for PPA conversions" (#488)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Fix merging joins (#504)
  lib/metric-config-parser/metric_config_parser/data_source.py
  lib/metric-config-parser/setup.py
Due: build-docs, base-revision="main"

Create full-page-translations-on-android-v2.toml (#514)
  jetstream/full-page-translations-on-android-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create fox-guide-reader-mode-existing-user-holdback.toml (#494)
  jetstream/fox-guide-reader-mode-existing-user-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

added pdf handler metrics and outcome (#513)
  definitions/firefox_desktop.toml
  jetstream/outcomes/firefox_desktop/pdf_handler.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

Prefix mobile engagement and retention rates (#524)
  definitions/multi_product.toml
Due: validate-metrics, build-docs, base-revision="main"

Fix klar active_users data_sources (#528)
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

Use jetstream service key in CI (#511)
  .circleci/validation-config.yml
Due: build-docs, base-revision="main"

New Tab wallpaper and weather configs (#471)
  jetstream/home-and-newtab-wallpapers-v1-highlight.toml
  jetstream/home-and-newtab-wallpapers-v1-spotlight.toml
  jetstream/home-and-newtab-weather-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

adding metric definition for search_with_ads_organic for mobile (#454)
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/klar_android.toml
  definitions/klar_ios.toml
Due: validate-metrics, build-docs, base-revision="main"

android PWVS config upload (#533)
  jetstream/android-private-window-visual-refresh.toml
Due: validate-jetstream, build-docs, base-revision="main"

Generated Looker explore for PPA conversions (#487)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"

Create monitor-customer-satisfaction (#555)
  opmon/monitor-customer-satisfaction.toml
Due: validate-opmon, build-docs, base-revision="main"

[ci skip-rerun] Revert "[ci skip-rerun] Enable linear-model based mean inferences" (#498)
  jetstream/defaults/fenix.toml
  jetstream/defaults/firefox_desktop.toml
  jetstream/defaults/firefox_ios.toml
  jetstream/defaults/focus_android.toml
  jetstream/defaults/focus_ios.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update README.md (#522)
  README.md
Due: build-docs, base-revision="main"

Fix sponsored topsite enabled definition (#472)
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Aggregate consolidated ads data to daily for spoc metrics (#485)
  looker/definitions/ads.toml
Due: validate-looker, build-docs, base-revision="main"
