Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix: commit message needs quotes
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

fix: commit message needs quotes (#1097)
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

update newtab_gt4_searches to have unique, more descriptive title
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

update end date for 4 weeks observation
  jetstream/ai-chatbot-page-summarization-mvp.toml
Due: validate-jetstream, build-docs, base-revision="main"

Screenshot tool metrics
  jetstream/offer-screenshot-tool-in-toolbar-by-default-for-new-profiles.toml
Due: validate-jetstream, build-docs, base-revision="main"

Session Restore experiment metrics
  jetstream/offer-session-restore-on-by-default-to-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Configs for Screenshot tool and Session Restore experiments (#1099)
  jetstream/ai-chatbot-page-summarization-mvp.toml
  jetstream/offer-screenshot-tool-in-toolbar-by-default-for-new-profiles.toml
  jetstream/offer-session-restore-on-by-default-to-new-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: gh actions mcp deploy (#1096)
  .circleci/validation-config.yml
  .github/pull_request_template.md
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Add captcha detection JetStream Outcome
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs, base-revision="main"

Update android-trending-and-recent-searches-v1.toml
  jetstream/android-trending-and-recent-searches-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip]Update android-trending-and-recent-searches-v1.toml (#1103)
  jetstream/android-trending-and-recent-searches-v1.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create about-welcome-remove-import-screens.toml
  jetstream/about-welcome-remove-import-screens.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create about-welcome-remove-import-screens.toml (#1104)
  jetstream/about-welcome-remove-import-screens.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create about-welcome-add-sign-in-buttons-to-all-screens-100.toml
  jetstream/about-welcome-add-sign-in-buttons-to-all-screens-100.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create about-welcome-add-sign-in-buttons-to-all-screens-100.toml (#1105)
  jetstream/about-welcome-add-sign-in-buttons-to-all-screens-100.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update about-welcome-remove-import-screens.toml
  jetstream/about-welcome-remove-import-screens.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Update about-welcome-remove-import-screens.toml (#1106)
  jetstream/about-welcome-remove-import-screens.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update mozilla-vpn-suggestions-holdback.toml
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update mozilla-vpn-suggestions-holdback.toml (#1108)
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ner-yelp-re-run5-with-delay-and-inert-options.toml
  jetstream/ner-yelp-re-run5-with-delay-and-inert-options.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create ner-yelp-re-run5-with-delay-and-inert-options.toml (#1109)
  jetstream/ner-yelp-re-run5-with-delay-and-inert-options.toml
Due: validate-jetstream, build-docs, base-revision="main"

chore: update auth timeout and delete circleci workflows
  .circleci/config.yml
  .circleci/validation-config.yml
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

Metrics for Taskbar Tabs experiments
  jetstream/taskbar-tabs-discovery-v2-use-cases.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, build-docs, base-revision="main"

bump version
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

chore: update auth timeout and delete circleci workflows (#1111)
  .circleci/config.yml
  .circleci/validation-config.yml
  .github/workflows/rerun-jetstream.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

fix: pip publishing
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[DENG-8655] Period-over-period engagment metrics
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Create message-experiment-new-tab-mobile-qr-code.toml
  jetstream/message-experiment-new-tab-mobile-qr-code.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci rerun-skip] Create message-experiment-new-tab-mobile-qr-code.toml (#1116)
  jetstream/message-experiment-new-tab-mobile-qr-code.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: pip publishing (#1114)
  .github/workflows/deploy-metric-config-parser.yml
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Metrics for Taskbar Tabs experiments (#1112)
  jetstream/taskbar-tabs-discovery-v2-use-cases.toml
  jetstream/taskbar-tabs-discovery.toml
Due: validate-jetstream, build-docs, base-revision="main"

[DENG-8655] Period-over-period engagment metrics (#1115)
  looker/definitions/firefox_desktop.toml
Due: validate-looker, build-docs, base-revision="main"

Update mozilla-vpn-suggestions-holdback.toml (#1117)
  jetstream/mozilla-vpn-suggestions-holdback.toml
Due: validate-jetstream, build-docs, base-revision="main"

Split default_partner_search_suggestion wih newer values
  jetstream/mozilla-vpn-suggestions-holdback.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

Split default_partner_search_suggestion with newer values (#1118)
  jetstream/mozilla-vpn-suggestions-holdback.toml
  jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: quotes around changed files var
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

fix: quotes around changed files var (#1121)
  .github/workflows/rerun-jetstream.yml
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
