Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, build-docs

Update definitions/cross_product.toml
  definitions/cross_product.toml
Due: validate-metrics, build-docs

version metrics, handle NULL client_id more robustly
  definitions/cross_product.toml
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

reference versioned data_sources
  definitions/cross_product.toml
  definitions/fenix.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
Due: validate-metrics, build-docs

Update dns-ohttp-dooh.toml
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

[ci rerun-skip] Update dns-ohttp-dooh.toml (#112)
  jetstream/dns-ohttp-dooh.toml
Due: validate-jetstream, build-docs

Update persist-search-term-staged-rollout-phase-1.toml
  jetstream/persist-search-term-staged-rollout-phase-1.toml
Due: validate-jetstream, build-docs

Update persist-search-term-staged-rollout-phase-1.toml (#113)
  jetstream/persist-search-term-staged-rollout-phase-1.toml
Due: validate-jetstream, build-docs

change `cross_product.toml` to `multi_product.toml`
  definitions/multi_product.toml
Due: validate-metrics, build-docs

add firefox desktop DAU definitions from AUA
  definitions/firefox_desktop.toml
Due: validate-metrics, build-docs

add `products` field to `multi_product.toml`
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Revert "add `products` field to `multi_product.toml`"
  definitions/multi_product.toml
Due: validate-metrics, build-docs

add and update DAU definitions (#109)
  definitions/fenix.toml
  definitions/firefox_desktop.toml
  definitions/firefox_ios.toml
  definitions/focus_android.toml
  definitions/focus_ios.toml
  definitions/multi_product.toml
Due: validate-metrics, build-docs

Added Networking outcome and starter metrics
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Added Networking outcome and starter metrics (#114)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Add 'time_to_response_start_ms' to the Networking outcome
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Add 'time_to_response_start_ms' to the Networking outcome (#115)
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

added custom ios sync configs
  .DS_Store
  jetstream/ios-sync-manager-integration.TOML
Due: validate-jetstream, build-docs

Rename ios-sync-manager-integration.TOML to ios-sync-manager-integration.toml
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

small syntax corrections
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

changed metric to plural metrics for bootstrap metrics
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

consistent use of rust.tab.sync name throughout
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

fixed history_sync sql query
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

adding moz-fx-data-shared-prod. to data sources
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

Update ios-sync-manager-integration.toml
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

add segments to import bookmarks experiment
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

added custom ios sync configs (#116)
  .DS_Store
  jetstream/ios-sync-manager-integration.toml
Due: validate-jetstream, build-docs

add segments to import bookmarks experiment (#118)
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

Fixup function calls and metric types
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Syntax Fixup
  definitions/functions.toml
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, validate-metrics, build-docs

Add stats functions
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Switch to using success rates with aggregate function
  definitions/functions.toml
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, validate-metrics, build-docs

Add TLS metrics to Networking Outcome
  jetstream/outcomes/firefox_desktop/networking.toml
Due: validate-jetstream, build-docs

Update import-bookmarks-copy.toml
  jetstream/import-bookmarks-copy.toml
Due: validate-jetstream, build-docs

Create .gitignore
  .gitignore
Due: build-docs

Delete .DS_Store
  .DS_Store
Due: build-docs

[ci rerun-skip] Create .gitignore (#120)
  .DS_Store
  .gitignore
Due: build-docs

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  build-docs: any of: .*
