Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml (#813)
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 2a50b076 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update device-migration-accounts-toolbar-icon.toml (#815)
  jetstream/device-migration-accounts-toolbar-icon.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed a36e54f8 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update login-status-advisory-callout.toml
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update login-status-advisory-callout.toml (#816)
  jetstream/login-status-advisory-callout.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 6a6ced95 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create ios-sent-from-firefox-rollout-increase-to-5.toml
  jetstream/ios-sent-from-firefox-rollout-increase-to-5.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add exposure signal to contextual chatbot suggestion experiment
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add exposure signal to contextual chatbot suggestion experiment (#817)
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 9815450a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: more efficient data source for relay outcome
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

feat: more efficient data source for relay outcome (#818)
  jetstream/outcomes/firefox_desktop/relay.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 67e2ac2f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create whats-new-notification-sidebarvertical-tabs.toml
  jetstream/whats-new-notification-sidebarvertical-tabs.toml
Due: validate-jetstream, build-docs, base-revision="main"

remove treatment-b from enrollment query
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

Remove treatment-b from enrollment query (#820)
  jetstream/contextual-chatbot-suggestion.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 0ebb0a7a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Skip new-toolbar-ios-ios-redesign-beta-rollout
  opmon/new-toolbar-ios-ios-redesign-beta-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

Skip new-toolbar-ios-ios-redesign-beta-rollout (#821)
  opmon/new-toolbar-ios-ios-redesign-beta-rollout.toml
Due: validate-opmon, build-docs, base-revision="main"

[ci skip] Deployed 662a0f11 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add custom config for success metrics
  jetstream/address-bar-update-donoharm.toml
Due: validate-jetstream, build-docs, base-revision="main"

add custom config for success metrics (#830)
  jetstream/address-bar-update-donoharm.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 5cca91f6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add toml file
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

convert submission_timestamp to submission_date in datasource
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

wrap select statment in datasource with parens
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

add toml file (#831)
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed c294038f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/relay/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Revert "add toml file (#831)"
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

Revert "add toml file" (#832)
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed a478c3f6 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Add toml files
  jetstream/ios-sent-from-firefox-25-of-pop.toml
  jetstream/ios-sent-from-firefox-rollout-increase-to-5.toml
Due: validate-jetstream, build-docs, base-revision="main"

delete draft file
  jetstream/ios-sent-from-firefox.toml
Due: validate-jetstream, build-docs, base-revision="main"

DS-3907 sent from firefox ios custom metrics (#833)
  jetstream/ios-sent-from-firefox-25-of-pop.toml
  jetstream/ios-sent-from-firefox-rollout-increase-to-5.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 122c8673 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Path conditions:
  validate-opmon: any of: opmon/.*
  validate-jetstream: any of: jetstream/.*
  validate-metrics: any of: definitions/.*
  validate-looker: any of: looker/.*
  build-docs: any of: .*
  validate-metric-config-parser: any of: lib/metric-config-parser/.*
  deploy-metric-config-parser: any of: lib/metric-config-parser/pyproject.toml
  base-revision="main": any of: .*
