Repository mozilla/metric-hub: changes, and which CircleCI parameters are due for each by the changed paths.
All: validate-opmon, validate-jetstream, validate-metrics, validate-looker, build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  filter-paths-main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.base_revision >>
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            lib/metric-config-parser/.* validate-metric-config-parser true
            lib/metric-config-parser/pyproject.toml deploy-metric-config-parser true
  filter-paths-pr:
    when:
      and:
        - not:
            equal: [main, << pipeline.git.branch >>]
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/validation-config.yml
          mapping: |
            opmon/.* validate-opmon true
            jetstream/.* validate-jetstream true
            definitions/.* validate-metrics true
            looker/.* validate-looker true
            .* build-docs true
            .* base-revision "main"
            lib/metric-config-parser/.* validate-metric-config-parser true

Create embedded-import-spotlight.toml
  jetstream/embedded-import-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create embedded-import-spotlight-existing-users.toml
  jetstream/embedded-import-spotlight-existing-users.toml
Due: validate-jetstream, build-docs, base-revision="main"

Add import rates to import spotlight experiment (#672)
  jetstream/embedded-import-spotlight-existing-users.toml
  jetstream/embedded-import-spotlight.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 0d1cb76b with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create recommend-add-ons-staff-pick-part-2.toml
  jetstream/recommend-add-ons-staff-pick-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create recommend-add-ons-staff-pick-part-2.toml (#673)
  jetstream/recommend-add-ons-staff-pick-part-2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 5d44640f with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Create sync-and-back-up-value-proposition-experiment.toml
  jetstream/sync-and-back-up-value-proposition-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update sync-and-back-up-value-proposition-experiment.toml
  jetstream/sync-and-back-up-value-proposition-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create sync-and-back-up-value-proposition-experiment.toml (#681)
  jetstream/sync-and-back-up-value-proposition-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 1439bd18 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

use legacy_client_id
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

Use legacy_client_id for data sources (#682)
  jetstream/new-alt-text-flow-and-generation.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 7321591a with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

feat: create ConfigCollection from non-git path
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

add test
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

refactor from_local_path into new class
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
Due: build-docs, validate-metric-config-parser, base-revision="main"

feat: create ConfigCollection from non-git path (#683)
  lib/metric-config-parser/metric_config_parser/config.py
  lib/metric-config-parser/metric_config_parser/tests/test_config.py
  lib/metric-config-parser/pyproject.toml
Due: build-docs, validate-metric-config-parser, deploy-metric-config-parser, base-revision="main"

[ci skip] Deployed d0f61f02 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

first draft
  jetstream/default-ui-experiment.toml
Due: validate-jetstream, build-docs, base-revision="main"

add jetstream configs
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

aggregate counts
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-mobile-sync-screen-skip-copy-optimization-v2.toml
  jetstream/android-mobile-sync-screen-skip-copy-optimization-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

Create android-mobile-sync-screen-skip-copy-optimization-v2.toml (#688)
  jetstream/android-mobile-sync-screen-skip-copy-optimization-v2.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 57275885 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/crlite/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/firefox_suggest/index.html
  outcomes/firefox_desktop/networking/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"

add jetstream configs (#687)
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/outcomes/firefox_desktop/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

moved files
  jetstream/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

added metrics to analysis periods
  jetstream/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Experiment configs moved out of outcomes folder (#689)
  jetstream/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

fix: change desktop default DAU metric to v2
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip-rerun] fix: change desktop default DAU metric to v2 (#690)
  definitions/firefox_desktop.toml
  jetstream/defaults/firefox_desktop.toml
Due: validate-jetstream, validate-metrics, build-docs, base-revision="main"

[ci skip] Deployed 5743720d with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/fenix/default-browser/index.html
  outcomes/fenix/sponsored_tiles/index.html
  outcomes/firefox_desktop/defaults_and_os_integration/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  outcomes/firefox_desktop/stricter_pbm/index.html
  search/search_index.json
  sitemap.xml.gz
Due: build-docs, base-revision="main"

Update pin-email-and-calendar-tabs-existing-user.toml
  jetstream/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/pin-email-and-calendar-tabs-early-day-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

Update pin-email-and-calendar-tabs-existing-user.toml (#691)
  jetstream/pin-email-and-calendar-tabs-early-day-user.toml
  jetstream/pin-email-and-calendar-tabs-existing-user.toml
Due: validate-jetstream, build-docs, base-revision="main"

[ci skip] Deployed 8abcf8a3 with MkDocs version: 1.3.0
  default_configs/fenix/index.html
  default_configs/firefox_desktop/index.html
  default_configs/firefox_ios/index.html
  default_configs/focus_android/index.html
  default_configs/focus_ios/index.html
  default_configs/klar_android/index.html
  default_configs/klar_ios/index.html
  default_configs/monitor_cirrus/index.html
  functions/index.html
  outcomes/firefox_desktop/newtab_visibility/index.html
  outcomes/firefox_desktop/sponsored_tiles/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: build-docs, base-revision="main"
